<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>OperatorFabric Realization</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>OperatorFabric Realization</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/EAID_3C3563B0_9FD9_48df_B5AE_5DB7937DE7E7.png" alt="OperatorFabric Realization" usemap="#EAID_3C3563B0_9FD9_48df_B5AE_5DB7937DE7E7map"/>
			   <map name="EAID_3C3563B0_9FD9_48df_B5AE_5DB7937DE7E7map">
				  		<area shape="rect" coords="838,76,1007,131" href="../elements/id-1a87735dd90e434892a8191493cb80e1.html"  target="element">
				  		<area shape="rect" coords="838,10,1007,65" href="../elements/id-12c81c5ff837402ca1ea3a6d83a14fe3.html"  target="element">
				  		<area shape="rect" coords="10,70,214,125" href="../elements/id-6c82af92ba9c47d79e80c493d7f6938b.html"  target="element">
				  				<area shape="rect" coords="1078,34,1198,203" href="../elements/id-1b154fe1e48d450d95f41febd1565b04.html"  target="element">

				  		<area shape="rect" coords="1066,10,1211,215" href="../elements/id-96b70c1e1b4247248da605e7344b5a4f.html"  target="element">
				  		<area shape="rect" coords="838,142,1007,197" href="../elements/id-ce53576376394031b08427c84039cd1f.html"  target="element">
				  		<area shape="rect" coords="10,130,214,185" href="../elements/id-46af0d4c29cb4d1faea3e07c70233db3.html"  target="element">
				  				<area shape="rect" coords="262,310,382,365" href="../elements/id-cf23dae96aa146c38b372abaefaf5116.html"  target="element">

				  		<area shape="rect" coords="238,250,406,695" href="../elements/id-62b1c27f9ea44515a79a0a41c84df86b.html"  target="element">
				  				<area shape="rect" coords="670,130,790,185" href="../elements/id-aa4cb82508d84c8486fb8a1d272879be.html"  target="element">
				  				<area shape="rect" coords="538,130,658,185" href="../elements/id-40fc28d1ce4e4a508bbe1aa010c86050.html"  target="element">
				  				<area shape="rect" coords="406,130,526,185" href="../elements/id-afca4aaaccfb46c585233ec262169f72.html"  target="element">
				  				<area shape="rect" coords="406,70,526,125" href="../elements/id-c95eb931940c4ed9805d349fe0373f92.html"  target="element">
				  				<area shape="rect" coords="274,70,394,125" href="../elements/id-61f7d9fa48c64a828c41777a72dc5c43.html"  target="element">
				  				<area shape="rect" coords="598,58,719,107" href="../elements/EAID_54E7A856_181B_4741_8B3F_456C8424070F.html"  target="element">

				  		<area shape="rect" coords="238,10,803,215" href="../elements/id-c9ed4ccf17b245a4aeec04c8c20f177c.html"  target="element">
				  				<area shape="rect" coords="502,610,622,665" href="../elements/id-8f09651529c34647be689ba82dd3303a.html"  target="element">
				  				<area shape="rect" coords="502,550,622,605" href="../elements/id-e3bc05d4e5834f81a9336820033e80a7.html"  target="element">
				  				<area shape="rect" coords="502,484,622,539" href="../elements/id-57b89339a3984e02aa7ea47157f5f298.html"  target="element">
				  				<area shape="rect" coords="766,526,886,581" href="../elements/id-5ed9ebbe3810493a9b5731cd01d50f7f.html"  target="element">
				  				<area shape="rect" coords="766,454,886,509" href="../elements/id-bfbaed4666ca49b8835b212004e39c33.html"  target="element">
				  				<area shape="rect" coords="502,310,622,365" href="../elements/id-0cb3967cbead41fab60d9bd798006d60.html"  target="element">
				  				<area shape="rect" coords="502,382,622,437" href="../elements/id-aefd588b44c64009a36f2913233ff3d7.html"  target="element">
				  				<area shape="rect" coords="634,382,754,437" href="../elements/id-1230fef3701f4d7da0afce54b1fea51d.html"  target="element">
				  				<area shape="rect" coords="766,382,886,437" href="../elements/id-f325302ab6da4f2ca975b0e4b8add73a.html"  target="element">
				  				<area shape="rect" coords="766,310,886,365" href="../elements/id-0454f062782c496ebbca6b1cbd9ba6aa.html"  target="element">
				  				<area shape="rect" coords="634,310,754,365" href="../elements/id-ec59b8c5a493416b834d44f670879853.html"  target="element">

				  		<area shape="rect" coords="430,250,959,695" href="../elements/EAID_BD4C3EA3_0610_4da0_B2A3_EF3F1DD1DD3B.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">This is the project achitecture view of the OperatorFabric project. OperatorFabric provides a dashboard for the system operator that is designed to aggregate notifications on expectations and alerts from all applications into a single screen and allow the system operator to act on them. The notifications are materialized by cards sorted in a feed according to their period of relevance and their severity. For more information on OperatorFabric, check out the project's page:  https://lfenergy.org/projects/operatorfabric/</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/EAID_BD4C3EA3_0610_4da0_B2A3_EF3F1DD1DD3B.html" target="element"> OperatorFabric-core </a> </td>
											    <td> <a href="../elements/EAID_BD4C3EA3_0610_4da0_B2A3_EF3F1DD1DD3B.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-ec59b8c5a493416b834d44f670879853.html" target="element"> OF-external-app </a> </td>
													    <td> <a href="../elements/id-ec59b8c5a493416b834d44f670879853.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0454f062782c496ebbca6b1cbd9ba6aa.html" target="element"> OF-webUI </a> </td>
													    <td> <a href="../elements/id-0454f062782c496ebbca6b1cbd9ba6aa.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f325302ab6da4f2ca975b0e4b8add73a.html" target="element"> OF-cards-consultation </a> </td>
													    <td> <a href="../elements/id-f325302ab6da4f2ca975b0e4b8add73a.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-1230fef3701f4d7da0afce54b1fea51d.html" target="element"> OF-business-service </a> </td>
													    <td> <a href="../elements/id-1230fef3701f4d7da0afce54b1fea51d.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-aefd588b44c64009a36f2913233ff3d7.html" target="element"> OF-cards-publication </a> </td>
													    <td> <a href="../elements/id-aefd588b44c64009a36f2913233ff3d7.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0cb3967cbead41fab60d9bd798006d60.html" target="element"> OF-user-service </a> </td>
													    <td> <a href="../elements/id-0cb3967cbead41fab60d9bd798006d60.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-bfbaed4666ca49b8835b212004e39c33.html" target="element"> OF-external-devices </a> </td>
													    <td> <a href="../elements/id-bfbaed4666ca49b8835b212004e39c33.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-5ed9ebbe3810493a9b5731cd01d50f7f.html" target="element"> OF-dummy-modbus-device(1...n) </a> </td>
													    <td> <a href="../elements/id-5ed9ebbe3810493a9b5731cd01d50f7f.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-57b89339a3984e02aa7ea47157f5f298.html" target="element"> RabbitMQ </a> </td>
													    <td> <a href="../elements/id-57b89339a3984e02aa7ea47157f5f298.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e3bc05d4e5834f81a9336820033e80a7.html" target="element"> MongoDB </a> </td>
													    <td> <a href="../elements/id-e3bc05d4e5834f81a9336820033e80a7.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-8f09651529c34647be689ba82dd3303a.html" target="element"> Keycloak </a> </td>
													    <td> <a href="../elements/id-8f09651529c34647be689ba82dd3303a.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-c9ed4ccf17b245a4aeec04c8c20f177c.html" target="element"> Event Management </a> </td>
											    <td> <a href="../elements/id-c9ed4ccf17b245a4aeec04c8c20f177c.html" target="element" class="i18n-elementtype-ApplicationFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/EAID_54E7A856_181B_4741_8B3F_456C8424070F.html" target="element"> Alarm Management </a> </td>
													    <td> <a href="../elements/EAID_54E7A856_181B_4741_8B3F_456C8424070F.html" target="element" class="i18n-elementtype-ApplicationFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-61f7d9fa48c64a828c41777a72dc5c43.html" target="element"> Event Dispatching </a> </td>
													    <td> <a href="../elements/id-61f7d9fa48c64a828c41777a72dc5c43.html" target="element" class="i18n-elementtype-ApplicationFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c95eb931940c4ed9805d349fe0373f92.html" target="element"> Event Notification </a> </td>
													    <td> <a href="../elements/id-c95eb931940c4ed9805d349fe0373f92.html" target="element" class="i18n-elementtype-ApplicationFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-afca4aaaccfb46c585233ec262169f72.html" target="element"> Event Sending </a> </td>
													    <td> <a href="../elements/id-afca4aaaccfb46c585233ec262169f72.html" target="element" class="i18n-elementtype-ApplicationFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-40fc28d1ce4e4a508bbe1aa010c86050.html" target="element"> Event Storage </a> </td>
													    <td> <a href="../elements/id-40fc28d1ce4e4a508bbe1aa010c86050.html" target="element" class="i18n-elementtype-ApplicationFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-aa4cb82508d84c8486fb8a1d272879be.html" target="element"> Event Priority Management </a> </td>
													    <td> <a href="../elements/id-aa4cb82508d84c8486fb8a1d272879be.html" target="element" class="i18n-elementtype-ApplicationFunction">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-62b1c27f9ea44515a79a0a41c84df86b.html" target="element"> LetsCoordinate </a> </td>
											    <td> <a href="../elements/id-62b1c27f9ea44515a79a0a41c84df86b.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-cf23dae96aa146c38b372abaefaf5116.html" target="element"> OF-thirds-services </a> </td>
													    <td> <a href="../elements/id-cf23dae96aa146c38b372abaefaf5116.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-46af0d4c29cb4d1faea3e07c70233db3.html" target="element"> Interaction between internal operational control centers </a> </td>
											    <td> <a href="../elements/id-46af0d4c29cb4d1faea3e07c70233db3.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ce53576376394031b08427c84039cd1f.html" target="element"> Centralized real time business event management </a> </td>
											    <td> <a href="../elements/id-ce53576376394031b08427c84039cd1f.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-96b70c1e1b4247248da605e7344b5a4f.html" target="element"> HMI </a> </td>
											    <td> <a href="../elements/id-96b70c1e1b4247248da605e7344b5a4f.html" target="element" class="i18n-elementtype-ApplicationFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-1b154fe1e48d450d95f41febd1565b04.html" target="element"> Event Management HMI </a> </td>
													    <td> <a href="../elements/id-1b154fe1e48d450d95f41febd1565b04.html" target="element" class="i18n-elementtype-ApplicationFunction">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-6c82af92ba9c47d79e80c493d7f6938b.html" target="element"> Interaction between external operational control centers </a> </td>
											    <td> <a href="../elements/id-6c82af92ba9c47d79e80c493d7f6938b.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-12c81c5ff837402ca1ea3a6d83a14fe3.html" target="element"> Hypervision of the energy system state </a> </td>
											    <td> <a href="../elements/id-12c81c5ff837402ca1ea3a6d83a14fe3.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1a87735dd90e434892a8191493cb80e1.html" target="element"> Acting on the future energy system state </a> </td>
											    <td> <a href="../elements/id-1a87735dd90e434892a8191493cb80e1.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-2a2b19133d614d50a27bf66fd7006a88.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2a2b19133d614d50a27bf66fd7006a88.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/EAID_BD4C3EA3_0610_4da0_B2A3_EF3F1DD1DD3B.html" target="element"> OperatorFabric-core </a> </td>
																		<td> <a href="../elements/id-ec59b8c5a493416b834d44f670879853.html" target="element"> OF-external-app </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-72170f9b1aed4e67a9fb817a5463b324.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-72170f9b1aed4e67a9fb817a5463b324.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/EAID_BD4C3EA3_0610_4da0_B2A3_EF3F1DD1DD3B.html" target="element"> OperatorFabric-core </a> </td>
																		<td> <a href="../elements/id-0454f062782c496ebbca6b1cbd9ba6aa.html" target="element"> OF-webUI </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a06220bd23784e3989ce16741c528975.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a06220bd23784e3989ce16741c528975.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/EAID_BD4C3EA3_0610_4da0_B2A3_EF3F1DD1DD3B.html" target="element"> OperatorFabric-core </a> </td>
																		<td> <a href="../elements/id-f325302ab6da4f2ca975b0e4b8add73a.html" target="element"> OF-cards-consultation </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9a7d98f32ccc4683821cb18d431859bd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9a7d98f32ccc4683821cb18d431859bd.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/EAID_BD4C3EA3_0610_4da0_B2A3_EF3F1DD1DD3B.html" target="element"> OperatorFabric-core </a> </td>
																		<td> <a href="../elements/id-1230fef3701f4d7da0afce54b1fea51d.html" target="element"> OF-business-service </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8fb4f7441da941bba65ba0cf3787de40.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8fb4f7441da941bba65ba0cf3787de40.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/EAID_BD4C3EA3_0610_4da0_B2A3_EF3F1DD1DD3B.html" target="element"> OperatorFabric-core </a> </td>
																		<td> <a href="../elements/id-aefd588b44c64009a36f2913233ff3d7.html" target="element"> OF-cards-publication </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-438154d261e045d2abc99f8325e291ae.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-438154d261e045d2abc99f8325e291ae.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/EAID_BD4C3EA3_0610_4da0_B2A3_EF3F1DD1DD3B.html" target="element"> OperatorFabric-core </a> </td>
																		<td> <a href="../elements/id-0cb3967cbead41fab60d9bd798006d60.html" target="element"> OF-user-service </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d0472a40bb66489994de7943ef611d7a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d0472a40bb66489994de7943ef611d7a.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/EAID_BD4C3EA3_0610_4da0_B2A3_EF3F1DD1DD3B.html" target="element"> OperatorFabric-core </a> </td>
																		<td> <a href="../elements/id-bfbaed4666ca49b8835b212004e39c33.html" target="element"> OF-external-devices </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a3536c45a8014ee4b799468bd2ec612f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a3536c45a8014ee4b799468bd2ec612f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/EAID_BD4C3EA3_0610_4da0_B2A3_EF3F1DD1DD3B.html" target="element"> OperatorFabric-core </a> </td>
																		<td> <a href="../elements/id-5ed9ebbe3810493a9b5731cd01d50f7f.html" target="element"> OF-dummy-modbus-device(1...n) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b58b782fafbd4cdcac8e3d93a5899ed1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b58b782fafbd4cdcac8e3d93a5899ed1.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/EAID_BD4C3EA3_0610_4da0_B2A3_EF3F1DD1DD3B.html" target="element"> OperatorFabric-core </a> </td>
																		<td> <a href="../elements/id-57b89339a3984e02aa7ea47157f5f298.html" target="element"> RabbitMQ </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7f54e04b8c4646e4811d03f6b87d3d46.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7f54e04b8c4646e4811d03f6b87d3d46.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/EAID_BD4C3EA3_0610_4da0_B2A3_EF3F1DD1DD3B.html" target="element"> OperatorFabric-core </a> </td>
																		<td> <a href="../elements/id-e3bc05d4e5834f81a9336820033e80a7.html" target="element"> MongoDB </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c0013e4ae04c47e1943644126c6a26cb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c0013e4ae04c47e1943644126c6a26cb.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/EAID_BD4C3EA3_0610_4da0_B2A3_EF3F1DD1DD3B.html" target="element"> OperatorFabric-core </a> </td>
																		<td> <a href="../elements/id-8f09651529c34647be689ba82dd3303a.html" target="element"> Keycloak </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/EAID_B826E021_B951_4058_8DB1_F635B98611E5.html" target="element">  </a> </td>
																		<td> <a href="../elements/EAID_B826E021_B951_4058_8DB1_F635B98611E5.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/EAID_BD4C3EA3_0610_4da0_B2A3_EF3F1DD1DD3B.html" target="element"> OperatorFabric-core </a> </td>
																		<td> <a href="../elements/id-c9ed4ccf17b245a4aeec04c8c20f177c.html" target="element"> Event Management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-13b831d762ba4dccb6c3b3aa13237ffd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-13b831d762ba4dccb6c3b3aa13237ffd.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/EAID_BD4C3EA3_0610_4da0_B2A3_EF3F1DD1DD3B.html" target="element"> OperatorFabric-core </a> </td>
																		<td> <a href="../elements/id-1b154fe1e48d450d95f41febd1565b04.html" target="element"> Event Management HMI </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-9cacb7d7706745e3b5786c536cdea0fa.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9cacb7d7706745e3b5786c536cdea0fa.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c9ed4ccf17b245a4aeec04c8c20f177c.html" target="element"> Event Management </a> </td>
																		<td> <a href="../elements/EAID_54E7A856_181B_4741_8B3F_456C8424070F.html" target="element"> Alarm Management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c26861c45cb74327bd14c9925f2df069.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c26861c45cb74327bd14c9925f2df069.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c9ed4ccf17b245a4aeec04c8c20f177c.html" target="element"> Event Management </a> </td>
																		<td> <a href="../elements/id-61f7d9fa48c64a828c41777a72dc5c43.html" target="element"> Event Dispatching </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a4a4df47d0ba4266b44811f7c7925fa4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a4a4df47d0ba4266b44811f7c7925fa4.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c9ed4ccf17b245a4aeec04c8c20f177c.html" target="element"> Event Management </a> </td>
																		<td> <a href="../elements/id-c95eb931940c4ed9805d349fe0373f92.html" target="element"> Event Notification </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0730ef13da35485ea22b630dcb2f6685.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0730ef13da35485ea22b630dcb2f6685.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c9ed4ccf17b245a4aeec04c8c20f177c.html" target="element"> Event Management </a> </td>
																		<td> <a href="../elements/id-afca4aaaccfb46c585233ec262169f72.html" target="element"> Event Sending </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5d3c646744184007bff9073daad1ed23.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5d3c646744184007bff9073daad1ed23.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c9ed4ccf17b245a4aeec04c8c20f177c.html" target="element"> Event Management </a> </td>
																		<td> <a href="../elements/id-40fc28d1ce4e4a508bbe1aa010c86050.html" target="element"> Event Storage </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b984723ee1a14109ae1064264198a08c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b984723ee1a14109ae1064264198a08c.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c9ed4ccf17b245a4aeec04c8c20f177c.html" target="element"> Event Management </a> </td>
																		<td> <a href="../elements/id-46af0d4c29cb4d1faea3e07c70233db3.html" target="element"> Interaction between internal operational control centers </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-87830a01b5644f56adefed0aac3f7715.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-87830a01b5644f56adefed0aac3f7715.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c9ed4ccf17b245a4aeec04c8c20f177c.html" target="element"> Event Management </a> </td>
																		<td> <a href="../elements/id-ce53576376394031b08427c84039cd1f.html" target="element"> Centralized real time business event management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1cae1386c4d74c98a6498ab6319ec94f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1cae1386c4d74c98a6498ab6319ec94f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c9ed4ccf17b245a4aeec04c8c20f177c.html" target="element"> Event Management </a> </td>
																		<td> <a href="../elements/id-aa4cb82508d84c8486fb8a1d272879be.html" target="element"> Event Priority Management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-fac318a6729147c6a1cbf2f5a10be60c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fac318a6729147c6a1cbf2f5a10be60c.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c9ed4ccf17b245a4aeec04c8c20f177c.html" target="element"> Event Management </a> </td>
																		<td> <a href="../elements/id-12c81c5ff837402ca1ea3a6d83a14fe3.html" target="element"> Hypervision of the energy system state </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-db90a5fd1ecd4ccda0d6214f94126473.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-db90a5fd1ecd4ccda0d6214f94126473.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c9ed4ccf17b245a4aeec04c8c20f177c.html" target="element"> Event Management </a> </td>
																		<td> <a href="../elements/id-1a87735dd90e434892a8191493cb80e1.html" target="element"> Acting on the future energy system state </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-4db3a20d92ec4c6f94bcf3dba9128cb5.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-4db3a20d92ec4c6f94bcf3dba9128cb5.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-61f7d9fa48c64a828c41777a72dc5c43.html" target="element"> Event Dispatching </a> </td>
																				<td> <a href="../elements/id-6c82af92ba9c47d79e80c493d7f6938b.html" target="element"> Interaction between external operational control centers </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-bce3d4c0e44044dbaced80db20e92135.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bce3d4c0e44044dbaced80db20e92135.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-62b1c27f9ea44515a79a0a41c84df86b.html" target="element"> LetsCoordinate </a> </td>
																		<td> <a href="../elements/id-cf23dae96aa146c38b372abaefaf5116.html" target="element"> OF-thirds-services </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-4beb3066d373402ab1fcbdebdfe6f807.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-4beb3066d373402ab1fcbdebdfe6f807.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-cf23dae96aa146c38b372abaefaf5116.html" target="element"> OF-thirds-services </a> </td>
																				<td> <a href="../elements/id-61f7d9fa48c64a828c41777a72dc5c43.html" target="element"> Event Dispatching </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-a41975bba9064db2ac5d281028d7c7ba.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a41975bba9064db2ac5d281028d7c7ba.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-96b70c1e1b4247248da605e7344b5a4f.html" target="element"> HMI </a> </td>
																		<td> <a href="../elements/id-1b154fe1e48d450d95f41febd1565b04.html" target="element"> Event Management HMI </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-da8a106f0b364c9b910f9eda1bb062c2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-da8a106f0b364c9b910f9eda1bb062c2.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-96b70c1e1b4247248da605e7344b5a4f.html" target="element"> HMI </a> </td>
																		<td> <a href="../elements/id-ce53576376394031b08427c84039cd1f.html" target="element"> Centralized real time business event management </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-8eff640f4d794669849e9c4454c62f07.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-8eff640f4d794669849e9c4454c62f07.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-1b154fe1e48d450d95f41febd1565b04.html" target="element"> Event Management HMI </a> </td>
																				<td> <a href="../elements/id-1a87735dd90e434892a8191493cb80e1.html" target="element"> Acting on the future energy system state </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-d32f22efcada4a48b495af485aec42b7.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d32f22efcada4a48b495af485aec42b7.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-1b154fe1e48d450d95f41febd1565b04.html" target="element"> Event Management HMI </a> </td>
																				<td> <a href="../elements/id-12c81c5ff837402ca1ea3a6d83a14fe3.html" target="element"> Hypervision of the energy system state </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>