<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Dynamic Security Assessment</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Dynamic Security Assessment</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/EAID_63C710E8_6B76_4b4a_88BE_0E617116F1F0.png" alt="Dynamic Security Assessment" usemap="#EAID_63C710E8_6B76_4b4a_88BE_0E617116F1F0map"/>
			   <map name="EAID_63C710E8_6B76_4b4a_88BE_0E617116F1F0map">
				  		<area shape="rect" coords="10,515,100,585" href="../elements/EAID_92753E01_DFF5_43f8_9026_4714EB56715E.html"  target="element">
				  		<area shape="rect" coords="355,88,459,158" href="../elements/EAID_38A1BDDD_7DA3_4322_92C9_3033C8507824.html"  target="element">
				  		<area shape="rect" coords="139,10,229,80" href="../elements/EAID_2D898591_073C_416e_B510_E9C4AEF3BAF3.html"  target="element">
				  		<area shape="rect" coords="10,268,104,338" href="../elements/EAID_0DA4721B_ED9E_43d9_A750_28D68CD9908F.html"  target="element">
				  		<area shape="rect" coords="10,186,125,256" href="../elements/EAID_49915492_9007_4083_8D75_715C3C767EE4.html"  target="element">
				  		<area shape="rect" coords="10,104,127,177" href="../elements/EAID_46950E9D_B46C_4c49_A0E8_DA4EB482D82C.html"  target="element">
				  				<area shape="rect" coords="807,361,897,431" href="../elements/EAID_30AA6BE0_D5D0_411a_AC64_DAF632AAFE29.html"  target="element">

				  		<area shape="rect" coords="779,307,926,453" href="../elements/EAID_6CA579CA_EC0B_4ffd_A9EA_A4ADF2C43629.html"  target="element">
				  		<area shape="rect" coords="484,87,574,157" href="../elements/EAID_7FA51065_A028_471b_B1B1_DE72B890F240.html"  target="element">
				  						<area shape="rect" coords="345,374,450,444" href="../elements/EAID_EA9D133D_C192_4549_89A5_705EA35DEE66.html"  target="element">

				  				<area shape="rect" coords="325,318,470,458" href="../elements/EAID_BC9AA8EC_7225_409a_86E3_44E1E30A62AB.html"  target="element">
				  				<area shape="rect" coords="597,388,702,458" href="../elements/EAID_3049B6B2_4F62_4767_883E_2AE35A7DE090.html"  target="element">
				  				<area shape="rect" coords="597,300,702,370" href="../elements/EAID_C37DA04B_B952_4ee9_B229_29D3515DCA08.html"  target="element">
				  				<area shape="rect" coords="478,370,583,440" href="../elements/EAID_004A02A7_6CF2_41e6_BAED_95FD9BD7E3B0.html"  target="element">

				  		<area shape="rect" coords="309,242,722,476" href="../elements/EAID_B1D264FA_0549_4f7b_992A_46139B679507.html"  target="element">
				  		<area shape="rect" coords="15,10,106,80" href="../elements/EAID_E66CE9E1_D1AA_4e65_9948_F31053711580.html"  target="element">
				  		<area shape="rect" coords="10,347,100,417" href="../elements/EAID_FCF60C29_8725_4490_9717_2F4C8A9EFA77.html"  target="element">
				  		<area shape="rect" coords="10,425,100,495" href="../elements/EAID_2784DB42_7413_4c24_BE34_C9991EEE5112.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/EAID_2784DB42_7413_4c24_BE34_C9991EEE5112.html" target="element"> Outages </a> </td>
											    <td> <a href="../elements/EAID_2784DB42_7413_4c24_BE34_C9991EEE5112.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/EAID_FCF60C29_8725_4490_9717_2F4C8A9EFA77.html" target="element"> Load Forecast </a> </td>
											    <td> <a href="../elements/EAID_FCF60C29_8725_4490_9717_2F4C8A9EFA77.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/EAID_E66CE9E1_D1AA_4e65_9948_F31053711580.html" target="element"> Power System State </a> </td>
											    <td> <a href="../elements/EAID_E66CE9E1_D1AA_4e65_9948_F31053711580.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/EAID_B1D264FA_0549_4f7b_992A_46139B679507.html" target="element"> Dynamic Security Assessment </a> </td>
											    <td> <a href="../elements/EAID_B1D264FA_0549_4f7b_992A_46139B679507.html" target="element" class="i18n-elementtype-ApplicationFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/EAID_004A02A7_6CF2_41e6_BAED_95FD9BD7E3B0.html" target="element"> Frequency Stability </a> </td>
													    <td> <a href="../elements/EAID_004A02A7_6CF2_41e6_BAED_95FD9BD7E3B0.html" target="element" class="i18n-elementtype-ApplicationFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/EAID_C37DA04B_B952_4ee9_B229_29D3515DCA08.html" target="element"> Small Signal Stability Assessment </a> </td>
													    <td> <a href="../elements/EAID_C37DA04B_B952_4ee9_B229_29D3515DCA08.html" target="element" class="i18n-elementtype-ApplicationFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/EAID_3049B6B2_4F62_4767_883E_2AE35A7DE090.html" target="element"> Voltage Stability Assessment </a> </td>
													    <td> <a href="../elements/EAID_3049B6B2_4F62_4767_883E_2AE35A7DE090.html" target="element" class="i18n-elementtype-ApplicationFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/EAID_BC9AA8EC_7225_409a_86E3_44E1E30A62AB.html" target="element"> Transient Stability Assessment </a> </td>
													    <td> <a href="../elements/EAID_BC9AA8EC_7225_409a_86E3_44E1E30A62AB.html" target="element" class="i18n-elementtype-ApplicationFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/EAID_EA9D133D_C192_4549_89A5_705EA35DEE66.html" target="element"> Electro-magnetic Transient Stability Assessment </a> </td>
															    <td> <a href="../elements/EAID_EA9D133D_C192_4549_89A5_705EA35DEE66.html" target="element" class="i18n-elementtype-ApplicationFunction">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/EAID_7FA51065_A028_471b_B1B1_DE72B890F240.html" target="element"> Dynamic base-case </a> </td>
											    <td> <a href="../elements/EAID_7FA51065_A028_471b_B1B1_DE72B890F240.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/EAID_6CA579CA_EC0B_4ffd_A9EA_A4ADF2C43629.html" target="element"> Dynamic Security Violations </a> </td>
											    <td> <a href="../elements/EAID_6CA579CA_EC0B_4ffd_A9EA_A4ADF2C43629.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/EAID_30AA6BE0_D5D0_411a_AC64_DAF632AAFE29.html" target="element"> EMT Stability Violations </a> </td>
													    <td> <a href="../elements/EAID_30AA6BE0_D5D0_411a_AC64_DAF632AAFE29.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/EAID_46950E9D_B46C_4c49_A0E8_DA4EB482D82C.html" target="element"> Synchronous Generator Dynamics Models </a> </td>
											    <td> <a href="../elements/EAID_46950E9D_B46C_4c49_A0E8_DA4EB482D82C.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/EAID_49915492_9007_4083_8D75_715C3C767EE4.html" target="element"> Transmission network model </a> </td>
											    <td> <a href="../elements/EAID_49915492_9007_4083_8D75_715C3C767EE4.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/EAID_0DA4721B_ED9E_43d9_A750_28D68CD9908F.html" target="element"> Granular RES Models </a> </td>
											    <td> <a href="../elements/EAID_0DA4721B_ED9E_43d9_A750_28D68CD9908F.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/EAID_2D898591_073C_416e_B510_E9C4AEF3BAF3.html" target="element"> Market solution </a> </td>
											    <td> <a href="../elements/EAID_2D898591_073C_416e_B510_E9C4AEF3BAF3.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/EAID_38A1BDDD_7DA3_4322_92C9_3033C8507824.html" target="element"> DSA Contingencies </a> </td>
											    <td> <a href="../elements/EAID_38A1BDDD_7DA3_4322_92C9_3033C8507824.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/EAID_92753E01_DFF5_43f8_9026_4714EB56715E.html" target="element"> Variable Energy Resource Forecast </a> </td>
											    <td> <a href="../elements/EAID_92753E01_DFF5_43f8_9026_4714EB56715E.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/EAID_0AD84F74_0C60_482e_8588_A4BF0CEFC82A.html" target="element">  </a> </td>
																		<td> <a href="../elements/EAID_0AD84F74_0C60_482e_8588_A4BF0CEFC82A.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/EAID_B1D264FA_0549_4f7b_992A_46139B679507.html" target="element"> Dynamic Security Assessment </a> </td>
																		<td> <a href="../elements/EAID_49915492_9007_4083_8D75_715C3C767EE4.html" target="element"> Transmission network model </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/EAID_6D65C6E7_25F6_47b6_926E_3B1F2DA3DA43.html" target="element">  </a> </td>
																		<td> <a href="../elements/EAID_6D65C6E7_25F6_47b6_926E_3B1F2DA3DA43.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/EAID_B1D264FA_0549_4f7b_992A_46139B679507.html" target="element"> Dynamic Security Assessment </a> </td>
																		<td> <a href="../elements/EAID_FCF60C29_8725_4490_9717_2F4C8A9EFA77.html" target="element"> Load Forecast </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/EAID_D5E0973B_96B6_4e5c_B137_CF0F08BA38F6.html" target="element">  </a> </td>
																		<td> <a href="../elements/EAID_D5E0973B_96B6_4e5c_B137_CF0F08BA38F6.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/EAID_B1D264FA_0549_4f7b_992A_46139B679507.html" target="element"> Dynamic Security Assessment </a> </td>
																		<td> <a href="../elements/EAID_46950E9D_B46C_4c49_A0E8_DA4EB482D82C.html" target="element"> Synchronous Generator Dynamics Models </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/EAID_A086A440_8B48_4915_B40F_16B02F9AF5B0.html" target="element">  </a> </td>
																		<td> <a href="../elements/EAID_A086A440_8B48_4915_B40F_16B02F9AF5B0.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/EAID_B1D264FA_0549_4f7b_992A_46139B679507.html" target="element"> Dynamic Security Assessment </a> </td>
																		<td> <a href="../elements/EAID_6CA579CA_EC0B_4ffd_A9EA_A4ADF2C43629.html" target="element"> Dynamic Security Violations </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/EAID_A64B8856_A5F6_4b15_929B_64FDFF7AEA5A.html" target="element">  </a> </td>
																		<td> <a href="../elements/EAID_A64B8856_A5F6_4b15_929B_64FDFF7AEA5A.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/EAID_B1D264FA_0549_4f7b_992A_46139B679507.html" target="element"> Dynamic Security Assessment </a> </td>
																		<td> <a href="../elements/EAID_38A1BDDD_7DA3_4322_92C9_3033C8507824.html" target="element"> DSA Contingencies </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/EAID_1728B59E_1448_4532_AD54_A53B882C0973.html" target="element">  </a> </td>
																		<td> <a href="../elements/EAID_1728B59E_1448_4532_AD54_A53B882C0973.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/EAID_B1D264FA_0549_4f7b_992A_46139B679507.html" target="element"> Dynamic Security Assessment </a> </td>
																		<td> <a href="../elements/EAID_7FA51065_A028_471b_B1B1_DE72B890F240.html" target="element"> Dynamic base-case </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/EAID_42E19CB9_BB7E_4c5b_9623_66E6092BB0CF.html" target="element">  </a> </td>
																		<td> <a href="../elements/EAID_42E19CB9_BB7E_4c5b_9623_66E6092BB0CF.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/EAID_B1D264FA_0549_4f7b_992A_46139B679507.html" target="element"> Dynamic Security Assessment </a> </td>
																		<td> <a href="../elements/EAID_2784DB42_7413_4c24_BE34_C9991EEE5112.html" target="element"> Outages </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/EAID_FF95376E_1A4C_4366_A0F8_7A0F8F04C1DD.html" target="element">  </a> </td>
																		<td> <a href="../elements/EAID_FF95376E_1A4C_4366_A0F8_7A0F8F04C1DD.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/EAID_B1D264FA_0549_4f7b_992A_46139B679507.html" target="element"> Dynamic Security Assessment </a> </td>
																		<td> <a href="../elements/EAID_92753E01_DFF5_43f8_9026_4714EB56715E.html" target="element"> Variable Energy Resource Forecast </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/EAID_F0A6903E_66B9_4342_93AE_08F8B57D699D.html" target="element">  </a> </td>
																		<td> <a href="../elements/EAID_F0A6903E_66B9_4342_93AE_08F8B57D699D.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/EAID_B1D264FA_0549_4f7b_992A_46139B679507.html" target="element"> Dynamic Security Assessment </a> </td>
																		<td> <a href="../elements/EAID_0DA4721B_ED9E_43d9_A750_28D68CD9908F.html" target="element"> Granular RES Models </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/EAID_3F6F6726_AF7B_4915_A6CC_E1F0FF065E94.html" target="element">  </a> </td>
																		<td> <a href="../elements/EAID_3F6F6726_AF7B_4915_A6CC_E1F0FF065E94.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/EAID_B1D264FA_0549_4f7b_992A_46139B679507.html" target="element"> Dynamic Security Assessment </a> </td>
																		<td> <a href="../elements/EAID_E66CE9E1_D1AA_4e65_9948_F31053711580.html" target="element"> Power System State </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/EAID_CFE4AA09_9FCA_4e50_8C2D_9F516DFF055D.html" target="element">  </a> </td>
																		<td> <a href="../elements/EAID_CFE4AA09_9FCA_4e50_8C2D_9F516DFF055D.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/EAID_B1D264FA_0549_4f7b_992A_46139B679507.html" target="element"> Dynamic Security Assessment </a> </td>
																		<td> <a href="../elements/EAID_2D898591_073C_416e_B510_E9C4AEF3BAF3.html" target="element"> Market solution </a> </td>
																	</tr>

													
											
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>