<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Grid Model Aggregation</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Grid Model Aggregation</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/EAID_DB6E310A_062C_4016_81D8_8F9406719255.png" alt="Grid Model Aggregation" usemap="#EAID_DB6E310A_062C_4016_81D8_8F9406719255map"/>
			   <map name="EAID_DB6E310A_062C_4016_81D8_8F9406719255map">
				          <area shape="rect" coords="1085,12,1200,67" href="../objects/EAID_DN000000_1404_492b_B476_DAA5214A7516.html" target="element" >
				          <area shape="rect" coords="184,344,299,399" href="../objects/EAID_DN000000_F1A6_45aa_97DB_7EC057DA5508.html" target="element" >
				          <area shape="rect" coords="10,179,125,406" href="../objects/EAID_DN000000_D089_45c7_BAD3_6ADB0BC99C68.html" target="element" >
				  		<area shape="rect" coords="227,10,831,80" href="../elements/EAID_CABA2986_C556_4bf6_9C80_5F8C25EA7A1F.html"  target="element">
				  		<area shape="rect" coords="933,10,1023,80" href="../elements/EAID_EEE57E55_B414_4584_8F1B_56BB77983272.html"  target="element">
				  						<area shape="rect" coords="936,275,1026,345" href="../elements/EAID_CA801779_89A0_46d6_B16A_88F21CBD99AC.html"  target="element">
				  						<area shape="rect" coords="936,349,1026,419" href="../elements/EAID_3CE317AD_2282_4a24_8E42_8DDD6DD7D1B7.html"  target="element">

				  				<area shape="rect" coords="920,216,1042,433" href="../elements/EAID_CFA730D6_89EB_46aa_BCC7_5D221862B85D.html"  target="element">
				  				<area shape="rect" coords="818,290,908,360" href="../elements/EAID_0DA4721B_ED9E_43d9_A750_28D68CD9908F.html"  target="element">
				  				<area shape="rect" coords="818,210,908,280" href="../elements/EAID_46950E9D_B46C_4c49_A0E8_DA4EB482D82C.html"  target="element">

				  		<area shape="rect" coords="786,160,1058,455" href="../elements/EAID_650E1175_4276_470f_A4A2_5575D77753DA.html"  target="element">
				  				<area shape="rect" coords="577,193,712,284" href="../elements/EAID_E232E872_7032_49c9_ABC8_C304E73BCF5C.html"  target="element">
				  				<area shape="rect" coords="427,193,562,284" href="../elements/EAID_8F992F91_28FF_4200_B173_2ADAAE78773A.html"  target="element">
				  				<area shape="rect" coords="273,193,408,284" href="../elements/EAID_AF17887A_3859_4316_A4D3_36742DA5533D.html"  target="element">

				  		<area shape="rect" coords="253,142,732,299" href="../elements/EAID_9BA152ED_00D6_48f2_9078_6D3A6C90ABF6.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/EAID_9BA152ED_00D6_48f2_9078_6D3A6C90ABF6.html" target="element"> Grid Physical Model </a> </td>
											    <td> <a href="../elements/EAID_9BA152ED_00D6_48f2_9078_6D3A6C90ABF6.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/EAID_AF17887A_3859_4316_A4D3_36742DA5533D.html" target="element"> Equipment and Connectivity Model </a> </td>
													    <td> <a href="../elements/EAID_AF17887A_3859_4316_A4D3_36742DA5533D.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/EAID_8F992F91_28FF_4200_B173_2ADAAE78773A.html" target="element"> Short Circuit Model </a> </td>
													    <td> <a href="../elements/EAID_8F992F91_28FF_4200_B173_2ADAAE78773A.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/EAID_E232E872_7032_49c9_ABC8_C304E73BCF5C.html" target="element"> Grid Measurements and Limits </a> </td>
													    <td> <a href="../elements/EAID_E232E872_7032_49c9_ABC8_C304E73BCF5C.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/EAID_650E1175_4276_470f_A4A2_5575D77753DA.html" target="element"> Equipment Dynamics Model </a> </td>
											    <td> <a href="../elements/EAID_650E1175_4276_470f_A4A2_5575D77753DA.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/EAID_46950E9D_B46C_4c49_A0E8_DA4EB482D82C.html" target="element"> Synchronous Generator Dynamics Models </a> </td>
													    <td> <a href="../elements/EAID_46950E9D_B46C_4c49_A0E8_DA4EB482D82C.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/EAID_0DA4721B_ED9E_43d9_A750_28D68CD9908F.html" target="element"> Granular RES Models </a> </td>
													    <td> <a href="../elements/EAID_0DA4721B_ED9E_43d9_A750_28D68CD9908F.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/EAID_CFA730D6_89EB_46aa_BCC7_5D221862B85D.html" target="element"> Inverter-Based Resource Dynamics Model </a> </td>
													    <td> <a href="../elements/EAID_CFA730D6_89EB_46aa_BCC7_5D221862B85D.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/EAID_3CE317AD_2282_4a24_8E42_8DDD6DD7D1B7.html" target="element"> Grid-Forming IBR Dynamics Models </a> </td>
															    <td> <a href="../elements/EAID_3CE317AD_2282_4a24_8E42_8DDD6DD7D1B7.html" target="element" class="i18n-elementtype-DataObject">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/EAID_CA801779_89A0_46d6_B16A_88F21CBD99AC.html" target="element"> Grid-Following IBR Dynamics Model </a> </td>
															    <td> <a href="../elements/EAID_CA801779_89A0_46d6_B16A_88F21CBD99AC.html" target="element" class="i18n-elementtype-DataObject">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/EAID_EEE57E55_B414_4584_8F1B_56BB77983272.html" target="element"> Grid Model Assembly </a> </td>
											    <td> <a href="../elements/EAID_EEE57E55_B414_4584_8F1B_56BB77983272.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/EAID_CABA2986_C556_4bf6_9C80_5F8C25EA7A1F.html" target="element"> Grid Scenario </a> </td>
											    <td> <a href="../elements/EAID_CABA2986_C556_4bf6_9C80_5F8C25EA7A1F.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/EAID_DN000000_D089_45c7_BAD3_6ADB0BC99C68.html" target="element">  </a> </td>
									           <td> <a href="../objects/EAID_DN000000_D089_45c7_BAD3_6ADB0BC99C68.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/EAID_DN000000_F1A6_45aa_97DB_7EC057DA5508.html" target="element">  </a> </td>
									           <td> <a href="../objects/EAID_DN000000_F1A6_45aa_97DB_7EC057DA5508.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/EAID_DN000000_1404_492b_B476_DAA5214A7516.html" target="element">  </a> </td>
									           <td> <a href="../objects/EAID_DN000000_1404_492b_B476_DAA5214A7516.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											
													
											
																	<tr>
																		<td> <a href="../elements/EAID_1F5D5D14_3F6C_450a_BDBA_91FF0753A1A8.html" target="element">  </a> </td>
																		<td> <a href="../elements/EAID_1F5D5D14_3F6C_450a_BDBA_91FF0753A1A8.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/EAID_EEE57E55_B414_4584_8F1B_56BB77983272.html" target="element"> Grid Model Assembly </a> </td>
																		<td> <a href="../elements/EAID_CABA2986_C556_4bf6_9C80_5F8C25EA7A1F.html" target="element"> Grid Scenario </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/EAID_D16B6EC2_56CD_42a3_B086_D07D1FBEB0D7.html" target="element">  </a> </td>
																		<td> <a href="../elements/EAID_D16B6EC2_56CD_42a3_B086_D07D1FBEB0D7.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/EAID_EEE57E55_B414_4584_8F1B_56BB77983272.html" target="element"> Grid Model Assembly </a> </td>
																		<td> <a href="../elements/EAID_650E1175_4276_470f_A4A2_5575D77753DA.html" target="element"> Equipment Dynamics Model </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/EAID_5DC141A0_6666_495e_A7F4_2E37B7153B1F.html" target="element">  </a> </td>
																		<td> <a href="../elements/EAID_5DC141A0_6666_495e_A7F4_2E37B7153B1F.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/EAID_EEE57E55_B414_4584_8F1B_56BB77983272.html" target="element"> Grid Model Assembly </a> </td>
																		<td> <a href="../elements/EAID_9BA152ED_00D6_48f2_9078_6D3A6C90ABF6.html" target="element"> Grid Physical Model </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>