<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Short Term Load Forecasting</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Short Term Load Forecasting</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/EAID_E439F133_F598_4338_AA0C_9E23C9F54BCF.png" alt="Short Term Load Forecasting" usemap="#EAID_E439F133_F598_4338_AA0C_9E23C9F54BCFmap"/>
			   <map name="EAID_E439F133_F598_4338_AA0C_9E23C9F54BCFmap">
				  		<area shape="rect" coords="237,14,357,75" href="../elements/id-68e26498c8d843c6bebd184f906327e5.html"  target="element">
				  		<area shape="rect" coords="463,180,586,261" href="../elements/EAID_15A0F584_7462_40d4_AA31_15F3F916400D.html"  target="element">
				  		<area shape="rect" coords="169,179,274,249" href="../elements/EAID_8498C704_8821_4d32_8D51_177A849D2326.html"  target="element">
				  		<area shape="rect" coords="645,179,735,249" href="../elements/EAID_D2A1D80E_00A2_4f71_B188_DA402CFD4AE8.html"  target="element">
				  		<area shape="rect" coords="538,302,628,372" href="../elements/EAID_F44A36F9_A00B_47fc_872C_5F4B0AB4F5EB.html"  target="element">
				  		<area shape="rect" coords="379,302,469,372" href="../elements/EAID_B7179D49_CB3C_4a15_819C_0C765BDEF8F2.html"  target="element">
				  		<area shape="rect" coords="470,10,560,80" href="../elements/EAID_A3DB1809_E0D8_4d77_9A94_57C613530B16.html"  target="element">
				  		<area shape="rect" coords="10,297,100,367" href="../elements/EAID_43039592_9A68_4378_AB49_F67FC06B085D.html"  target="element">
				  		<area shape="rect" coords="10,219,100,289" href="../elements/EAID_A8D221BC_E568_4842_BBC5_170FB0C99615.html"  target="element">
				  		<area shape="rect" coords="10,143,100,213" href="../elements/EAID_113BD35A_4922_403b_8E76_02A97C1A85D6.html"  target="element">
				  		<area shape="rect" coords="329,178,419,248" href="../elements/EAID_9E4FBA8F_46DC_4f4c_A61A_ADFA641F74F5.html"  target="element">
				  		<area shape="rect" coords="10,65,100,135" href="../elements/EAID_C91B790E_A9EC_40f8_8EE4_B9D270E2CF11.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/EAID_C91B790E_A9EC_40f8_8EE4_B9D270E2CF11.html" target="element"> Weather Forecast </a> </td>
											    <td> <a href="../elements/EAID_C91B790E_A9EC_40f8_8EE4_B9D270E2CF11.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/EAID_9E4FBA8F_46DC_4f4c_A61A_ADFA641F74F5.html" target="element"> Short Term Load Forecast </a> </td>
											    <td> <a href="../elements/EAID_9E4FBA8F_46DC_4f4c_A61A_ADFA641F74F5.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/EAID_113BD35A_4922_403b_8E76_02A97C1A85D6.html" target="element"> Measured Loads </a> </td>
											    <td> <a href="../elements/EAID_113BD35A_4922_403b_8E76_02A97C1A85D6.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/EAID_A8D221BC_E568_4842_BBC5_170FB0C99615.html" target="element"> Calendar </a> </td>
											    <td> <a href="../elements/EAID_A8D221BC_E568_4842_BBC5_170FB0C99615.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/EAID_43039592_9A68_4378_AB49_F67FC06B085D.html" target="element"> DER Growth </a> </td>
											    <td> <a href="../elements/EAID_43039592_9A68_4378_AB49_F67FC06B085D.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/EAID_A3DB1809_E0D8_4d77_9A94_57C613530B16.html" target="element"> Demand Response Resource Schedules </a> </td>
											    <td> <a href="../elements/EAID_A3DB1809_E0D8_4d77_9A94_57C613530B16.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/EAID_B7179D49_CB3C_4a15_819C_0C765BDEF8F2.html" target="element"> Measured Resource Output </a> </td>
											    <td> <a href="../elements/EAID_B7179D49_CB3C_4a15_819C_0C765BDEF8F2.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/EAID_F44A36F9_A00B_47fc_872C_5F4B0AB4F5EB.html" target="element"> Historical Resource Schedules </a> </td>
											    <td> <a href="../elements/EAID_F44A36F9_A00B_47fc_872C_5F4B0AB4F5EB.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/EAID_D2A1D80E_00A2_4f71_B188_DA402CFD4AE8.html" target="element"> Net Demand Response Short Term Load Forecast </a> </td>
											    <td> <a href="../elements/EAID_D2A1D80E_00A2_4f71_B188_DA402CFD4AE8.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/EAID_8498C704_8821_4d32_8D51_177A849D2326.html" target="element"> Load Forecasting </a> </td>
											    <td> <a href="../elements/EAID_8498C704_8821_4d32_8D51_177A849D2326.html" target="element" class="i18n-elementtype-ApplicationFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/EAID_15A0F584_7462_40d4_AA31_15F3F916400D.html" target="element"> Short Term Load Forecast Demand Response Adjustment </a> </td>
											    <td> <a href="../elements/EAID_15A0F584_7462_40d4_AA31_15F3F916400D.html" target="element" class="i18n-elementtype-ApplicationFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-68e26498c8d843c6bebd184f906327e5.html" target="element"> Behind-the-meter Solar Generation Forecast </a> </td>
											    <td> <a href="../elements/id-68e26498c8d843c6bebd184f906327e5.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/EAID_4C555B54_3595_43d4_B0E8_4EA4F7073C56.html" target="element">  </a> </td>
																		<td> <a href="../elements/EAID_4C555B54_3595_43d4_B0E8_4EA4F7073C56.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/EAID_8498C704_8821_4d32_8D51_177A849D2326.html" target="element"> Load Forecasting </a> </td>
																		<td> <a href="../elements/EAID_9E4FBA8F_46DC_4f4c_A61A_ADFA641F74F5.html" target="element"> Short Term Load Forecast </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/EAID_EC868F19_E611_44df_A645_94F4F4DD2D59.html" target="element">  </a> </td>
																		<td> <a href="../elements/EAID_EC868F19_E611_44df_A645_94F4F4DD2D59.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/EAID_8498C704_8821_4d32_8D51_177A849D2326.html" target="element"> Load Forecasting </a> </td>
																		<td> <a href="../elements/EAID_A8D221BC_E568_4842_BBC5_170FB0C99615.html" target="element"> Calendar </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/EAID_6A6C8978_318F_416f_B8CE_8D7B44C20277.html" target="element">  </a> </td>
																		<td> <a href="../elements/EAID_6A6C8978_318F_416f_B8CE_8D7B44C20277.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/EAID_8498C704_8821_4d32_8D51_177A849D2326.html" target="element"> Load Forecasting </a> </td>
																		<td> <a href="../elements/EAID_43039592_9A68_4378_AB49_F67FC06B085D.html" target="element"> DER Growth </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/EAID_64EF0FC3_BD9A_4df1_A803_730D77C84E51.html" target="element">  </a> </td>
																		<td> <a href="../elements/EAID_64EF0FC3_BD9A_4df1_A803_730D77C84E51.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/EAID_8498C704_8821_4d32_8D51_177A849D2326.html" target="element"> Load Forecasting </a> </td>
																		<td> <a href="../elements/EAID_C91B790E_A9EC_40f8_8EE4_B9D270E2CF11.html" target="element"> Weather Forecast </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/EAID_F77AB553_7067_41c2_BB7B_4CF79153ECDF.html" target="element">  </a> </td>
																		<td> <a href="../elements/EAID_F77AB553_7067_41c2_BB7B_4CF79153ECDF.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/EAID_8498C704_8821_4d32_8D51_177A849D2326.html" target="element"> Load Forecasting </a> </td>
																		<td> <a href="../elements/EAID_113BD35A_4922_403b_8E76_02A97C1A85D6.html" target="element"> Measured Loads </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-614090608a04437e9677bd02d1506e6f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-614090608a04437e9677bd02d1506e6f.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/EAID_8498C704_8821_4d32_8D51_177A849D2326.html" target="element"> Load Forecasting </a> </td>
																		<td> <a href="../elements/id-68e26498c8d843c6bebd184f906327e5.html" target="element"> Behind-the-meter Solar Generation Forecast </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/EAID_6534F55C_7F48_4a54_B791_374EB36850E7.html" target="element">  </a> </td>
																		<td> <a href="../elements/EAID_6534F55C_7F48_4a54_B791_374EB36850E7.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/EAID_15A0F584_7462_40d4_AA31_15F3F916400D.html" target="element"> Short Term Load Forecast Demand Response Adjustment </a> </td>
																		<td> <a href="../elements/EAID_A3DB1809_E0D8_4d77_9A94_57C613530B16.html" target="element"> Demand Response Resource Schedules </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/EAID_1DD581F1_E69A_4935_A7E2_B71291534897.html" target="element">  </a> </td>
																		<td> <a href="../elements/EAID_1DD581F1_E69A_4935_A7E2_B71291534897.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/EAID_15A0F584_7462_40d4_AA31_15F3F916400D.html" target="element"> Short Term Load Forecast Demand Response Adjustment </a> </td>
																		<td> <a href="../elements/EAID_B7179D49_CB3C_4a15_819C_0C765BDEF8F2.html" target="element"> Measured Resource Output </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/EAID_3BC4555F_8E91_4a83_96F4_264CF17113BA.html" target="element">  </a> </td>
																		<td> <a href="../elements/EAID_3BC4555F_8E91_4a83_96F4_264CF17113BA.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/EAID_15A0F584_7462_40d4_AA31_15F3F916400D.html" target="element"> Short Term Load Forecast Demand Response Adjustment </a> </td>
																		<td> <a href="../elements/EAID_D2A1D80E_00A2_4f71_B188_DA402CFD4AE8.html" target="element"> Net Demand Response Short Term Load Forecast </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/EAID_EED7ED37_3293_41fb_AFF7_7583DFE71115.html" target="element">  </a> </td>
																		<td> <a href="../elements/EAID_EED7ED37_3293_41fb_AFF7_7583DFE71115.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/EAID_15A0F584_7462_40d4_AA31_15F3F916400D.html" target="element"> Short Term Load Forecast Demand Response Adjustment </a> </td>
																		<td> <a href="../elements/EAID_9E4FBA8F_46DC_4f4c_A61A_ADFA641F74F5.html" target="element"> Short Term Load Forecast </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/EAID_1E3ADB16_401F_4d26_8F21_3EF28F1F7907.html" target="element">  </a> </td>
																		<td> <a href="../elements/EAID_1E3ADB16_401F_4d26_8F21_3EF28F1F7907.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/EAID_15A0F584_7462_40d4_AA31_15F3F916400D.html" target="element"> Short Term Load Forecast Demand Response Adjustment </a> </td>
																		<td> <a href="../elements/EAID_F44A36F9_A00B_47fc_872C_5F4B0AB4F5EB.html" target="element"> Historical Resource Schedules </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>