<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Scheduled Outages</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Scheduled Outages</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/EAID_0EA41E4D_33F1_47c2_915A_B6D2FF7DF182.png" alt="Scheduled Outages" usemap="#EAID_0EA41E4D_33F1_47c2_915A_B6D2FF7DF182map"/>
			   <map name="EAID_0EA41E4D_33F1_47c2_915A_B6D2FF7DF182map">
				  		<area shape="rect" coords="368,141,458,211" href="../elements/EAID_CC2AB72D_A1A3_46c2_A583_BE1042AB4AB8.html"  target="element">
				  		<area shape="rect" coords="252,141,342,211" href="../elements/EAID_B1634AF6_9D92_4e5e_A1CF_98385661D392.html"  target="element">
				  		<area shape="rect" coords="132,141,222,211" href="../elements/EAID_EE4D41C6_FD5D_49a9_AD56_38B42B1911A7.html"  target="element">
				  		<area shape="rect" coords="10,141,100,211" href="../elements/EAID_C7848D4D_DB82_491d_96F5_8986365FA44C.html"  target="element">
				  		<area shape="rect" coords="201,10,291,80" href="../elements/EAID_2784DB42_7413_4c24_BE34_C9991EEE5112.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/EAID_2784DB42_7413_4c24_BE34_C9991EEE5112.html" target="element"> Outages </a> </td>
											    <td> <a href="../elements/EAID_2784DB42_7413_4c24_BE34_C9991EEE5112.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/EAID_C7848D4D_DB82_491d_96F5_8986365FA44C.html" target="element"> Equipment Out of Service </a> </td>
											    <td> <a href="../elements/EAID_C7848D4D_DB82_491d_96F5_8986365FA44C.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/EAID_EE4D41C6_FD5D_49a9_AD56_38B42B1911A7.html" target="element"> Generator Derates </a> </td>
											    <td> <a href="../elements/EAID_EE4D41C6_FD5D_49a9_AD56_38B42B1911A7.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/EAID_B1634AF6_9D92_4e5e_A1CF_98385661D392.html" target="element"> Limit Overrides </a> </td>
											    <td> <a href="../elements/EAID_B1634AF6_9D92_4e5e_A1CF_98385661D392.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/EAID_CC2AB72D_A1A3_46c2_A583_BE1042AB4AB8.html" target="element"> Switching Operations </a> </td>
											    <td> <a href="../elements/EAID_CC2AB72D_A1A3_46c2_A583_BE1042AB4AB8.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/EAID_0392327B_AB31_40a6_BDDE_DA9A43804F83.html" target="element">  </a> </td>
																		<td> <a href="../elements/EAID_0392327B_AB31_40a6_BDDE_DA9A43804F83.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/EAID_C7848D4D_DB82_491d_96F5_8986365FA44C.html" target="element"> Equipment Out of Service </a> </td>
																		<td> <a href="../elements/EAID_2784DB42_7413_4c24_BE34_C9991EEE5112.html" target="element"> Outages </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/EAID_EBE1134F_8DB1_49da_B3F2_3B3C84F981FA.html" target="element">  </a> </td>
																		<td> <a href="../elements/EAID_EBE1134F_8DB1_49da_B3F2_3B3C84F981FA.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/EAID_EE4D41C6_FD5D_49a9_AD56_38B42B1911A7.html" target="element"> Generator Derates </a> </td>
																		<td> <a href="../elements/EAID_2784DB42_7413_4c24_BE34_C9991EEE5112.html" target="element"> Outages </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/EAID_54DF5893_08CE_4fdf_B4A5_40A27B4C00D7.html" target="element">  </a> </td>
																		<td> <a href="../elements/EAID_54DF5893_08CE_4fdf_B4A5_40A27B4C00D7.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/EAID_B1634AF6_9D92_4e5e_A1CF_98385661D392.html" target="element"> Limit Overrides </a> </td>
																		<td> <a href="../elements/EAID_2784DB42_7413_4c24_BE34_C9991EEE5112.html" target="element"> Outages </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/EAID_C9D492A0_4E0F_49fa_B108_572ACC1B340C.html" target="element">  </a> </td>
																		<td> <a href="../elements/EAID_C9D492A0_4E0F_49fa_B108_572ACC1B340C.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/EAID_CC2AB72D_A1A3_46c2_A583_BE1042AB4AB8.html" target="element"> Switching Operations </a> </td>
																		<td> <a href="../elements/EAID_2784DB42_7413_4c24_BE34_C9991EEE5112.html" target="element"> Outages </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>