<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>High level DFD w Data Exchange Standards</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>High level DFD w Data Exchange Standards</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/EAID_6CC7B835_7F12_4077_BEA1_B297580772EF.png" alt="High level DFD w Data Exchange Standards" usemap="#EAID_6CC7B835_7F12_4077_BEA1_B297580772EFmap"/>
			   <map name="EAID_6CC7B835_7F12_4077_BEA1_B297580772EFmap">
				  		<area shape="rect" coords="547,230,667,285" href="../elements/id-1f790482a7e4459db403b231f1a8c020.html"  target="element">
				  		<area shape="rect" coords="571,334,661,404" href="../elements/EAID_2784DB42_7413_4c24_BE34_C9991EEE5112.html"  target="element">
				  		<area shape="rect" coords="920,225,1055,300" href="../elements/EAID_D5D6B2F1_11BE_4985_B1D5_D5DA4380F2E1.html"  target="element">
				  		<area shape="rect" coords="547,439,683,503" href="../elements/EAID_7E3A86D4_6EB9_4c93_BE63_7AB915935AC5.html"  target="element">
				  		<area shape="rect" coords="721,344,878,394" href="../elements/EAID_74F6C851_0EC7_4d83_B156_F1E350FACAC9.html"  target="element">
				  		<area shape="rect" coords="547,10,683,70" href="../elements/EAID_66D87CE4_668E_46bc_A893_9FA8B559644A.html"  target="element">
				  		<area shape="rect" coords="10,352,115,402" href="../elements/EAID_5C312337_139C_428c_AEB1_18D2EB939403.html"  target="element">
				  		<area shape="rect" coords="570,92,660,162" href="../elements/EAID_AF17887A_3859_4316_A4D3_36742DA5533D.html"  target="element">
				  		<area shape="rect" coords="376,89,511,164" href="../elements/EAID_06D09A07_EF39_4f52_90BD_D2D11DA5092D.html"  target="element">
				  		<area shape="rect" coords="373,344,511,394" href="../elements/EAID_BEC929BB_EA55_4fe7_B1A8_EEB525B9989E.html"  target="element">
				  		<area shape="rect" coords="749,225,839,295" href="../elements/EAID_E66CE9E1_D1AA_4e65_9948_F31053711580.html"  target="element">
				  		<area shape="rect" coords="398,225,488,295" href="../elements/EAID_01AE7FE7_5E3A_4d6b_9922_E7601F1DB32D.html"  target="element">
				  		<area shape="rect" coords="17,222,107,292" href="../elements/EAID_4A7D7B1B_A585_454e_B56D_4668AFC4816E.html"  target="element">
				  		<area shape="rect" coords="180,220,315,295" href="../elements/EAID_D055AE5E_4ACC_4fbf_93DC_A521D967770A.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td> Language=en </td><td class="convertlinks"> <xmp class="no-margin" style="white-space:pre-wrap"></xmp> </td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/EAID_D055AE5E_4ACC_4fbf_93DC_A521D967770A.html" target="element"> SCADA </a> </td>
											    <td> <a href="../elements/EAID_D055AE5E_4ACC_4fbf_93DC_A521D967770A.html" target="element" class="i18n-elementtype-ApplicationFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/EAID_4A7D7B1B_A585_454e_B56D_4668AFC4816E.html" target="element"> Telemetry </a> </td>
											    <td> <a href="../elements/EAID_4A7D7B1B_A585_454e_B56D_4668AFC4816E.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/EAID_01AE7FE7_5E3A_4d6b_9922_E7601F1DB32D.html" target="element"> Telemetry Set </a> </td>
											    <td> <a href="../elements/EAID_01AE7FE7_5E3A_4d6b_9922_E7601F1DB32D.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/EAID_E66CE9E1_D1AA_4e65_9948_F31053711580.html" target="element"> Power System State </a> </td>
											    <td> <a href="../elements/EAID_E66CE9E1_D1AA_4e65_9948_F31053711580.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/EAID_BEC929BB_EA55_4fe7_B1A8_EEB525B9989E.html" target="element"> IEC 61970-451 Measurements </a> </td>
											    <td> <a href="../elements/EAID_BEC929BB_EA55_4fe7_B1A8_EEB525B9989E.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/EAID_06D09A07_EF39_4f52_90BD_D2D11DA5092D.html" target="element"> Network Model Management </a> </td>
											    <td> <a href="../elements/EAID_06D09A07_EF39_4f52_90BD_D2D11DA5092D.html" target="element" class="i18n-elementtype-ApplicationFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/EAID_AF17887A_3859_4316_A4D3_36742DA5533D.html" target="element"> Equipment and Connectivity Model </a> </td>
											    <td> <a href="../elements/EAID_AF17887A_3859_4316_A4D3_36742DA5533D.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/EAID_5C312337_139C_428c_AEB1_18D2EB939403.html" target="element"> DNP3 </a> </td>
											    <td> <a href="../elements/EAID_5C312337_139C_428c_AEB1_18D2EB939403.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/EAID_66D87CE4_668E_46bc_A893_9FA8B559644A.html" target="element"> IEC 61970-452 Equipment (EQ) </a> </td>
											    <td> <a href="../elements/EAID_66D87CE4_668E_46bc_A893_9FA8B559644A.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/EAID_74F6C851_0EC7_4d83_B156_F1E350FACAC9.html" target="element"> IEC 61970-456 State Variables (SV) </a> </td>
											    <td> <a href="../elements/EAID_74F6C851_0EC7_4d83_B156_F1E350FACAC9.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/EAID_7E3A86D4_6EB9_4c93_BE63_7AB915935AC5.html" target="element"> IEC 61970-456 Steady State Hypothesis (SSH) </a> </td>
											    <td> <a href="../elements/EAID_7E3A86D4_6EB9_4c93_BE63_7AB915935AC5.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/EAID_D5D6B2F1_11BE_4985_B1D5_D5DA4380F2E1.html" target="element"> Contingency Analysis </a> </td>
											    <td> <a href="../elements/EAID_D5D6B2F1_11BE_4985_B1D5_D5DA4380F2E1.html" target="element" class="i18n-elementtype-ApplicationFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/EAID_2784DB42_7413_4c24_BE34_C9991EEE5112.html" target="element"> Outages </a> </td>
											    <td> <a href="../elements/EAID_2784DB42_7413_4c24_BE34_C9991EEE5112.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1f790482a7e4459db403b231f1a8c020.html" target="element"> State Estimation </a> </td>
											    <td> <a href="../elements/id-1f790482a7e4459db403b231f1a8c020.html" target="element" class="i18n-elementtype-ApplicationFunction">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/EAID_C3E81203_6487_48b1_A54A_D94033867D59.html" target="element">  </a> </td>
																		<td> <a href="../elements/EAID_C3E81203_6487_48b1_A54A_D94033867D59.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/EAID_D055AE5E_4ACC_4fbf_93DC_A521D967770A.html" target="element"> SCADA </a> </td>
																		<td> <a href="../elements/EAID_01AE7FE7_5E3A_4d6b_9922_E7601F1DB32D.html" target="element"> Telemetry Set </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/EAID_0560C3C2_90BA_46cc_BCE5_0E0BC6D74A4E.html" target="element">  </a> </td>
																		<td> <a href="../elements/EAID_0560C3C2_90BA_46cc_BCE5_0E0BC6D74A4E.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/EAID_D055AE5E_4ACC_4fbf_93DC_A521D967770A.html" target="element"> SCADA </a> </td>
																		<td> <a href="../elements/EAID_4A7D7B1B_A585_454e_B56D_4668AFC4816E.html" target="element"> Telemetry </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/EAID_57DA86A0_4257_4d5b_B241_C4A76BDFCB3D.html" target="element">  </a> </td>
																		<td> <a href="../elements/EAID_57DA86A0_4257_4d5b_B241_C4A76BDFCB3D.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/EAID_BEC929BB_EA55_4fe7_B1A8_EEB525B9989E.html" target="element"> IEC 61970-451 Measurements </a> </td>
																		<td> <a href="../elements/EAID_01AE7FE7_5E3A_4d6b_9922_E7601F1DB32D.html" target="element"> Telemetry Set </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/EAID_9012A1E1_6DB1_4f92_9564_F1C8D3BC3701.html" target="element">  </a> </td>
																		<td> <a href="../elements/EAID_9012A1E1_6DB1_4f92_9564_F1C8D3BC3701.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/EAID_06D09A07_EF39_4f52_90BD_D2D11DA5092D.html" target="element"> Network Model Management </a> </td>
																		<td> <a href="../elements/EAID_AF17887A_3859_4316_A4D3_36742DA5533D.html" target="element"> Equipment and Connectivity Model </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/EAID_BB042CEA_5896_40e4_8D5D_18CA815F424E.html" target="element">  </a> </td>
																		<td> <a href="../elements/EAID_BB042CEA_5896_40e4_8D5D_18CA815F424E.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/EAID_5C312337_139C_428c_AEB1_18D2EB939403.html" target="element"> DNP3 </a> </td>
																		<td> <a href="../elements/EAID_4A7D7B1B_A585_454e_B56D_4668AFC4816E.html" target="element"> Telemetry </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/EAID_25D19967_64EA_417b_A5C9_43E280CE7B97.html" target="element">  </a> </td>
																		<td> <a href="../elements/EAID_25D19967_64EA_417b_A5C9_43E280CE7B97.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/EAID_66D87CE4_668E_46bc_A893_9FA8B559644A.html" target="element"> IEC 61970-452 Equipment (EQ) </a> </td>
																		<td> <a href="../elements/EAID_AF17887A_3859_4316_A4D3_36742DA5533D.html" target="element"> Equipment and Connectivity Model </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/EAID_74189298_B050_443e_9260_64EC92F24240.html" target="element">  </a> </td>
																		<td> <a href="../elements/EAID_74189298_B050_443e_9260_64EC92F24240.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/EAID_74F6C851_0EC7_4d83_B156_F1E350FACAC9.html" target="element"> IEC 61970-456 State Variables (SV) </a> </td>
																		<td> <a href="../elements/EAID_E66CE9E1_D1AA_4e65_9948_F31053711580.html" target="element"> Power System State </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/EAID_9E5E2F7A_320F_4694_B594_48950F0CE058.html" target="element">  </a> </td>
																		<td> <a href="../elements/EAID_9E5E2F7A_320F_4694_B594_48950F0CE058.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/EAID_D5D6B2F1_11BE_4985_B1D5_D5DA4380F2E1.html" target="element"> Contingency Analysis </a> </td>
																		<td> <a href="../elements/EAID_E66CE9E1_D1AA_4e65_9948_F31053711580.html" target="element"> Power System State </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/EAID_BF4EBF76_274F_44c9_95CA_85A87756F85F.html" target="element">  </a> </td>
																		<td> <a href="../elements/EAID_BF4EBF76_274F_44c9_95CA_85A87756F85F.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/EAID_D5D6B2F1_11BE_4985_B1D5_D5DA4380F2E1.html" target="element"> Contingency Analysis </a> </td>
																		<td> <a href="../elements/EAID_AF17887A_3859_4316_A4D3_36742DA5533D.html" target="element"> Equipment and Connectivity Model </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/EAID_4A546B09_7F70_43d3_8B80_8617F86846BE.html" target="element">  </a> </td>
																		<td> <a href="../elements/EAID_4A546B09_7F70_43d3_8B80_8617F86846BE.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/EAID_2784DB42_7413_4c24_BE34_C9991EEE5112.html" target="element"> Outages </a> </td>
																		<td> <a href="../elements/EAID_7E3A86D4_6EB9_4c93_BE63_7AB915935AC5.html" target="element"> IEC 61970-456 Steady State Hypothesis (SSH) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-5b5f1fcd96cd4f83a725822b4a1388f1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5b5f1fcd96cd4f83a725822b4a1388f1.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1f790482a7e4459db403b231f1a8c020.html" target="element"> State Estimation </a> </td>
																		<td> <a href="../elements/EAID_01AE7FE7_5E3A_4d6b_9922_E7601F1DB32D.html" target="element"> Telemetry Set </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5d1b6038d223478c8af42e6382bba808.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5d1b6038d223478c8af42e6382bba808.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1f790482a7e4459db403b231f1a8c020.html" target="element"> State Estimation </a> </td>
																		<td> <a href="../elements/EAID_2784DB42_7413_4c24_BE34_C9991EEE5112.html" target="element"> Outages </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-310e46ae247d4c70acbadfdd23b8a738.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-310e46ae247d4c70acbadfdd23b8a738.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1f790482a7e4459db403b231f1a8c020.html" target="element"> State Estimation </a> </td>
																		<td> <a href="../elements/EAID_E66CE9E1_D1AA_4e65_9948_F31053711580.html" target="element"> Power System State </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9ce1a82093734431b6cbba23a601b44c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9ce1a82093734431b6cbba23a601b44c.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1f790482a7e4459db403b231f1a8c020.html" target="element"> State Estimation </a> </td>
																		<td> <a href="../elements/EAID_AF17887A_3859_4316_A4D3_36742DA5533D.html" target="element"> Equipment and Connectivity Model </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>