<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>L2 E objects</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>L2 E objects</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-17138ebdb63d46d48fe26e007f4b96c3.png" alt="L2 E objects" usemap="#id-17138ebdb63d46d48fe26e007f4b96c3map"/>
			   <map name="id-17138ebdb63d46d48fe26e007f4b96c3map">
				          <area shape="rect" coords="10,358,239,407" href="../objects/id-eb4cfeb94dd7487988b606b8dfb05a00.html" target="element" >
				  				<area shape="rect" coords="1174,46,1331,107" href="../elements/id-736031.html"  target="element">
				  				<area shape="rect" coords="1174,118,1331,179" href="../elements/id-736021.html"  target="element">
				  				<area shape="rect" coords="1174,190,1331,251" href="../elements/id-736013.html"  target="element">

				  		<area shape="rect" coords="1162,10,1343,336" href="../elements/id-736011.html"  target="element">
				  				<area shape="rect" coords="982,46,1139,107" href="../elements/id-736041.html"  target="element">
				  				<area shape="rect" coords="982,118,1139,179" href="../elements/id-736046.html"  target="element">

				  		<area shape="rect" coords="970,10,1151,336" href="../elements/id-736039.html"  target="element">
				  				<area shape="rect" coords="22,190,179,251" href="../elements/id-736150.html"  target="element">
				  				<area shape="rect" coords="22,118,179,178" href="../elements/id-736116.html"  target="element">
				  				<area shape="rect" coords="22,262,179,323" href="../elements/id-736126.html"  target="element">
				  				<area shape="rect" coords="22,46,179,107" href="../elements/id-736160.html"  target="element">

				  		<area shape="rect" coords="10,10,191,336" href="../elements/id-736114.html"  target="element">
				  				<area shape="rect" coords="214,118,371,179" href="../elements/id-736102.html"  target="element">
				  				<area shape="rect" coords="214,46,371,107" href="../elements/id-736096.html"  target="element">

				  		<area shape="rect" coords="202,10,383,336" href="../elements/id-736094.html"  target="element">
				  				<area shape="rect" coords="790,118,947,179" href="../elements/id-736059.html"  target="element">
				  				<area shape="rect" coords="790,46,947,107" href="../elements/id-736053.html"  target="element">

				  		<area shape="rect" coords="778,10,959,336" href="../elements/id-736051.html"  target="element">
				  				<area shape="rect" coords="406,118,563,178" href="../elements/id-736075.html"  target="element">
				  				<area shape="rect" coords="406,190,563,251" href="../elements/id-736069.html"  target="element">
				  				<area shape="rect" coords="406,262,563,323" href="../elements/id-736081.html"  target="element">
				  				<area shape="rect" coords="406,46,563,107" href="../elements/id-736086.html"  target="element">

				  		<area shape="rect" coords="394,10,575,336" href="../elements/id-736067.html"  target="element">
				  				<area shape="rect" coords="598,190,755,251" href="../elements/id-736174.html"  target="element">
				  				<area shape="rect" coords="598,46,755,107" href="../elements/id-736164.html"  target="element">
				  				<area shape="rect" coords="598,262,755,323" href="../elements/id-736178.html"  target="element">
				  				<area shape="rect" coords="598,118,755,179" href="../elements/id-736170.html"  target="element">

				  		<area shape="rect" coords="586,10,767,336" href="../elements/id-736162.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">SPDX-FileCopyrightText: 2017-2022 Contributors to the NBility project

SPDX-License-Identifier: CC-BY-4.0

Source: https://github.com/NBility-Model</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-736162.html" target="element"> Digitaal product </a> </td>
											    <td> <a href="../elements/id-736162.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-736170.html" target="element"> Digitaalproductwijziging </a> </td>
													    <td> <a href="../elements/id-736170.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-736178.html" target="element"> Digitaalproductprestatie </a> </td>
													    <td> <a href="../elements/id-736178.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-736164.html" target="element"> Digitaal product </a> </td>
													    <td> <a href="../elements/id-736164.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-736174.html" target="element"> Digitaalproductinstantie </a> </td>
													    <td> <a href="../elements/id-736174.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-736067.html" target="element"> Medewerker </a> </td>
											    <td> <a href="../elements/id-736067.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-736086.html" target="element"> Medewerkersstrategie </a> </td>
													    <td> <a href="../elements/id-736086.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-736081.html" target="element"> Medewerkersprestatie </a> </td>
													    <td> <a href="../elements/id-736081.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-736069.html" target="element"> Medewerker </a> </td>
													    <td> <a href="../elements/id-736069.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-736075.html" target="element"> Medewerkersovereenkomst </a> </td>
													    <td> <a href="../elements/id-736075.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-736051.html" target="element"> Inkoopproduct </a> </td>
											    <td> <a href="../elements/id-736051.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-736053.html" target="element"> Inkoopstrategie </a> </td>
													    <td> <a href="../elements/id-736053.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-736059.html" target="element"> Inkoopovereenkomst </a> </td>
													    <td> <a href="../elements/id-736059.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-736094.html" target="element"> Proces en data </a> </td>
											    <td> <a href="../elements/id-736094.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-736096.html" target="element"> Proces </a> </td>
													    <td> <a href="../elements/id-736096.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-736102.html" target="element"> Data </a> </td>
													    <td> <a href="../elements/id-736102.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-736114.html" target="element"> Richting </a> </td>
											    <td> <a href="../elements/id-736114.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-736160.html" target="element"> Bedrijfsstrategie </a> </td>
													    <td> <a href="../elements/id-736160.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-736126.html" target="element"> Risico </a> </td>
													    <td> <a href="../elements/id-736126.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-736116.html" target="element"> Stakeholder </a> </td>
													    <td> <a href="../elements/id-736116.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-736150.html" target="element"> Transformatie </a> </td>
													    <td> <a href="../elements/id-736150.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-736039.html" target="element"> Bedrijfsgebouw </a> </td>
											    <td> <a href="../elements/id-736039.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-736046.html" target="element"> Facilitair product </a> </td>
													    <td> <a href="../elements/id-736046.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-736041.html" target="element"> Bedrijfsgebouw </a> </td>
													    <td> <a href="../elements/id-736041.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-736011.html" target="element"> Financi&#235;n </a> </td>
											    <td> <a href="../elements/id-736011.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-736013.html" target="element"> Financieel feit </a> </td>
													    <td> <a href="../elements/id-736013.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-736021.html" target="element"> Vermogen en liquiditeit </a> </td>
													    <td> <a href="../elements/id-736021.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-736031.html" target="element"> Financi&#235;le strategie </a> </td>
													    <td> <a href="../elements/id-736031.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-eb4cfeb94dd7487988b606b8dfb05a00.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-eb4cfeb94dd7487988b606b8dfb05a00.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-872337.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-872337.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-736162.html" target="element"> Digitaal product </a> </td>
																		<td> <a href="../elements/id-736178.html" target="element"> Digitaalproductprestatie </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-872610.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-872610.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-736162.html" target="element"> Digitaal product </a> </td>
																		<td> <a href="../elements/id-736174.html" target="element"> Digitaalproductinstantie </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-872557.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-872557.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-736162.html" target="element"> Digitaal product </a> </td>
																		<td> <a href="../elements/id-736170.html" target="element"> Digitaalproductwijziging </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-872513.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-872513.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-736162.html" target="element"> Digitaal product </a> </td>
																		<td> <a href="../elements/id-736164.html" target="element"> Digitaal product </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-872516.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-872516.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-736067.html" target="element"> Medewerker </a> </td>
																		<td> <a href="../elements/id-736086.html" target="element"> Medewerkersstrategie </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-872617.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-872617.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-736067.html" target="element"> Medewerker </a> </td>
																		<td> <a href="../elements/id-736069.html" target="element"> Medewerker </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-872511.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-872511.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-736067.html" target="element"> Medewerker </a> </td>
																		<td> <a href="../elements/id-736081.html" target="element"> Medewerkersprestatie </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-872566.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-872566.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-736067.html" target="element"> Medewerker </a> </td>
																		<td> <a href="../elements/id-736075.html" target="element"> Medewerkersovereenkomst </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-872603.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-872603.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-736051.html" target="element"> Inkoopproduct </a> </td>
																		<td> <a href="../elements/id-736059.html" target="element"> Inkoopovereenkomst </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-872540.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-872540.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-736051.html" target="element"> Inkoopproduct </a> </td>
																		<td> <a href="../elements/id-736053.html" target="element"> Inkoopstrategie </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-872344.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-872344.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-736094.html" target="element"> Proces en data </a> </td>
																		<td> <a href="../elements/id-736096.html" target="element"> Proces </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-872541.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-872541.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-736094.html" target="element"> Proces en data </a> </td>
																		<td> <a href="../elements/id-736102.html" target="element"> Data </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-872419.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-872419.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-736114.html" target="element"> Richting </a> </td>
																		<td> <a href="../elements/id-736126.html" target="element"> Risico </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-872579.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-872579.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-736114.html" target="element"> Richting </a> </td>
																		<td> <a href="../elements/id-736116.html" target="element"> Stakeholder </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-872347.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-872347.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-736114.html" target="element"> Richting </a> </td>
																		<td> <a href="../elements/id-736150.html" target="element"> Transformatie </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-872475.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-872475.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-736114.html" target="element"> Richting </a> </td>
																		<td> <a href="../elements/id-736160.html" target="element"> Bedrijfsstrategie </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-872525.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-872525.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-736039.html" target="element"> Bedrijfsgebouw </a> </td>
																		<td> <a href="../elements/id-736046.html" target="element"> Facilitair product </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-872462.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-872462.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-736039.html" target="element"> Bedrijfsgebouw </a> </td>
																		<td> <a href="../elements/id-736041.html" target="element"> Bedrijfsgebouw </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-872341.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-872341.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-736011.html" target="element"> Financi&#235;n </a> </td>
																		<td> <a href="../elements/id-736031.html" target="element"> Financi&#235;le strategie </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-872577.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-872577.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-736011.html" target="element"> Financi&#235;n </a> </td>
																		<td> <a href="../elements/id-736013.html" target="element"> Financieel feit </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-872564.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-872564.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-736011.html" target="element"> Financi&#235;n </a> </td>
																		<td> <a href="../elements/id-736021.html" target="element"> Vermogen en liquiditeit </a> </td>
																	</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>