<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>L2 E functions</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>L2 E functions</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-1204fc15212f4c62878e7d1354fbd008.png" alt="L2 E functions" usemap="#id-1204fc15212f4c62878e7d1354fbd008map"/>
			   <map name="id-1204fc15212f4c62878e7d1354fbd008map">
				          <area shape="rect" coords="10,442,239,491" href="../objects/id-a3b3455a56c24e88a4a754dcb8cf68f3.html" target="element" >
				  				<area shape="rect" coords="406,334,563,406" href="../elements/id-736531.html"  target="element">
				  				<area shape="rect" coords="406,250,563,322" href="../elements/id-736533.html"  target="element">
				  				<area shape="rect" coords="406,166,563,238" href="../elements/id-736306.html"  target="element">
				  				<area shape="rect" coords="406,82,563,155" href="../elements/id-736554.html"  target="element">

				  		<area shape="rect" coords="394,10,574,419" href="../elements/id-718836.html"  target="element">
				  				<area shape="rect" coords="790,166,947,238" href="../elements/id-718845.html"  target="element">
				  				<area shape="rect" coords="790,82,947,154" href="../elements/id-736304.html"  target="element">

				  		<area shape="rect" coords="778,10,958,419" href="../elements/id-718833.html"  target="element">
				  				<area shape="rect" coords="1174,250,1331,322" href="../elements/id-736411.html"  target="element">
				  				<area shape="rect" coords="1174,166,1331,238" href="../elements/id-718828.html"  target="element">
				  				<area shape="rect" coords="1174,82,1331,154" href="../elements/id-736374.html"  target="element">

				  		<area shape="rect" coords="1162,10,1342,419" href="../elements/id-718832.html"  target="element">
				  				<area shape="rect" coords="22,334,179,407" href="../elements/id-736290.html"  target="element">
				  				<area shape="rect" coords="22,250,179,322" href="../elements/id-718820.html"  target="element">
				  				<area shape="rect" coords="22,166,179,239" href="../elements/id-718816.html"  target="element">
				  				<area shape="rect" coords="22,82,179,154" href="../elements/id-718815.html"  target="element">

				  		<area shape="rect" coords="10,10,190,419" href="../elements/id-736356.html"  target="element">
				  				<area shape="rect" coords="214,166,371,239" href="../elements/id-718838.html"  target="element">
				  				<area shape="rect" coords="214,82,371,154" href="../elements/id-718837.html"  target="element">

				  		<area shape="rect" coords="202,10,382,419" href="../elements/id-736543.html"  target="element">
				  				<area shape="rect" coords="598,334,755,406" href="../elements/id-736308.html"  target="element">
				  				<area shape="rect" coords="598,250,755,322" href="../elements/id-736292.html"  target="element">
				  				<area shape="rect" coords="598,166,755,238" href="../elements/id-736545.html"  target="element">
				  				<area shape="rect" coords="598,82,755,154" href="../elements/id-736318.html"  target="element">

				  		<area shape="rect" coords="586,10,766,419" href="../elements/id-718834.html"  target="element">
				  				<area shape="rect" coords="982,166,1139,238" href="../elements/id-736390.html"  target="element">
				  				<area shape="rect" coords="982,82,1139,155" href="../elements/id-736449.html"  target="element">

				  		<area shape="rect" coords="970,10,1150,419" href="../elements/id-718824.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">SPDX-FileCopyrightText: 2017-2022 Contributors to the NBility project

SPDX-License-Identifier: CC-BY-4.0

Source: https://github.com/NBility-Model</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-718824.html" target="element"> Bedrijfsgebouwen beheren en faciliteiten beschikbaar stellen </a> </td>
											    <td> <a href="../elements/id-718824.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-736449.html" target="element"> Bedrijfsgebouwen beheren </a> </td>
													    <td> <a href="../elements/id-736449.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-736390.html" target="element"> Faciliteiten beschikbaar stellen </a> </td>
													    <td> <a href="../elements/id-736390.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-718834.html" target="element"> Digitale producten ontwikkelen en beheren </a> </td>
											    <td> <a href="../elements/id-718834.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-736318.html" target="element"> Digitaalproductstrategie en -portfolio ontwikkelen en beheren </a> </td>
													    <td> <a href="../elements/id-736318.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-736545.html" target="element"> Digitale producten realiseren </a> </td>
													    <td> <a href="../elements/id-736545.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-736292.html" target="element"> Digitale producten leveren </a> </td>
													    <td> <a href="../elements/id-736292.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-736308.html" target="element"> Digitale producten exploiteren </a> </td>
													    <td> <a href="../elements/id-736308.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-736543.html" target="element"> Processen en data ontwikkelen en beheren </a> </td>
											    <td> <a href="../elements/id-736543.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-718837.html" target="element"> Processen besturen </a> </td>
													    <td> <a href="../elements/id-718837.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-718838.html" target="element"> Data besturen </a> </td>
													    <td> <a href="../elements/id-718838.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-736356.html" target="element"> Bedrijfsrichting opstellen en besturen </a> </td>
											    <td> <a href="../elements/id-736356.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-718815.html" target="element"> Strategie ontwikkelen en bewaken </a> </td>
													    <td> <a href="../elements/id-718815.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-718816.html" target="element"> Met stakeholders in overeenstemming komen </a> </td>
													    <td> <a href="../elements/id-718816.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-718820.html" target="element"> Transformatie van bedrijfsinrichting besturen </a> </td>
													    <td> <a href="../elements/id-718820.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-736290.html" target="element"> Bedrijfscontinu&#239;teit en compliance borgen </a> </td>
													    <td> <a href="../elements/id-736290.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-718832.html" target="element"> Financi&#235;n verkrijgen en beheren </a> </td>
											    <td> <a href="../elements/id-718832.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-736374.html" target="element"> Financi&#235;le strategie en plannen opstellen, bewaken en rapporteren </a> </td>
													    <td> <a href="../elements/id-736374.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-718828.html" target="element"> Vermogen en liquiditeiten verkrijgen en beheren </a> </td>
													    <td> <a href="../elements/id-718828.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-736411.html" target="element"> Gebeurtenissen financieel verwerken en standen beheren </a> </td>
													    <td> <a href="../elements/id-736411.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-718833.html" target="element"> Goederen en diensten verkrijgen </a> </td>
											    <td> <a href="../elements/id-718833.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-736304.html" target="element"> Goederen- en dienstenstrategie en -plannen opstellen en besturen </a> </td>
													    <td> <a href="../elements/id-736304.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-718845.html" target="element"> Overeenkomsten met inkoopleveranciers afsluiten en bewaken </a> </td>
													    <td> <a href="../elements/id-718845.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-718836.html" target="element"> Medewerkers werven en inzetbaar houden </a> </td>
											    <td> <a href="../elements/id-718836.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-736554.html" target="element"> Medewerkersstrategie en -plannen opstellen en besturen </a> </td>
													    <td> <a href="../elements/id-736554.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-736306.html" target="element"> Medewerkers in- en uitstromen </a> </td>
													    <td> <a href="../elements/id-736306.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-736533.html" target="element"> Medewerkers behouden </a> </td>
													    <td> <a href="../elements/id-736533.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-736531.html" target="element"> Medewerkers ontwikkelen </a> </td>
													    <td> <a href="../elements/id-736531.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-a3b3455a56c24e88a4a754dcb8cf68f3.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-a3b3455a56c24e88a4a754dcb8cf68f3.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-878679.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878679.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718824.html" target="element"> Bedrijfsgebouwen beheren en faciliteiten beschikbaar stellen </a> </td>
																		<td> <a href="../elements/id-736390.html" target="element"> Faciliteiten beschikbaar stellen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-878759.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878759.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718824.html" target="element"> Bedrijfsgebouwen beheren en faciliteiten beschikbaar stellen </a> </td>
																		<td> <a href="../elements/id-736449.html" target="element"> Bedrijfsgebouwen beheren </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-878373.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878373.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718834.html" target="element"> Digitale producten ontwikkelen en beheren </a> </td>
																		<td> <a href="../elements/id-736308.html" target="element"> Digitale producten exploiteren </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-878465.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878465.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718834.html" target="element"> Digitale producten ontwikkelen en beheren </a> </td>
																		<td> <a href="../elements/id-736292.html" target="element"> Digitale producten leveren </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-878500.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878500.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718834.html" target="element"> Digitale producten ontwikkelen en beheren </a> </td>
																		<td> <a href="../elements/id-736318.html" target="element"> Digitaalproductstrategie en -portfolio ontwikkelen en beheren </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-878792.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878792.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718834.html" target="element"> Digitale producten ontwikkelen en beheren </a> </td>
																		<td> <a href="../elements/id-736545.html" target="element"> Digitale producten realiseren </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-878386.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878386.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-736543.html" target="element"> Processen en data ontwikkelen en beheren </a> </td>
																		<td> <a href="../elements/id-718838.html" target="element"> Data besturen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-878857.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878857.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-736543.html" target="element"> Processen en data ontwikkelen en beheren </a> </td>
																		<td> <a href="../elements/id-718837.html" target="element"> Processen besturen </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-878811.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878811.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-736356.html" target="element"> Bedrijfsrichting opstellen en besturen </a> </td>
																		<td> <a href="../elements/id-736290.html" target="element"> Bedrijfscontinu&#239;teit en compliance borgen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-878558.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878558.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-736356.html" target="element"> Bedrijfsrichting opstellen en besturen </a> </td>
																		<td> <a href="../elements/id-718816.html" target="element"> Met stakeholders in overeenstemming komen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-878916.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878916.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-736356.html" target="element"> Bedrijfsrichting opstellen en besturen </a> </td>
																		<td> <a href="../elements/id-718820.html" target="element"> Transformatie van bedrijfsinrichting besturen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-878919.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878919.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-736356.html" target="element"> Bedrijfsrichting opstellen en besturen </a> </td>
																		<td> <a href="../elements/id-718815.html" target="element"> Strategie ontwikkelen en bewaken </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-878767.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878767.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718832.html" target="element"> Financi&#235;n verkrijgen en beheren </a> </td>
																		<td> <a href="../elements/id-736411.html" target="element"> Gebeurtenissen financieel verwerken en standen beheren </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-878880.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878880.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718832.html" target="element"> Financi&#235;n verkrijgen en beheren </a> </td>
																		<td> <a href="../elements/id-736374.html" target="element"> Financi&#235;le strategie en plannen opstellen, bewaken en rapporteren </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-878722.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878722.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718832.html" target="element"> Financi&#235;n verkrijgen en beheren </a> </td>
																		<td> <a href="../elements/id-718828.html" target="element"> Vermogen en liquiditeiten verkrijgen en beheren </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-878541.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878541.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718833.html" target="element"> Goederen en diensten verkrijgen </a> </td>
																		<td> <a href="../elements/id-718845.html" target="element"> Overeenkomsten met inkoopleveranciers afsluiten en bewaken </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-878725.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878725.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718833.html" target="element"> Goederen en diensten verkrijgen </a> </td>
																		<td> <a href="../elements/id-736304.html" target="element"> Goederen- en dienstenstrategie en -plannen opstellen en besturen </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-878798.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878798.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718836.html" target="element"> Medewerkers werven en inzetbaar houden </a> </td>
																		<td> <a href="../elements/id-736554.html" target="element"> Medewerkersstrategie en -plannen opstellen en besturen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-878911.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878911.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718836.html" target="element"> Medewerkers werven en inzetbaar houden </a> </td>
																		<td> <a href="../elements/id-736531.html" target="element"> Medewerkers ontwikkelen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-878921.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878921.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718836.html" target="element"> Medewerkers werven en inzetbaar houden </a> </td>
																		<td> <a href="../elements/id-736533.html" target="element"> Medewerkers behouden </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-878939.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878939.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718836.html" target="element"> Medewerkers werven en inzetbaar houden </a> </td>
																		<td> <a href="../elements/id-736306.html" target="element"> Medewerkers in- en uitstromen </a> </td>
																	</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>