<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>PowSyBI - OpenLoadFlow Realization</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>PowSyBI - OpenLoadFlow Realization</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-26b3210690ce4804b0feae1d54ceb4c4.png" alt="PowSyBI - OpenLoadFlow Realization" usemap="#id-26b3210690ce4804b0feae1d54ceb4c4map"/>
			   <map name="id-26b3210690ce4804b0feae1d54ceb4c4map">
				  		<area shape="rect" coords="682,10,802,65" href="../elements/EAID_1AFE201C_EB00_424a_82F7_722E4D6B06AE.html"  target="element">
				  		<area shape="rect" coords="10,10,130,65" href="../elements/EAID_58FA3EA2_9D38_4045_8091_CF622CF89574.html"  target="element">
				  		<area shape="rect" coords="442,10,562,65" href="../elements/EAID_D5D6B2F1_11BE_4985_B1D5_D5DA4380F2E1.html"  target="element">
				  		<area shape="rect" coords="238,10,358,65" href="../elements/EAID_E66CE9E1_D1AA_4e65_9948_F31053711580.html"  target="element">
				  				<area shape="rect" coords="370,202,490,257" href="../elements/id-d5597932e3d041a6afd6f6c6bf8ef422.html"  target="element">

				  		<area shape="rect" coords="334,166,527,275" href="../elements/id-593715b88d334ead863c8de5bb0dd09d.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-593715b88d334ead863c8de5bb0dd09d.html" target="element"> PowSyBI </a> </td>
											    <td> <a href="../elements/id-593715b88d334ead863c8de5bb0dd09d.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-d5597932e3d041a6afd6f6c6bf8ef422.html" target="element"> Open Load Flow </a> </td>
													    <td> <a href="../elements/id-d5597932e3d041a6afd6f6c6bf8ef422.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/EAID_E66CE9E1_D1AA_4e65_9948_F31053711580.html" target="element"> Power System State </a> </td>
											    <td> <a href="../elements/EAID_E66CE9E1_D1AA_4e65_9948_F31053711580.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/EAID_D5D6B2F1_11BE_4985_B1D5_D5DA4380F2E1.html" target="element"> Contingency Analysis </a> </td>
											    <td> <a href="../elements/EAID_D5D6B2F1_11BE_4985_B1D5_D5DA4380F2E1.html" target="element" class="i18n-elementtype-ApplicationFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/EAID_58FA3EA2_9D38_4045_8091_CF622CF89574.html" target="element"> Symmetric Power Flow Analysis </a> </td>
											    <td> <a href="../elements/EAID_58FA3EA2_9D38_4045_8091_CF622CF89574.html" target="element" class="i18n-elementtype-ApplicationFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/EAID_1AFE201C_EB00_424a_82F7_722E4D6B06AE.html" target="element"> Contingency Violations </a> </td>
											    <td> <a href="../elements/EAID_1AFE201C_EB00_424a_82F7_722E4D6B06AE.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-d202c8b1681843b99b4fcfe73b394732.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d202c8b1681843b99b4fcfe73b394732.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-593715b88d334ead863c8de5bb0dd09d.html" target="element"> PowSyBI </a> </td>
																		<td> <a href="../elements/id-d5597932e3d041a6afd6f6c6bf8ef422.html" target="element"> Open Load Flow </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e90061d2919640c899dd5c3d17455ec4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e90061d2919640c899dd5c3d17455ec4.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-593715b88d334ead863c8de5bb0dd09d.html" target="element"> PowSyBI </a> </td>
																		<td> <a href="../elements/id-d5597932e3d041a6afd6f6c6bf8ef422.html" target="element"> Open Load Flow </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-a4f13c81b63642d4a36a9e18fa9ae614.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a4f13c81b63642d4a36a9e18fa9ae614.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-d5597932e3d041a6afd6f6c6bf8ef422.html" target="element"> Open Load Flow </a> </td>
																				<td> <a href="../elements/EAID_D5D6B2F1_11BE_4985_B1D5_D5DA4380F2E1.html" target="element"> Contingency Analysis </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-a28341f8724d431e964fb3b9eda2f632.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a28341f8724d431e964fb3b9eda2f632.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-d5597932e3d041a6afd6f6c6bf8ef422.html" target="element"> Open Load Flow </a> </td>
																				<td> <a href="../elements/EAID_58FA3EA2_9D38_4045_8091_CF622CF89574.html" target="element"> Symmetric Power Flow Analysis </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/EAID_9E5E2F7A_320F_4694_B594_48950F0CE058.html" target="element">  </a> </td>
																		<td> <a href="../elements/EAID_9E5E2F7A_320F_4694_B594_48950F0CE058.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/EAID_D5D6B2F1_11BE_4985_B1D5_D5DA4380F2E1.html" target="element"> Contingency Analysis </a> </td>
																		<td> <a href="../elements/EAID_E66CE9E1_D1AA_4e65_9948_F31053711580.html" target="element"> Power System State </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/EAID_759C2F75_FD19_4dbd_BD0D_AE6C19C418B5.html" target="element">  </a> </td>
																		<td> <a href="../elements/EAID_759C2F75_FD19_4dbd_BD0D_AE6C19C418B5.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/EAID_D5D6B2F1_11BE_4985_B1D5_D5DA4380F2E1.html" target="element"> Contingency Analysis </a> </td>
																		<td> <a href="../elements/EAID_1AFE201C_EB00_424a_82F7_722E4D6B06AE.html" target="element"> Contingency Violations </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/EAID_4129AD6B_2142_40a4_ADE9_511C8D6DDBC0.html" target="element">  </a> </td>
																		<td> <a href="../elements/EAID_4129AD6B_2142_40a4_ADE9_511C8D6DDBC0.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/EAID_58FA3EA2_9D38_4045_8091_CF622CF89574.html" target="element"> Symmetric Power Flow Analysis </a> </td>
																		<td> <a href="../elements/EAID_E66CE9E1_D1AA_4e65_9948_F31053711580.html" target="element"> Power System State </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>