<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>L2 value stream I.D</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>L2 value stream I.D</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-3771b5d788dd443ca06a6d54873cf500.png" alt="L2 value stream I.D" usemap="#id-3771b5d788dd443ca06a6d54873cf500map"/>
			   <map name="id-3771b5d788dd443ca06a6d54873cf500map">
				          <area shape="rect" coords="10,610,239,659" href="../objects/id-3893e9e60890412081fb7b8f00d86437.html" target="element" >
				  						<area shape="rect" coords="250,538,407,563" href="../elements/id-736081.html"  target="element">

				  				<area shape="rect" coords="238,478,419,574" href="../elements/id-736531.html"  target="element">
				  						<area shape="rect" coords="250,430,407,455" href="../elements/id-736069.html"  target="element">

				  				<area shape="rect" coords="238,370,419,466" href="../elements/id-736533.html"  target="element">
				  						<area shape="rect" coords="250,322,407,346" href="../elements/id-736075.html"  target="element">

				  				<area shape="rect" coords="238,262,419,358" href="../elements/id-736306.html"  target="element">
				  						<area shape="rect" coords="250,214,407,239" href="../elements/id-736086.html"  target="element">

				  				<area shape="rect" coords="238,154,419,251" href="../elements/id-736554.html"  target="element">

				  		<area shape="rect" coords="226,82,430,587" href="../elements/id-718836.html"  target="element">
				  						<area shape="rect" coords="1114,430,1271,455" href="../elements/id-736013.html"  target="element">

				  				<area shape="rect" coords="1102,370,1283,466" href="../elements/id-736411.html"  target="element">

				  		<area shape="rect" coords="1090,82,1294,587" href="../elements/id-718832.html"  target="element">
				  						<area shape="rect" coords="466,538,623,563" href="../elements/id-736178.html"  target="element">

				  				<area shape="rect" coords="454,478,635,574" href="../elements/id-736308.html"  target="element">
				  						<area shape="rect" coords="466,430,623,455" href="../elements/id-736174.html"  target="element">

				  				<area shape="rect" coords="454,370,635,466" href="../elements/id-736292.html"  target="element">

				  		<area shape="rect" coords="442,82,646,587" href="../elements/id-718834.html"  target="element">
				  						<area shape="rect" coords="682,322,839,347" href="../elements/id-736059.html"  target="element">

				  				<area shape="rect" coords="670,262,851,358" href="../elements/id-718845.html"  target="element">

				  		<area shape="rect" coords="658,82,862,587" href="../elements/id-718833.html"  target="element">
				  						<area shape="rect" coords="34,214,191,239" href="../elements/id-736096.html"  target="element">

				  				<area shape="rect" coords="22,154,203,250" href="../elements/id-718837.html"  target="element">

				  		<area shape="rect" coords="10,82,214,587" href="../elements/id-736543.html"  target="element">
				  						<area shape="rect" coords="898,322,1055,347" href="../elements/id-736046.html"  target="element">

				  				<area shape="rect" coords="886,262,1067,358" href="../elements/id-736390.html"  target="element">

				  		<area shape="rect" coords="874,82,1078,587" href="../elements/id-718824.html"  target="element">
				  		<area shape="rect" coords="10,10,1295,71" href="../elements/id-6768bc9140094b1daa8706577a9a0b6e.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">SPDX-FileCopyrightText: 2017-2022 Contributors to the NBility project

SPDX-License-Identifier: CC-BY-4.0

Source: https://github.com/NBility-Model</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-6768bc9140094b1daa8706577a9a0b6e.html" target="element"> Beschikbaar maken en houden van inzetbare medewerkers </a> </td>
											    <td> <a href="../elements/id-6768bc9140094b1daa8706577a9a0b6e.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-718824.html" target="element"> Bedrijfsgebouwen beheren en faciliteiten beschikbaar stellen </a> </td>
											    <td> <a href="../elements/id-718824.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-736390.html" target="element"> Faciliteiten beschikbaar stellen </a> </td>
													    <td> <a href="../elements/id-736390.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-736046.html" target="element"> Facilitair product </a> </td>
															    <td> <a href="../elements/id-736046.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/id-736543.html" target="element"> Processen en data ontwikkelen en beheren </a> </td>
											    <td> <a href="../elements/id-736543.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-718837.html" target="element"> Processen besturen </a> </td>
													    <td> <a href="../elements/id-718837.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-736096.html" target="element"> Proces </a> </td>
															    <td> <a href="../elements/id-736096.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/id-718833.html" target="element"> Goederen en diensten verkrijgen </a> </td>
											    <td> <a href="../elements/id-718833.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-718845.html" target="element"> Overeenkomsten met inkoopleveranciers afsluiten en bewaken </a> </td>
													    <td> <a href="../elements/id-718845.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-736059.html" target="element"> Inkoopovereenkomst </a> </td>
															    <td> <a href="../elements/id-736059.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/id-718834.html" target="element"> Digitale producten ontwikkelen en beheren </a> </td>
											    <td> <a href="../elements/id-718834.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-736292.html" target="element"> Digitale producten leveren </a> </td>
													    <td> <a href="../elements/id-736292.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-736174.html" target="element"> Digitaalproductinstantie </a> </td>
															    <td> <a href="../elements/id-736174.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-736308.html" target="element"> Digitale producten exploiteren </a> </td>
													    <td> <a href="../elements/id-736308.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-736178.html" target="element"> Digitaalproductprestatie </a> </td>
															    <td> <a href="../elements/id-736178.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/id-718832.html" target="element"> Financi&#235;n verkrijgen en beheren </a> </td>
											    <td> <a href="../elements/id-718832.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-736411.html" target="element"> Gebeurtenissen financieel verwerken en standen beheren </a> </td>
													    <td> <a href="../elements/id-736411.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-736013.html" target="element"> Financieel feit </a> </td>
															    <td> <a href="../elements/id-736013.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/id-718836.html" target="element"> Medewerkers werven en inzetbaar houden </a> </td>
											    <td> <a href="../elements/id-718836.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-736554.html" target="element"> Medewerkersstrategie en -plannen opstellen en besturen </a> </td>
													    <td> <a href="../elements/id-736554.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-736086.html" target="element"> Medewerkersstrategie </a> </td>
															    <td> <a href="../elements/id-736086.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-736306.html" target="element"> Medewerkers in- en uitstromen </a> </td>
													    <td> <a href="../elements/id-736306.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-736075.html" target="element"> Medewerkersovereenkomst </a> </td>
															    <td> <a href="../elements/id-736075.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-736533.html" target="element"> Medewerkers behouden </a> </td>
													    <td> <a href="../elements/id-736533.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-736069.html" target="element"> Medewerker </a> </td>
															    <td> <a href="../elements/id-736069.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-736531.html" target="element"> Medewerkers ontwikkelen </a> </td>
													    <td> <a href="../elements/id-736531.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-736081.html" target="element"> Medewerkersprestatie </a> </td>
															    <td> <a href="../elements/id-736081.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
											
									        <tr>
									           <td> <a href="../objects/id-3893e9e60890412081fb7b8f00d86437.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-3893e9e60890412081fb7b8f00d86437.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-878679.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878679.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718824.html" target="element"> Bedrijfsgebouwen beheren en faciliteiten beschikbaar stellen </a> </td>
																		<td> <a href="../elements/id-736390.html" target="element"> Faciliteiten beschikbaar stellen </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-18a20651dd4540d398df26fa3dedc4c3.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-18a20651dd4540d398df26fa3dedc4c3.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-736390.html" target="element"> Faciliteiten beschikbaar stellen </a> </td>
																				<td> <a href="../elements/id-736046.html" target="element"> Facilitair product </a> </td>
																			</tr>

													
											
																	<tr>
																		<td> <a href="../elements/id-878857.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878857.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-736543.html" target="element"> Processen en data ontwikkelen en beheren </a> </td>
																		<td> <a href="../elements/id-718837.html" target="element"> Processen besturen </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-986422d26d5b4fb2b2ba762f186091d5.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-986422d26d5b4fb2b2ba762f186091d5.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-718837.html" target="element"> Processen besturen </a> </td>
																				<td> <a href="../elements/id-736096.html" target="element"> Proces </a> </td>
																			</tr>

													
											
																	<tr>
																		<td> <a href="../elements/id-878541.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878541.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718833.html" target="element"> Goederen en diensten verkrijgen </a> </td>
																		<td> <a href="../elements/id-718845.html" target="element"> Overeenkomsten met inkoopleveranciers afsluiten en bewaken </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-59c43b59bb014d539dfea4f53191c0f8.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-59c43b59bb014d539dfea4f53191c0f8.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-718845.html" target="element"> Overeenkomsten met inkoopleveranciers afsluiten en bewaken </a> </td>
																				<td> <a href="../elements/id-736059.html" target="element"> Inkoopovereenkomst </a> </td>
																			</tr>

													
											
																	<tr>
																		<td> <a href="../elements/id-878465.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878465.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718834.html" target="element"> Digitale producten ontwikkelen en beheren </a> </td>
																		<td> <a href="../elements/id-736292.html" target="element"> Digitale producten leveren </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-878373.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878373.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718834.html" target="element"> Digitale producten ontwikkelen en beheren </a> </td>
																		<td> <a href="../elements/id-736308.html" target="element"> Digitale producten exploiteren </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-ad74faf203d04bd1b593960eb84a1e54.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-ad74faf203d04bd1b593960eb84a1e54.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-736292.html" target="element"> Digitale producten leveren </a> </td>
																				<td> <a href="../elements/id-736174.html" target="element"> Digitaalproductinstantie </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-28db0d93baca42cabc9c561b615832b5.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-28db0d93baca42cabc9c561b615832b5.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-736308.html" target="element"> Digitale producten exploiteren </a> </td>
																				<td> <a href="../elements/id-736178.html" target="element"> Digitaalproductprestatie </a> </td>
																			</tr>

													
											
																	<tr>
																		<td> <a href="../elements/id-878767.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878767.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718832.html" target="element"> Financi&#235;n verkrijgen en beheren </a> </td>
																		<td> <a href="../elements/id-736411.html" target="element"> Gebeurtenissen financieel verwerken en standen beheren </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-0cbc6fc44cb14ddb82891c62efaecee8.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-0cbc6fc44cb14ddb82891c62efaecee8.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-736411.html" target="element"> Gebeurtenissen financieel verwerken en standen beheren </a> </td>
																				<td> <a href="../elements/id-736013.html" target="element"> Financieel feit </a> </td>
																			</tr>

													
											
																	<tr>
																		<td> <a href="../elements/id-878798.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878798.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718836.html" target="element"> Medewerkers werven en inzetbaar houden </a> </td>
																		<td> <a href="../elements/id-736554.html" target="element"> Medewerkersstrategie en -plannen opstellen en besturen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-878911.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878911.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718836.html" target="element"> Medewerkers werven en inzetbaar houden </a> </td>
																		<td> <a href="../elements/id-736531.html" target="element"> Medewerkers ontwikkelen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-878939.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878939.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718836.html" target="element"> Medewerkers werven en inzetbaar houden </a> </td>
																		<td> <a href="../elements/id-736306.html" target="element"> Medewerkers in- en uitstromen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-878921.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878921.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718836.html" target="element"> Medewerkers werven en inzetbaar houden </a> </td>
																		<td> <a href="../elements/id-736533.html" target="element"> Medewerkers behouden </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-8016a961d3f04b3e9b88e843f736f836.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-8016a961d3f04b3e9b88e843f736f836.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-736554.html" target="element"> Medewerkersstrategie en -plannen opstellen en besturen </a> </td>
																				<td> <a href="../elements/id-736086.html" target="element"> Medewerkersstrategie </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-c43bffde454c47e28b80f2de70288efa.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c43bffde454c47e28b80f2de70288efa.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-736306.html" target="element"> Medewerkers in- en uitstromen </a> </td>
																				<td> <a href="../elements/id-736075.html" target="element"> Medewerkersovereenkomst </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-a4a4aa6597a84aafb24dec3f1e989acc.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a4a4aa6597a84aafb24dec3f1e989acc.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-736533.html" target="element"> Medewerkers behouden </a> </td>
																				<td> <a href="../elements/id-736069.html" target="element"> Medewerker </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-8e325deeb2944fdd9203d6604ef07a79.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-8e325deeb2944fdd9203d6604ef07a79.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-736531.html" target="element"> Medewerkers ontwikkelen </a> </td>
																				<td> <a href="../elements/id-736081.html" target="element"> Medewerkersprestatie </a> </td>
																			</tr>

													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>