<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>L2 E functions/objects</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>L2 E functions/objects</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-3da7fb56bec34370bae55601a7d4c065.png" alt="L2 E functions/objects" usemap="#id-3da7fb56bec34370bae55601a7d4c065map"/>
			   <map name="id-3da7fb56bec34370bae55601a7d4c065map">
				          <area shape="rect" coords="10,538,239,587" href="../objects/id-9df4463df8c24c959be72a6307923a50.html" target="element" >
				  						<area shape="rect" coords="1114,250,1271,275" href="../elements/id-736046.html"  target="element">

				  				<area shape="rect" coords="1102,190,1283,286" href="../elements/id-736390.html"  target="element">
				  						<area shape="rect" coords="1114,142,1271,167" href="../elements/id-736041.html"  target="element">

				  				<area shape="rect" coords="1102,82,1283,179" href="../elements/id-736449.html"  target="element">

				  		<area shape="rect" coords="1090,10,1294,515" href="../elements/id-718824.html"  target="element">
				  						<area shape="rect" coords="1330,358,1487,383" href="../elements/id-736013.html"  target="element">

				  				<area shape="rect" coords="1318,298,1499,394" href="../elements/id-736411.html"  target="element">
				  						<area shape="rect" coords="1330,250,1487,275" href="../elements/id-736021.html"  target="element">

				  				<area shape="rect" coords="1318,190,1499,286" href="../elements/id-718828.html"  target="element">
				  						<area shape="rect" coords="1330,142,1487,167" href="../elements/id-736031.html"  target="element">

				  				<area shape="rect" coords="1318,82,1499,178" href="../elements/id-736374.html"  target="element">

				  		<area shape="rect" coords="1306,10,1510,515" href="../elements/id-718832.html"  target="element">
				  						<area shape="rect" coords="466,466,623,491" href="../elements/id-736081.html"  target="element">

				  				<area shape="rect" coords="454,406,635,502" href="../elements/id-736531.html"  target="element">
				  						<area shape="rect" coords="466,358,623,383" href="../elements/id-736069.html"  target="element">

				  				<area shape="rect" coords="454,298,635,394" href="../elements/id-736533.html"  target="element">
				  						<area shape="rect" coords="466,250,623,274" href="../elements/id-736075.html"  target="element">

				  				<area shape="rect" coords="454,190,635,286" href="../elements/id-736306.html"  target="element">
				  						<area shape="rect" coords="466,142,623,167" href="../elements/id-736086.html"  target="element">

				  				<area shape="rect" coords="454,82,635,179" href="../elements/id-736554.html"  target="element">

				  		<area shape="rect" coords="442,10,646,515" href="../elements/id-718836.html"  target="element">
				  						<area shape="rect" coords="682,466,839,491" href="../elements/id-736178.html"  target="element">

				  				<area shape="rect" coords="670,406,851,502" href="../elements/id-736308.html"  target="element">
				  						<area shape="rect" coords="682,358,839,383" href="../elements/id-736174.html"  target="element">

				  				<area shape="rect" coords="670,298,851,394" href="../elements/id-736292.html"  target="element">
				  						<area shape="rect" coords="682,250,839,275" href="../elements/id-736170.html"  target="element">

				  				<area shape="rect" coords="670,190,851,286" href="../elements/id-736545.html"  target="element">
				  						<area shape="rect" coords="682,142,839,167" href="../elements/id-736164.html"  target="element">

				  				<area shape="rect" coords="670,82,851,178" href="../elements/id-736318.html"  target="element">

				  		<area shape="rect" coords="658,10,862,515" href="../elements/id-718834.html"  target="element">
				  						<area shape="rect" coords="34,466,191,491" href="../elements/id-736126.html"  target="element">

				  				<area shape="rect" coords="22,406,203,503" href="../elements/id-736290.html"  target="element">
				  						<area shape="rect" coords="34,358,191,383" href="../elements/id-736150.html"  target="element">

				  				<area shape="rect" coords="22,298,203,394" href="../elements/id-718820.html"  target="element">
				  						<area shape="rect" coords="34,250,191,274" href="../elements/id-736116.html"  target="element">

				  				<area shape="rect" coords="22,190,203,287" href="../elements/id-718816.html"  target="element">
				  						<area shape="rect" coords="34,142,191,167" href="../elements/id-736160.html"  target="element">

				  				<area shape="rect" coords="22,82,203,178" href="../elements/id-718815.html"  target="element">

				  		<area shape="rect" coords="10,10,214,515" href="../elements/id-736356.html"  target="element">
				  						<area shape="rect" coords="250,250,407,275" href="../elements/id-736102.html"  target="element">

				  				<area shape="rect" coords="238,190,419,287" href="../elements/id-718838.html"  target="element">
				  						<area shape="rect" coords="250,142,407,167" href="../elements/id-736096.html"  target="element">

				  				<area shape="rect" coords="238,82,419,178" href="../elements/id-718837.html"  target="element">

				  		<area shape="rect" coords="226,10,430,515" href="../elements/id-736543.html"  target="element">
				  						<area shape="rect" coords="898,250,1055,275" href="../elements/id-736059.html"  target="element">

				  				<area shape="rect" coords="886,190,1067,286" href="../elements/id-718845.html"  target="element">
				  						<area shape="rect" coords="898,142,1055,167" href="../elements/id-736053.html"  target="element">

				  				<area shape="rect" coords="886,82,1067,178" href="../elements/id-736304.html"  target="element">

				  		<area shape="rect" coords="874,10,1078,515" href="../elements/id-718833.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">SPDX-FileCopyrightText: 2017-2022 Contributors to the NBility project

SPDX-License-Identifier: CC-BY-4.0

Source: https://github.com/NBility-Model</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-718833.html" target="element"> Goederen en diensten verkrijgen </a> </td>
											    <td> <a href="../elements/id-718833.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-736304.html" target="element"> Goederen- en dienstenstrategie en -plannen opstellen en besturen </a> </td>
													    <td> <a href="../elements/id-736304.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-736053.html" target="element"> Inkoopstrategie </a> </td>
															    <td> <a href="../elements/id-736053.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-718845.html" target="element"> Overeenkomsten met inkoopleveranciers afsluiten en bewaken </a> </td>
													    <td> <a href="../elements/id-718845.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-736059.html" target="element"> Inkoopovereenkomst </a> </td>
															    <td> <a href="../elements/id-736059.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/id-736543.html" target="element"> Processen en data ontwikkelen en beheren </a> </td>
											    <td> <a href="../elements/id-736543.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-718837.html" target="element"> Processen besturen </a> </td>
													    <td> <a href="../elements/id-718837.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-736096.html" target="element"> Proces </a> </td>
															    <td> <a href="../elements/id-736096.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-718838.html" target="element"> Data besturen </a> </td>
													    <td> <a href="../elements/id-718838.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-736102.html" target="element"> Data </a> </td>
															    <td> <a href="../elements/id-736102.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/id-736356.html" target="element"> Bedrijfsrichting opstellen en besturen </a> </td>
											    <td> <a href="../elements/id-736356.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-718815.html" target="element"> Strategie ontwikkelen en bewaken </a> </td>
													    <td> <a href="../elements/id-718815.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-736160.html" target="element"> Bedrijfsstrategie </a> </td>
															    <td> <a href="../elements/id-736160.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-718816.html" target="element"> Met stakeholders in overeenstemming komen </a> </td>
													    <td> <a href="../elements/id-718816.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-736116.html" target="element"> Stakeholder </a> </td>
															    <td> <a href="../elements/id-736116.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-718820.html" target="element"> Transformatie van bedrijfsinrichting besturen </a> </td>
													    <td> <a href="../elements/id-718820.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-736150.html" target="element"> Transformatie </a> </td>
															    <td> <a href="../elements/id-736150.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-736290.html" target="element"> Bedrijfscontinu&#239;teit en compliance borgen </a> </td>
													    <td> <a href="../elements/id-736290.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-736126.html" target="element"> Risico </a> </td>
															    <td> <a href="../elements/id-736126.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/id-718834.html" target="element"> Digitale producten ontwikkelen en beheren </a> </td>
											    <td> <a href="../elements/id-718834.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-736318.html" target="element"> Digitaalproductstrategie en -portfolio ontwikkelen en beheren </a> </td>
													    <td> <a href="../elements/id-736318.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-736164.html" target="element"> Digitaal product </a> </td>
															    <td> <a href="../elements/id-736164.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-736545.html" target="element"> Digitale producten realiseren </a> </td>
													    <td> <a href="../elements/id-736545.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-736170.html" target="element"> Digitaalproductwijziging </a> </td>
															    <td> <a href="../elements/id-736170.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-736292.html" target="element"> Digitale producten leveren </a> </td>
													    <td> <a href="../elements/id-736292.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-736174.html" target="element"> Digitaalproductinstantie </a> </td>
															    <td> <a href="../elements/id-736174.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-736308.html" target="element"> Digitale producten exploiteren </a> </td>
													    <td> <a href="../elements/id-736308.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-736178.html" target="element"> Digitaalproductprestatie </a> </td>
															    <td> <a href="../elements/id-736178.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/id-718836.html" target="element"> Medewerkers werven en inzetbaar houden </a> </td>
											    <td> <a href="../elements/id-718836.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-736554.html" target="element"> Medewerkersstrategie en -plannen opstellen en besturen </a> </td>
													    <td> <a href="../elements/id-736554.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-736086.html" target="element"> Medewerkersstrategie </a> </td>
															    <td> <a href="../elements/id-736086.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-736306.html" target="element"> Medewerkers in- en uitstromen </a> </td>
													    <td> <a href="../elements/id-736306.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-736075.html" target="element"> Medewerkersovereenkomst </a> </td>
															    <td> <a href="../elements/id-736075.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-736533.html" target="element"> Medewerkers behouden </a> </td>
													    <td> <a href="../elements/id-736533.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-736069.html" target="element"> Medewerker </a> </td>
															    <td> <a href="../elements/id-736069.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-736531.html" target="element"> Medewerkers ontwikkelen </a> </td>
													    <td> <a href="../elements/id-736531.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-736081.html" target="element"> Medewerkersprestatie </a> </td>
															    <td> <a href="../elements/id-736081.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/id-718832.html" target="element"> Financi&#235;n verkrijgen en beheren </a> </td>
											    <td> <a href="../elements/id-718832.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-736374.html" target="element"> Financi&#235;le strategie en plannen opstellen, bewaken en rapporteren </a> </td>
													    <td> <a href="../elements/id-736374.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-736031.html" target="element"> Financi&#235;le strategie </a> </td>
															    <td> <a href="../elements/id-736031.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-718828.html" target="element"> Vermogen en liquiditeiten verkrijgen en beheren </a> </td>
													    <td> <a href="../elements/id-718828.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-736021.html" target="element"> Vermogen en liquiditeit </a> </td>
															    <td> <a href="../elements/id-736021.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-736411.html" target="element"> Gebeurtenissen financieel verwerken en standen beheren </a> </td>
													    <td> <a href="../elements/id-736411.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-736013.html" target="element"> Financieel feit </a> </td>
															    <td> <a href="../elements/id-736013.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/id-718824.html" target="element"> Bedrijfsgebouwen beheren en faciliteiten beschikbaar stellen </a> </td>
											    <td> <a href="../elements/id-718824.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-736449.html" target="element"> Bedrijfsgebouwen beheren </a> </td>
													    <td> <a href="../elements/id-736449.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-736041.html" target="element"> Bedrijfsgebouw </a> </td>
															    <td> <a href="../elements/id-736041.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-736390.html" target="element"> Faciliteiten beschikbaar stellen </a> </td>
													    <td> <a href="../elements/id-736390.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-736046.html" target="element"> Facilitair product </a> </td>
															    <td> <a href="../elements/id-736046.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
											
									        <tr>
									           <td> <a href="../objects/id-9df4463df8c24c959be72a6307923a50.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-9df4463df8c24c959be72a6307923a50.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-878725.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878725.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718833.html" target="element"> Goederen en diensten verkrijgen </a> </td>
																		<td> <a href="../elements/id-736304.html" target="element"> Goederen- en dienstenstrategie en -plannen opstellen en besturen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-878541.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878541.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718833.html" target="element"> Goederen en diensten verkrijgen </a> </td>
																		<td> <a href="../elements/id-718845.html" target="element"> Overeenkomsten met inkoopleveranciers afsluiten en bewaken </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-da0a8c967c2544579067c5ee5351c876.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-da0a8c967c2544579067c5ee5351c876.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-736304.html" target="element"> Goederen- en dienstenstrategie en -plannen opstellen en besturen </a> </td>
																				<td> <a href="../elements/id-736053.html" target="element"> Inkoopstrategie </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-59c43b59bb014d539dfea4f53191c0f8.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-59c43b59bb014d539dfea4f53191c0f8.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-718845.html" target="element"> Overeenkomsten met inkoopleveranciers afsluiten en bewaken </a> </td>
																				<td> <a href="../elements/id-736059.html" target="element"> Inkoopovereenkomst </a> </td>
																			</tr>

													
											
																	<tr>
																		<td> <a href="../elements/id-878857.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878857.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-736543.html" target="element"> Processen en data ontwikkelen en beheren </a> </td>
																		<td> <a href="../elements/id-718837.html" target="element"> Processen besturen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-878386.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878386.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-736543.html" target="element"> Processen en data ontwikkelen en beheren </a> </td>
																		<td> <a href="../elements/id-718838.html" target="element"> Data besturen </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-986422d26d5b4fb2b2ba762f186091d5.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-986422d26d5b4fb2b2ba762f186091d5.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-718837.html" target="element"> Processen besturen </a> </td>
																				<td> <a href="../elements/id-736096.html" target="element"> Proces </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-352ea6e8b9ac4d829e07185d4efd8b07.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-352ea6e8b9ac4d829e07185d4efd8b07.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-718838.html" target="element"> Data besturen </a> </td>
																				<td> <a href="../elements/id-736102.html" target="element"> Data </a> </td>
																			</tr>

													
											
																	<tr>
																		<td> <a href="../elements/id-878811.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878811.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-736356.html" target="element"> Bedrijfsrichting opstellen en besturen </a> </td>
																		<td> <a href="../elements/id-736290.html" target="element"> Bedrijfscontinu&#239;teit en compliance borgen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-878919.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878919.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-736356.html" target="element"> Bedrijfsrichting opstellen en besturen </a> </td>
																		<td> <a href="../elements/id-718815.html" target="element"> Strategie ontwikkelen en bewaken </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-878916.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878916.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-736356.html" target="element"> Bedrijfsrichting opstellen en besturen </a> </td>
																		<td> <a href="../elements/id-718820.html" target="element"> Transformatie van bedrijfsinrichting besturen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-878558.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878558.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-736356.html" target="element"> Bedrijfsrichting opstellen en besturen </a> </td>
																		<td> <a href="../elements/id-718816.html" target="element"> Met stakeholders in overeenstemming komen </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-a874c1ee978b49d4bb395120cedf2b3e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a874c1ee978b49d4bb395120cedf2b3e.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-718815.html" target="element"> Strategie ontwikkelen en bewaken </a> </td>
																				<td> <a href="../elements/id-736160.html" target="element"> Bedrijfsstrategie </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-5fe5ceb3dad2407a9bbac7f311273a9e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5fe5ceb3dad2407a9bbac7f311273a9e.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-718816.html" target="element"> Met stakeholders in overeenstemming komen </a> </td>
																				<td> <a href="../elements/id-736116.html" target="element"> Stakeholder </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-3ba46e73883140d29892cb89f06cbf8e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-3ba46e73883140d29892cb89f06cbf8e.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-718820.html" target="element"> Transformatie van bedrijfsinrichting besturen </a> </td>
																				<td> <a href="../elements/id-736150.html" target="element"> Transformatie </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-6f0bb3141c374f1d963767d443955bbb.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-6f0bb3141c374f1d963767d443955bbb.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-736290.html" target="element"> Bedrijfscontinu&#239;teit en compliance borgen </a> </td>
																				<td> <a href="../elements/id-736126.html" target="element"> Risico </a> </td>
																			</tr>

													
											
																	<tr>
																		<td> <a href="../elements/id-878792.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878792.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718834.html" target="element"> Digitale producten ontwikkelen en beheren </a> </td>
																		<td> <a href="../elements/id-736545.html" target="element"> Digitale producten realiseren </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-878465.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878465.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718834.html" target="element"> Digitale producten ontwikkelen en beheren </a> </td>
																		<td> <a href="../elements/id-736292.html" target="element"> Digitale producten leveren </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-878373.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878373.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718834.html" target="element"> Digitale producten ontwikkelen en beheren </a> </td>
																		<td> <a href="../elements/id-736308.html" target="element"> Digitale producten exploiteren </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-878500.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878500.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718834.html" target="element"> Digitale producten ontwikkelen en beheren </a> </td>
																		<td> <a href="../elements/id-736318.html" target="element"> Digitaalproductstrategie en -portfolio ontwikkelen en beheren </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-f492db64352643be95fb0ca18c05a73b.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-f492db64352643be95fb0ca18c05a73b.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-736318.html" target="element"> Digitaalproductstrategie en -portfolio ontwikkelen en beheren </a> </td>
																				<td> <a href="../elements/id-736164.html" target="element"> Digitaal product </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-97c5ffcfa89b4f938b9ead3378021203.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-97c5ffcfa89b4f938b9ead3378021203.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-736545.html" target="element"> Digitale producten realiseren </a> </td>
																				<td> <a href="../elements/id-736170.html" target="element"> Digitaalproductwijziging </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-ad74faf203d04bd1b593960eb84a1e54.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-ad74faf203d04bd1b593960eb84a1e54.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-736292.html" target="element"> Digitale producten leveren </a> </td>
																				<td> <a href="../elements/id-736174.html" target="element"> Digitaalproductinstantie </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-28db0d93baca42cabc9c561b615832b5.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-28db0d93baca42cabc9c561b615832b5.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-736308.html" target="element"> Digitale producten exploiteren </a> </td>
																				<td> <a href="../elements/id-736178.html" target="element"> Digitaalproductprestatie </a> </td>
																			</tr>

													
											
																	<tr>
																		<td> <a href="../elements/id-878911.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878911.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718836.html" target="element"> Medewerkers werven en inzetbaar houden </a> </td>
																		<td> <a href="../elements/id-736531.html" target="element"> Medewerkers ontwikkelen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-878921.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878921.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718836.html" target="element"> Medewerkers werven en inzetbaar houden </a> </td>
																		<td> <a href="../elements/id-736533.html" target="element"> Medewerkers behouden </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-878798.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878798.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718836.html" target="element"> Medewerkers werven en inzetbaar houden </a> </td>
																		<td> <a href="../elements/id-736554.html" target="element"> Medewerkersstrategie en -plannen opstellen en besturen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-878939.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878939.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718836.html" target="element"> Medewerkers werven en inzetbaar houden </a> </td>
																		<td> <a href="../elements/id-736306.html" target="element"> Medewerkers in- en uitstromen </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-8016a961d3f04b3e9b88e843f736f836.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-8016a961d3f04b3e9b88e843f736f836.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-736554.html" target="element"> Medewerkersstrategie en -plannen opstellen en besturen </a> </td>
																				<td> <a href="../elements/id-736086.html" target="element"> Medewerkersstrategie </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-c43bffde454c47e28b80f2de70288efa.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c43bffde454c47e28b80f2de70288efa.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-736306.html" target="element"> Medewerkers in- en uitstromen </a> </td>
																				<td> <a href="../elements/id-736075.html" target="element"> Medewerkersovereenkomst </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-a4a4aa6597a84aafb24dec3f1e989acc.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a4a4aa6597a84aafb24dec3f1e989acc.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-736533.html" target="element"> Medewerkers behouden </a> </td>
																				<td> <a href="../elements/id-736069.html" target="element"> Medewerker </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-8e325deeb2944fdd9203d6604ef07a79.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-8e325deeb2944fdd9203d6604ef07a79.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-736531.html" target="element"> Medewerkers ontwikkelen </a> </td>
																				<td> <a href="../elements/id-736081.html" target="element"> Medewerkersprestatie </a> </td>
																			</tr>

													
											
																	<tr>
																		<td> <a href="../elements/id-878880.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878880.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718832.html" target="element"> Financi&#235;n verkrijgen en beheren </a> </td>
																		<td> <a href="../elements/id-736374.html" target="element"> Financi&#235;le strategie en plannen opstellen, bewaken en rapporteren </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-878722.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878722.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718832.html" target="element"> Financi&#235;n verkrijgen en beheren </a> </td>
																		<td> <a href="../elements/id-718828.html" target="element"> Vermogen en liquiditeiten verkrijgen en beheren </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-878767.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878767.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718832.html" target="element"> Financi&#235;n verkrijgen en beheren </a> </td>
																		<td> <a href="../elements/id-736411.html" target="element"> Gebeurtenissen financieel verwerken en standen beheren </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-abd944d973aa48adbc18f649f5f420dc.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-abd944d973aa48adbc18f649f5f420dc.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-736374.html" target="element"> Financi&#235;le strategie en plannen opstellen, bewaken en rapporteren </a> </td>
																				<td> <a href="../elements/id-736031.html" target="element"> Financi&#235;le strategie </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-e4604bb2d0df4aa4977ba1f20a18a6a6.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e4604bb2d0df4aa4977ba1f20a18a6a6.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-718828.html" target="element"> Vermogen en liquiditeiten verkrijgen en beheren </a> </td>
																				<td> <a href="../elements/id-736021.html" target="element"> Vermogen en liquiditeit </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-0cbc6fc44cb14ddb82891c62efaecee8.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-0cbc6fc44cb14ddb82891c62efaecee8.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-736411.html" target="element"> Gebeurtenissen financieel verwerken en standen beheren </a> </td>
																				<td> <a href="../elements/id-736013.html" target="element"> Financieel feit </a> </td>
																			</tr>

													
											
																	<tr>
																		<td> <a href="../elements/id-878679.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878679.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718824.html" target="element"> Bedrijfsgebouwen beheren en faciliteiten beschikbaar stellen </a> </td>
																		<td> <a href="../elements/id-736390.html" target="element"> Faciliteiten beschikbaar stellen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-878759.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878759.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718824.html" target="element"> Bedrijfsgebouwen beheren en faciliteiten beschikbaar stellen </a> </td>
																		<td> <a href="../elements/id-736449.html" target="element"> Bedrijfsgebouwen beheren </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-2599636545904b62ba9cebac3f11940c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-2599636545904b62ba9cebac3f11940c.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-736449.html" target="element"> Bedrijfsgebouwen beheren </a> </td>
																				<td> <a href="../elements/id-736041.html" target="element"> Bedrijfsgebouw </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-18a20651dd4540d398df26fa3dedc4c3.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-18a20651dd4540d398df26fa3dedc4c3.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-736390.html" target="element"> Faciliteiten beschikbaar stellen </a> </td>
																				<td> <a href="../elements/id-736046.html" target="element"> Facilitair product </a> </td>
																			</tr>

													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>