<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>SOGNO Forecasting Detailed</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>SOGNO Forecasting Detailed</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-3ab86e3db51f4338bfcc8cdb76250daa.png" alt="SOGNO Forecasting Detailed" usemap="#id-3ab86e3db51f4338bfcc8cdb76250daamap"/>
			   <map name="id-3ab86e3db51f4338bfcc8cdb76250daamap">
				  		<area shape="rect" coords="274,300,394,355" href="../elements/id-b74eccd7e7b749a5b592a9486f3f1cb4.html"  target="element">
				  		<area shape="rect" coords="10,204,130,259" href="../elements/EAID_A8D221BC_E568_4842_BBC5_170FB0C99615.html"  target="element">
				  		<area shape="rect" coords="526,60,646,115" href="../elements/EAID_9E4FBA8F_46DC_4f4c_A61A_ADFA641F74F5.html"  target="element">
				  		<area shape="rect" coords="10,10,130,61" href="../elements/EAID_C91B790E_A9EC_40f8_8EE4_B9D270E2CF11.html"  target="element">
				  		<area shape="rect" coords="10,72,130,123" href="../elements/EAID_113BD35A_4922_403b_8E76_02A97C1A85D6.html"  target="element">
				  		<area shape="rect" coords="274,87,394,178" href="../elements/EAID_8498C704_8821_4d32_8D51_177A849D2326.html"  target="element">
				  		<area shape="rect" coords="286,396,431,457" href="../elements/id-dddcf9597fad45ec83efd5a63097aebf.html"  target="element">
				  		<area shape="rect" coords="526,144,646,199" href="../elements/id-942a31522bed430da3a8363775f810a3.html"  target="element">
				  		<area shape="rect" coords="10,132,130,187" href="../elements/id-921b5d90859b4e79ad6f7473c510a03e.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-921b5d90859b4e79ad6f7473c510a03e.html" target="element"> Measured RES production </a> </td>
											    <td> <a href="../elements/id-921b5d90859b4e79ad6f7473c510a03e.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-942a31522bed430da3a8363775f810a3.html" target="element"> Short Term RES production Forecast </a> </td>
											    <td> <a href="../elements/id-942a31522bed430da3a8363775f810a3.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-dddcf9597fad45ec83efd5a63097aebf.html" target="element"> SOGNO </a> </td>
											    <td> <a href="../elements/id-dddcf9597fad45ec83efd5a63097aebf.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/EAID_8498C704_8821_4d32_8D51_177A849D2326.html" target="element"> Load Forecasting </a> </td>
											    <td> <a href="../elements/EAID_8498C704_8821_4d32_8D51_177A849D2326.html" target="element" class="i18n-elementtype-ApplicationFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/EAID_113BD35A_4922_403b_8E76_02A97C1A85D6.html" target="element"> Measured Loads </a> </td>
											    <td> <a href="../elements/EAID_113BD35A_4922_403b_8E76_02A97C1A85D6.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/EAID_C91B790E_A9EC_40f8_8EE4_B9D270E2CF11.html" target="element"> Weather Forecast </a> </td>
											    <td> <a href="../elements/EAID_C91B790E_A9EC_40f8_8EE4_B9D270E2CF11.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/EAID_9E4FBA8F_46DC_4f4c_A61A_ADFA641F74F5.html" target="element"> Short Term Load Forecast </a> </td>
											    <td> <a href="../elements/EAID_9E4FBA8F_46DC_4f4c_A61A_ADFA641F74F5.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/EAID_A8D221BC_E568_4842_BBC5_170FB0C99615.html" target="element"> Calendar </a> </td>
											    <td> <a href="../elements/EAID_A8D221BC_E568_4842_BBC5_170FB0C99615.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b74eccd7e7b749a5b592a9486f3f1cb4.html" target="element"> ProLoaF </a> </td>
											    <td> <a href="../elements/id-b74eccd7e7b749a5b592a9486f3f1cb4.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-b1453e040f324e64bcaa5b876816e547.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b1453e040f324e64bcaa5b876816e547.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-dddcf9597fad45ec83efd5a63097aebf.html" target="element"> SOGNO </a> </td>
																		<td> <a href="../elements/id-b74eccd7e7b749a5b592a9486f3f1cb4.html" target="element"> ProLoaF </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-8dc03047cd8b445688366c34a7dc1a3b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8dc03047cd8b445688366c34a7dc1a3b.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/EAID_8498C704_8821_4d32_8D51_177A849D2326.html" target="element"> Load Forecasting </a> </td>
																		<td> <a href="../elements/id-921b5d90859b4e79ad6f7473c510a03e.html" target="element"> Measured RES production </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f893340084ca4f5eae10a3d25c5f72a5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f893340084ca4f5eae10a3d25c5f72a5.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/EAID_8498C704_8821_4d32_8D51_177A849D2326.html" target="element"> Load Forecasting </a> </td>
																		<td> <a href="../elements/id-942a31522bed430da3a8363775f810a3.html" target="element"> Short Term RES production Forecast </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/EAID_64EF0FC3_BD9A_4df1_A803_730D77C84E51.html" target="element">  </a> </td>
																		<td> <a href="../elements/EAID_64EF0FC3_BD9A_4df1_A803_730D77C84E51.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/EAID_8498C704_8821_4d32_8D51_177A849D2326.html" target="element"> Load Forecasting </a> </td>
																		<td> <a href="../elements/EAID_C91B790E_A9EC_40f8_8EE4_B9D270E2CF11.html" target="element"> Weather Forecast </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/EAID_F77AB553_7067_41c2_BB7B_4CF79153ECDF.html" target="element">  </a> </td>
																		<td> <a href="../elements/EAID_F77AB553_7067_41c2_BB7B_4CF79153ECDF.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/EAID_8498C704_8821_4d32_8D51_177A849D2326.html" target="element"> Load Forecasting </a> </td>
																		<td> <a href="../elements/EAID_113BD35A_4922_403b_8E76_02A97C1A85D6.html" target="element"> Measured Loads </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/EAID_4C555B54_3595_43d4_B0E8_4EA4F7073C56.html" target="element">  </a> </td>
																		<td> <a href="../elements/EAID_4C555B54_3595_43d4_B0E8_4EA4F7073C56.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/EAID_8498C704_8821_4d32_8D51_177A849D2326.html" target="element"> Load Forecasting </a> </td>
																		<td> <a href="../elements/EAID_9E4FBA8F_46DC_4f4c_A61A_ADFA641F74F5.html" target="element"> Short Term Load Forecast </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/EAID_EC868F19_E611_44df_A645_94F4F4DD2D59.html" target="element">  </a> </td>
																		<td> <a href="../elements/EAID_EC868F19_E611_44df_A645_94F4F4DD2D59.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/EAID_8498C704_8821_4d32_8D51_177A849D2326.html" target="element"> Load Forecasting </a> </td>
																		<td> <a href="../elements/EAID_A8D221BC_E568_4842_BBC5_170FB0C99615.html" target="element"> Calendar </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-05217681d28047d4ae2869ab067b441f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-05217681d28047d4ae2869ab067b441f.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b74eccd7e7b749a5b592a9486f3f1cb4.html" target="element"> ProLoaF </a> </td>
																		<td> <a href="../elements/EAID_8498C704_8821_4d32_8D51_177A849D2326.html" target="element"> Load Forecasting </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>