<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Value streams</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Value streams</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-6225ff5803f4430097c315560cc3065c.png" alt="Value streams" usemap="#id-6225ff5803f4430097c315560cc3065cmap"/>
			   <map name="id-6225ff5803f4430097c315560cc3065cmap">
				          <area shape="rect" coords="10,886,239,935" href="../objects/id-b366b62f6df94e0f866c46ac9bd39c9a.html" target="element" >
				  				<area shape="rect" coords="22,526,419,563" href="../elements/id-f6eb2df1c8894a1a89ec05d23dd4b68b.html"  target="element">
				  				<area shape="rect" coords="22,574,419,611" href="../elements/id-0ecbd9d1faaa47a49a508613dea2efd0.html"  target="element">
				  				<area shape="rect" coords="22,814,419,851" href="../elements/id-a5b3cfa283954862b6d6a05af2acd12d.html"  target="element">
				  				<area shape="rect" coords="22,622,419,659" href="../elements/id-988752337f59432bb5552965cb7a96cc.html"  target="element">
				  				<area shape="rect" coords="22,670,419,707" href="../elements/id-6768bc9140094b1daa8706577a9a0b6e.html"  target="element">
				  				<area shape="rect" coords="22,718,419,755" href="../elements/id-63641939a77640b887628b46caf81710.html"  target="element">
				  				<area shape="rect" coords="22,766,419,803" href="../elements/id-d78e8cc1492d47c2851e1a2407e9959f.html"  target="element">

				  		<area shape="rect" coords="10,490,431,863" href="../elements/id-658375e1e23644f589ccaa437fa7e45f.html"  target="element">
				  				<area shape="rect" coords="22,430,419,467" href="../elements/id-24459716ccb14af5bff12769ebcb5476.html"  target="element">
				  				<area shape="rect" coords="22,382,419,419" href="../elements/id-2653d94e08524482adaf3439ed2972e3.html"  target="element">
				  				<area shape="rect" coords="22,238,419,275" href="../elements/id-3716424db89446b59aaef8164198f9f6.html"  target="element">
				  				<area shape="rect" coords="22,142,419,179" href="../elements/id-91bf847e403945859162d47ea5d7490f.html"  target="element">
				  				<area shape="rect" coords="22,190,419,227" href="../elements/id-66cbd1922333427da4a6446c460c5c85.html"  target="element">
				  				<area shape="rect" coords="22,46,419,83" href="../elements/id-df9fefba488846358a0b0593b99c6284.html"  target="element">
				  				<area shape="rect" coords="22,334,419,371" href="../elements/id-afa6bf1f62714f499a365d33d9c4eb15.html"  target="element">
				  				<area shape="rect" coords="22,286,419,323" href="../elements/id-4993de1666b84efcbc102bcd6102ada2.html"  target="element">
				  				<area shape="rect" coords="22,94,419,131" href="../elements/id-1c1d6f6d910a432f94a16f80147f0e4b.html"  target="element">

				  		<area shape="rect" coords="10,10,431,479" href="../elements/id-b7e50220855c4223b7af84a5a0e78e1a.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">SPDX-FileCopyrightText: 2017-2022 Contributors to the NBility project

SPDX-License-Identifier: CC-BY-4.0

Source: https://github.com/NBility-Model</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-b7e50220855c4223b7af84a5a0e78e1a.html" target="element"> Primaire waardestromen </a> </td>
											    <td> <a href="../elements/id-b7e50220855c4223b7af84a5a0e78e1a.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-1c1d6f6d910a432f94a16f80147f0e4b.html" target="element"> Reconstrueren van energienetten </a> </td>
													    <td> <a href="../elements/id-1c1d6f6d910a432f94a16f80147f0e4b.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-4993de1666b84efcbc102bcd6102ada2.html" target="element"> Managen van beschikbare energienetcapaciteit (toekomst) </a> </td>
													    <td> <a href="../elements/id-4993de1666b84efcbc102bcd6102ada2.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-afa6bf1f62714f499a365d33d9c4eb15.html" target="element"> Transporteren van energie (nu) </a> </td>
													    <td> <a href="../elements/id-afa6bf1f62714f499a365d33d9c4eb15.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-df9fefba488846358a0b0593b99c6284.html" target="element"> Contracteren, aan- en afsluiten van gebruikers </a> </td>
													    <td> <a href="../elements/id-df9fefba488846358a0b0593b99c6284.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-66cbd1922333427da4a6446c460c5c85.html" target="element"> Instandhouden van energienetten (onderhoud) </a> </td>
													    <td> <a href="../elements/id-66cbd1922333427da4a6446c460c5c85.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-91bf847e403945859162d47ea5d7490f.html" target="element"> Netgedreven aanpassen van energienetten </a> </td>
													    <td> <a href="../elements/id-91bf847e403945859162d47ea5d7490f.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-3716424db89446b59aaef8164198f9f6.html" target="element"> Instandhouden van energienetten (storingsherstel) </a> </td>
													    <td> <a href="../elements/id-3716424db89446b59aaef8164198f9f6.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2653d94e08524482adaf3439ed2972e3.html" target="element"> Toewijzen van energie-uitwisseling </a> </td>
													    <td> <a href="../elements/id-2653d94e08524482adaf3439ed2972e3.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-24459716ccb14af5bff12769ebcb5476.html" target="element"> Beschikbaar stellen van netbeheerdata </a> </td>
													    <td> <a href="../elements/id-24459716ccb14af5bff12769ebcb5476.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-658375e1e23644f589ccaa437fa7e45f.html" target="element"> Interne waardestromen </a> </td>
											    <td> <a href="../elements/id-658375e1e23644f589ccaa437fa7e45f.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-d78e8cc1492d47c2851e1a2407e9959f.html" target="element"> Beschikbaar maken en stellen goederen en diensten </a> </td>
													    <td> <a href="../elements/id-d78e8cc1492d47c2851e1a2407e9959f.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-63641939a77640b887628b46caf81710.html" target="element"> Leveren van informatie </a> </td>
													    <td> <a href="../elements/id-63641939a77640b887628b46caf81710.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-6768bc9140094b1daa8706577a9a0b6e.html" target="element"> Beschikbaar maken en houden van inzetbare medewerkers </a> </td>
													    <td> <a href="../elements/id-6768bc9140094b1daa8706577a9a0b6e.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-988752337f59432bb5552965cb7a96cc.html" target="element"> Borgen bedrijfscontinu&#239;teit en compliance </a> </td>
													    <td> <a href="../elements/id-988752337f59432bb5552965cb7a96cc.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a5b3cfa283954862b6d6a05af2acd12d.html" target="element"> Beschikbaar maken en stellen financi&#235;le assets en informatie </a> </td>
													    <td> <a href="../elements/id-a5b3cfa283954862b6d6a05af2acd12d.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0ecbd9d1faaa47a49a508613dea2efd0.html" target="element"> Veranderen bedrijfsinrichting  </a> </td>
													    <td> <a href="../elements/id-0ecbd9d1faaa47a49a508613dea2efd0.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f6eb2df1c8894a1a89ec05d23dd4b68b.html" target="element"> Bepalen en bewaken strategie en plannen </a> </td>
													    <td> <a href="../elements/id-f6eb2df1c8894a1a89ec05d23dd4b68b.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-b366b62f6df94e0f866c46ac9bd39c9a.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-b366b62f6df94e0f866c46ac9bd39c9a.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-361d5bf8bd5143e5bfcc266878c852ef.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-361d5bf8bd5143e5bfcc266878c852ef.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b7e50220855c4223b7af84a5a0e78e1a.html" target="element"> Primaire waardestromen </a> </td>
																		<td> <a href="../elements/id-4993de1666b84efcbc102bcd6102ada2.html" target="element"> Managen van beschikbare energienetcapaciteit (toekomst) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-bc90f74ce5454cd69821a1e69e6ed0b2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bc90f74ce5454cd69821a1e69e6ed0b2.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b7e50220855c4223b7af84a5a0e78e1a.html" target="element"> Primaire waardestromen </a> </td>
																		<td> <a href="../elements/id-df9fefba488846358a0b0593b99c6284.html" target="element"> Contracteren, aan- en afsluiten van gebruikers </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e3724470472c4dafa15de15bd1e55613.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e3724470472c4dafa15de15bd1e55613.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b7e50220855c4223b7af84a5a0e78e1a.html" target="element"> Primaire waardestromen </a> </td>
																		<td> <a href="../elements/id-91bf847e403945859162d47ea5d7490f.html" target="element"> Netgedreven aanpassen van energienetten </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-72ceb9d921594a35ab27550b10ce976e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-72ceb9d921594a35ab27550b10ce976e.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b7e50220855c4223b7af84a5a0e78e1a.html" target="element"> Primaire waardestromen </a> </td>
																		<td> <a href="../elements/id-1c1d6f6d910a432f94a16f80147f0e4b.html" target="element"> Reconstrueren van energienetten </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b46838dd9bdb423a921e09e3721f273a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b46838dd9bdb423a921e09e3721f273a.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b7e50220855c4223b7af84a5a0e78e1a.html" target="element"> Primaire waardestromen </a> </td>
																		<td> <a href="../elements/id-24459716ccb14af5bff12769ebcb5476.html" target="element"> Beschikbaar stellen van netbeheerdata </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b9772092a4ca458a8a8bf1c1e64b2034.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b9772092a4ca458a8a8bf1c1e64b2034.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b7e50220855c4223b7af84a5a0e78e1a.html" target="element"> Primaire waardestromen </a> </td>
																		<td> <a href="../elements/id-3716424db89446b59aaef8164198f9f6.html" target="element"> Instandhouden van energienetten (storingsherstel) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-57e7f9f790684bc5aa6276f21f87f4ca.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-57e7f9f790684bc5aa6276f21f87f4ca.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b7e50220855c4223b7af84a5a0e78e1a.html" target="element"> Primaire waardestromen </a> </td>
																		<td> <a href="../elements/id-66cbd1922333427da4a6446c460c5c85.html" target="element"> Instandhouden van energienetten (onderhoud) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e9c422ce0306408ea78d3f7b3613f3a6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e9c422ce0306408ea78d3f7b3613f3a6.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b7e50220855c4223b7af84a5a0e78e1a.html" target="element"> Primaire waardestromen </a> </td>
																		<td> <a href="../elements/id-2653d94e08524482adaf3439ed2972e3.html" target="element"> Toewijzen van energie-uitwisseling </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-51a14c5c56f34c1185b2dbc157ed2591.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-51a14c5c56f34c1185b2dbc157ed2591.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b7e50220855c4223b7af84a5a0e78e1a.html" target="element"> Primaire waardestromen </a> </td>
																		<td> <a href="../elements/id-afa6bf1f62714f499a365d33d9c4eb15.html" target="element"> Transporteren van energie (nu) </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-b5c4a66b1c034bf685b716d874b0611d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b5c4a66b1c034bf685b716d874b0611d.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-658375e1e23644f589ccaa437fa7e45f.html" target="element"> Interne waardestromen </a> </td>
																		<td> <a href="../elements/id-a5b3cfa283954862b6d6a05af2acd12d.html" target="element"> Beschikbaar maken en stellen financi&#235;le assets en informatie </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4b5f2623c70140c18041b70567194371.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4b5f2623c70140c18041b70567194371.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-658375e1e23644f589ccaa437fa7e45f.html" target="element"> Interne waardestromen </a> </td>
																		<td> <a href="../elements/id-6768bc9140094b1daa8706577a9a0b6e.html" target="element"> Beschikbaar maken en houden van inzetbare medewerkers </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5cd13076fa97447db3ce1c45a6e00e66.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5cd13076fa97447db3ce1c45a6e00e66.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-658375e1e23644f589ccaa437fa7e45f.html" target="element"> Interne waardestromen </a> </td>
																		<td> <a href="../elements/id-0ecbd9d1faaa47a49a508613dea2efd0.html" target="element"> Veranderen bedrijfsinrichting  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-274b43a8b330426ea2b6ebbd5c17d3ad.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-274b43a8b330426ea2b6ebbd5c17d3ad.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-658375e1e23644f589ccaa437fa7e45f.html" target="element"> Interne waardestromen </a> </td>
																		<td> <a href="../elements/id-f6eb2df1c8894a1a89ec05d23dd4b68b.html" target="element"> Bepalen en bewaken strategie en plannen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b7611725cce34e3793d05c94ea35532e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b7611725cce34e3793d05c94ea35532e.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-658375e1e23644f589ccaa437fa7e45f.html" target="element"> Interne waardestromen </a> </td>
																		<td> <a href="../elements/id-63641939a77640b887628b46caf81710.html" target="element"> Leveren van informatie </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-27ad8a3ca06547c7b6c82cc65fffc855.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-27ad8a3ca06547c7b6c82cc65fffc855.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-658375e1e23644f589ccaa437fa7e45f.html" target="element"> Interne waardestromen </a> </td>
																		<td> <a href="../elements/id-d78e8cc1492d47c2851e1a2407e9959f.html" target="element"> Beschikbaar maken en stellen goederen en diensten </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-524bc010c73b49ffb22a2e69e4eef083.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-524bc010c73b49ffb22a2e69e4eef083.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-658375e1e23644f589ccaa437fa7e45f.html" target="element"> Interne waardestromen </a> </td>
																		<td> <a href="../elements/id-988752337f59432bb5552965cb7a96cc.html" target="element"> Borgen bedrijfscontinu&#239;teit en compliance </a> </td>
																	</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>