<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Mapping LFE projects on Nbility capabilities</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Mapping LFE projects on Nbility capabilities</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-6a96acf8cfe548e898bf4b9aa811ecc1.png" alt="Mapping LFE projects on Nbility capabilities" usemap="#id-6a96acf8cfe548e898bf4b9aa811ecc1map"/>
			   <map name="id-6a96acf8cfe548e898bf4b9aa811ecc1map">
				  		<area shape="rect" coords="3071,190,3407,286" href="../elements/id-718756.html"  target="element">
				  		<area shape="rect" coords="3226,560,3467,647" href="../elements/id-deca773469d64930913384ac9e0ce36b.html"  target="element">
				  		<area shape="rect" coords="3178,322,3347,408" href="../elements/id-cc8a0d7eb5d04e1aa6ccb9fbb08f21cd.html"  target="element">
				  				<area shape="rect" coords="2902,358,3071,486" href="../elements/id-1a87735dd90e434892a8191493cb80e1.html"  target="element">
				  				<area shape="rect" coords="2710,358,2879,486" href="../elements/id-ce53576376394031b08427c84039cd1f.html"  target="element">
				  				<area shape="rect" coords="2470,358,2687,486" href="../elements/id-6c82af92ba9c47d79e80c493d7f6938b.html"  target="element">
				  				<area shape="rect" coords="2230,358,2435,486" href="../elements/id-46af0d4c29cb4d1faea3e07c70233db3.html"  target="element">
				  				<area shape="rect" coords="1954,358,2183,486" href="../elements/id-12c81c5ff837402ca1ea3a6d83a14fe3.html"  target="element">

				  		<area shape="rect" coords="1906,322,3106,502" href="../elements/id-fc5a630817724ff691ed30ea29d4786f.html"  target="element">
				  		<area shape="rect" coords="1942,574,2962,658" href="../elements/EAID_BD4C3EA3_0610_4da0_B2A3_EF3F1DD1DD3B.html"  target="element">
				  		<area shape="rect" coords="1558,540,1781,620" href="../elements/id-baea3300cd9c45d8b7f026bf3d9a796a.html"  target="element">
				  		<area shape="rect" coords="1522,349,1787,428" href="../elements/id-89db10d518a049c4a1613a4745909f5b.html"  target="element">
				  		<area shape="rect" coords="1678,190,1895,311" href="../elements/id-718758.html"  target="element">
				  		<area shape="rect" coords="1450,190,1643,311" href="../elements/id-718704.html"  target="element">
				  		<area shape="rect" coords="1030,346,1295,431" href="../elements/id-d0b5fab5a157483f9a4434a9cff16db5.html"  target="element">
				  		<area shape="rect" coords="1036,523,1289,620" href="../elements/id-2fec541ea7554652b606be3ca13f80e6.html"  target="element">
				  		<area shape="rect" coords="1174,190,1403,299" href="../elements/id-718759.html"  target="element">
				  		<area shape="rect" coords="910,190,1139,287" href="../elements/id-718757.html"  target="element">
				  		<area shape="rect" coords="610,286,839,359" href="../elements/id-16207a66418d49999d89262a9f21301e.html"  target="element">
				  		<area shape="rect" coords="310,286,563,359" href="../elements/id-d90a96971bd04a13a0b9c5fd2fd821a8.html"  target="element">
				  		<area shape="rect" coords="466,529,683,614" href="../elements/id-296955abeece4a20bb07cfe9c010a0d6.html"  target="element">
				  		<area shape="rect" coords="70,286,281,359" href="../elements/id-38892a5d69f64010ad9ac7adba330dfa.html"  target="element">
				  		<area shape="rect" coords="82,529,287,614" href="../elements/id-9e5b2fec9f19480b9b649f563abcd177.html"  target="element">
				  		<area shape="rect" coords="2566,10,3407,143" href="../elements/id-711323.html"  target="element">
				  		<area shape="rect" coords="2122,10,2543,143" href="../elements/id-718379.html"  target="element">
				  		<area shape="rect" coords="10,10,2075,143" href="../elements/id-711318.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td> Language=en </td><td class="convertlinks"> <xmp class="no-margin" style="white-space:pre-wrap">not empty</xmp> </td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-711318.html" target="element"> Energietransport verzorgen </a> </td>
											    <td> <a href="../elements/id-711318.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-718379.html" target="element"> Energietransport herstellen </a> </td>
											    <td> <a href="../elements/id-718379.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-711323.html" target="element"> Transport- en bedieningsplannen maken </a> </td>
											    <td> <a href="../elements/id-711323.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9e5b2fec9f19480b9b649f563abcd177.html" target="element"> CoMPAS </a> </td>
											    <td> <a href="../elements/id-9e5b2fec9f19480b9b649f563abcd177.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-38892a5d69f64010ad9ac7adba330dfa.html" target="element"> Configuration management </a> </td>
											    <td> <a href="../elements/id-38892a5d69f64010ad9ac7adba330dfa.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-296955abeece4a20bb07cfe9c010a0d6.html" target="element"> FledgePower </a> </td>
											    <td> <a href="../elements/id-296955abeece4a20bb07cfe9c010a0d6.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d90a96971bd04a13a0b9c5fd2fd821a8.html" target="element"> secure remote device communication </a> </td>
											    <td> <a href="../elements/id-d90a96971bd04a13a0b9c5fd2fd821a8.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-16207a66418d49999d89262a9f21301e.html" target="element"> secure remote processing </a> </td>
											    <td> <a href="../elements/id-16207a66418d49999d89262a9f21301e.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-718757.html" target="element"> Energietransport besturen </a> </td>
											    <td> <a href="../elements/id-718757.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-718759.html" target="element"> Energienetten in/uit bedrijf nemen op afstand </a> </td>
											    <td> <a href="../elements/id-718759.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2fec541ea7554652b606be3ca13f80e6.html" target="element"> GXF </a> </td>
											    <td> <a href="../elements/id-2fec541ea7554652b606be3ca13f80e6.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d0b5fab5a157483f9a4434a9cff16db5.html" target="element"> Smart Device Monitoring and Control  </a> </td>
											    <td> <a href="../elements/id-d0b5fab5a157483f9a4434a9cff16db5.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-718704.html" target="element"> Energietransport bewaken </a> </td>
											    <td> <a href="../elements/id-718704.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-718758.html" target="element"> Werking van netcomponenten bewaken </a> </td>
											    <td> <a href="../elements/id-718758.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-89db10d518a049c4a1613a4745909f5b.html" target="element"> Forecasts </a> </td>
											    <td> <a href="../elements/id-89db10d518a049c4a1613a4745909f5b.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-baea3300cd9c45d8b7f026bf3d9a796a.html" target="element"> OpenStef </a> </td>
											    <td> <a href="../elements/id-baea3300cd9c45d8b7f026bf3d9a796a.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/EAID_BD4C3EA3_0610_4da0_B2A3_EF3F1DD1DD3B.html" target="element"> OperatorFabric-core </a> </td>
											    <td> <a href="../elements/EAID_BD4C3EA3_0610_4da0_B2A3_EF3F1DD1DD3B.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fc5a630817724ff691ed30ea29d4786f.html" target="element"> Business Functions Operator-Fabric </a> </td>
											    <td> <a href="../elements/id-fc5a630817724ff691ed30ea29d4786f.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-12c81c5ff837402ca1ea3a6d83a14fe3.html" target="element"> Hypervision of the energy system state </a> </td>
													    <td> <a href="../elements/id-12c81c5ff837402ca1ea3a6d83a14fe3.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-46af0d4c29cb4d1faea3e07c70233db3.html" target="element"> Interaction between internal operational control centers </a> </td>
													    <td> <a href="../elements/id-46af0d4c29cb4d1faea3e07c70233db3.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-6c82af92ba9c47d79e80c493d7f6938b.html" target="element"> Interaction between external operational control centers </a> </td>
													    <td> <a href="../elements/id-6c82af92ba9c47d79e80c493d7f6938b.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ce53576376394031b08427c84039cd1f.html" target="element"> Centralized real time business event management </a> </td>
													    <td> <a href="../elements/id-ce53576376394031b08427c84039cd1f.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-1a87735dd90e434892a8191493cb80e1.html" target="element"> Acting on the future energy system state </a> </td>
													    <td> <a href="../elements/id-1a87735dd90e434892a8191493cb80e1.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-cc8a0d7eb5d04e1aa6ccb9fbb08f21cd.html" target="element"> Power System Analysis </a> </td>
											    <td> <a href="../elements/id-cc8a0d7eb5d04e1aa6ccb9fbb08f21cd.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-deca773469d64930913384ac9e0ce36b.html" target="element"> Power Grid Model </a> </td>
											    <td> <a href="../elements/id-deca773469d64930913384ac9e0ce36b.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-718756.html" target="element"> Transport plannen en analyseren </a> </td>
											    <td> <a href="../elements/id-718756.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-878877.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878877.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-711318.html" target="element"> Energietransport verzorgen </a> </td>
																		<td> <a href="../elements/id-718757.html" target="element"> Energietransport besturen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-878807.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878807.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-711318.html" target="element"> Energietransport verzorgen </a> </td>
																		<td> <a href="../elements/id-718759.html" target="element"> Energienetten in/uit bedrijf nemen op afstand </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-878784.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878784.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-711318.html" target="element"> Energietransport verzorgen </a> </td>
																		<td> <a href="../elements/id-718704.html" target="element"> Energietransport bewaken </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-878575.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878575.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-711318.html" target="element"> Energietransport verzorgen </a> </td>
																		<td> <a href="../elements/id-718758.html" target="element"> Werking van netcomponenten bewaken </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-878847.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878847.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-711323.html" target="element"> Transport- en bedieningsplannen maken </a> </td>
																		<td> <a href="../elements/id-718756.html" target="element"> Transport plannen en analyseren </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-bf0fb1c54569410e9b9bf9b53d2d0355.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bf0fb1c54569410e9b9bf9b53d2d0355.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9e5b2fec9f19480b9b649f563abcd177.html" target="element"> CoMPAS </a> </td>
																		<td> <a href="../elements/id-38892a5d69f64010ad9ac7adba330dfa.html" target="element"> Configuration management </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-87a6ca37616b42b3b5343fd1247dab3c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-87a6ca37616b42b3b5343fd1247dab3c.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-38892a5d69f64010ad9ac7adba330dfa.html" target="element"> Configuration management </a> </td>
																		<td> <a href="../elements/id-711318.html" target="element"> Energietransport verzorgen </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-0ef55d9b2c9c46b9a58a9b19a2c4207f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0ef55d9b2c9c46b9a58a9b19a2c4207f.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-296955abeece4a20bb07cfe9c010a0d6.html" target="element"> FledgePower </a> </td>
																		<td> <a href="../elements/id-d90a96971bd04a13a0b9c5fd2fd821a8.html" target="element"> secure remote device communication </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7fd38dd47ecb473dbdcfd9ea84c447fa.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7fd38dd47ecb473dbdcfd9ea84c447fa.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-296955abeece4a20bb07cfe9c010a0d6.html" target="element"> FledgePower </a> </td>
																		<td> <a href="../elements/id-16207a66418d49999d89262a9f21301e.html" target="element"> secure remote processing </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-98544c9c0e30438ea483cdcbe32bba50.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-98544c9c0e30438ea483cdcbe32bba50.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d90a96971bd04a13a0b9c5fd2fd821a8.html" target="element"> secure remote device communication </a> </td>
																		<td> <a href="../elements/id-711318.html" target="element"> Energietransport verzorgen </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-4f09f57c0b7948d0a630d31aa89f73a1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4f09f57c0b7948d0a630d31aa89f73a1.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-16207a66418d49999d89262a9f21301e.html" target="element"> secure remote processing </a> </td>
																		<td> <a href="../elements/id-711318.html" target="element"> Energietransport verzorgen </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-2244d172a0f64477a918638419c4b428.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2244d172a0f64477a918638419c4b428.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2fec541ea7554652b606be3ca13f80e6.html" target="element"> GXF </a> </td>
																		<td> <a href="../elements/id-d0b5fab5a157483f9a4434a9cff16db5.html" target="element"> Smart Device Monitoring and Control  </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-a2b30519aeb94712a1449b639f75b768.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a2b30519aeb94712a1449b639f75b768.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d0b5fab5a157483f9a4434a9cff16db5.html" target="element"> Smart Device Monitoring and Control  </a> </td>
																		<td> <a href="../elements/id-718757.html" target="element"> Energietransport besturen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-37e20fea8c024104bab75bb1686f5f42.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-37e20fea8c024104bab75bb1686f5f42.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d0b5fab5a157483f9a4434a9cff16db5.html" target="element"> Smart Device Monitoring and Control  </a> </td>
																		<td> <a href="../elements/id-718759.html" target="element"> Energienetten in/uit bedrijf nemen op afstand </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-f0c2dd9366ca4a069f40f122906f8fad.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f0c2dd9366ca4a069f40f122906f8fad.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-89db10d518a049c4a1613a4745909f5b.html" target="element"> Forecasts </a> </td>
																		<td> <a href="../elements/id-718704.html" target="element"> Energietransport bewaken </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0a9fa8a5ce024d34a44cd71bb42b768c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0a9fa8a5ce024d34a44cd71bb42b768c.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-89db10d518a049c4a1613a4745909f5b.html" target="element"> Forecasts </a> </td>
																		<td> <a href="../elements/id-718758.html" target="element"> Werking van netcomponenten bewaken </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-a2141a9f3ac04865a3e7362d9d4e9b04.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a2141a9f3ac04865a3e7362d9d4e9b04.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-baea3300cd9c45d8b7f026bf3d9a796a.html" target="element"> OpenStef </a> </td>
																		<td> <a href="../elements/id-89db10d518a049c4a1613a4745909f5b.html" target="element"> Forecasts </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-d02e329be476467bb9c72f4f5e4efdcb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d02e329be476467bb9c72f4f5e4efdcb.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/EAID_BD4C3EA3_0610_4da0_B2A3_EF3F1DD1DD3B.html" target="element"> OperatorFabric-core </a> </td>
																		<td> <a href="../elements/id-12c81c5ff837402ca1ea3a6d83a14fe3.html" target="element"> Hypervision of the energy system state </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6359a138ae6848108dbc6fa9f665fc04.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6359a138ae6848108dbc6fa9f665fc04.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/EAID_BD4C3EA3_0610_4da0_B2A3_EF3F1DD1DD3B.html" target="element"> OperatorFabric-core </a> </td>
																		<td> <a href="../elements/id-46af0d4c29cb4d1faea3e07c70233db3.html" target="element"> Interaction between internal operational control centers </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-59da4f2664f642e6bcdb1bf2313b0398.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-59da4f2664f642e6bcdb1bf2313b0398.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/EAID_BD4C3EA3_0610_4da0_B2A3_EF3F1DD1DD3B.html" target="element"> OperatorFabric-core </a> </td>
																		<td> <a href="../elements/id-6c82af92ba9c47d79e80c493d7f6938b.html" target="element"> Interaction between external operational control centers </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-bb2a3a3ca0db4689adca0cf9d2ffaf8e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bb2a3a3ca0db4689adca0cf9d2ffaf8e.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/EAID_BD4C3EA3_0610_4da0_B2A3_EF3F1DD1DD3B.html" target="element"> OperatorFabric-core </a> </td>
																		<td> <a href="../elements/id-ce53576376394031b08427c84039cd1f.html" target="element"> Centralized real time business event management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0251b360e9c843e08064d725eb8839d7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0251b360e9c843e08064d725eb8839d7.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/EAID_BD4C3EA3_0610_4da0_B2A3_EF3F1DD1DD3B.html" target="element"> OperatorFabric-core </a> </td>
																		<td> <a href="../elements/id-1a87735dd90e434892a8191493cb80e1.html" target="element"> Acting on the future energy system state </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-4b805293a5a243fc9f7f18344f523d35.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4b805293a5a243fc9f7f18344f523d35.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fc5a630817724ff691ed30ea29d4786f.html" target="element"> Business Functions Operator-Fabric </a> </td>
																		<td> <a href="../elements/id-12c81c5ff837402ca1ea3a6d83a14fe3.html" target="element"> Hypervision of the energy system state </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ea512eafb21b47e78f7feb0385d0f06d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ea512eafb21b47e78f7feb0385d0f06d.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fc5a630817724ff691ed30ea29d4786f.html" target="element"> Business Functions Operator-Fabric </a> </td>
																		<td> <a href="../elements/id-46af0d4c29cb4d1faea3e07c70233db3.html" target="element"> Interaction between internal operational control centers </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-eca484f4af314ba48ca4c54cb59049e5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-eca484f4af314ba48ca4c54cb59049e5.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fc5a630817724ff691ed30ea29d4786f.html" target="element"> Business Functions Operator-Fabric </a> </td>
																		<td> <a href="../elements/id-6c82af92ba9c47d79e80c493d7f6938b.html" target="element"> Interaction between external operational control centers </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0420342c7e8a4182b16e072e322fbea9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0420342c7e8a4182b16e072e322fbea9.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fc5a630817724ff691ed30ea29d4786f.html" target="element"> Business Functions Operator-Fabric </a> </td>
																		<td> <a href="../elements/id-ce53576376394031b08427c84039cd1f.html" target="element"> Centralized real time business event management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1633091eddef4fe0895d3e77797d4a65.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1633091eddef4fe0895d3e77797d4a65.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fc5a630817724ff691ed30ea29d4786f.html" target="element"> Business Functions Operator-Fabric </a> </td>
																		<td> <a href="../elements/id-1a87735dd90e434892a8191493cb80e1.html" target="element"> Acting on the future energy system state </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-484a793d16b341bab989940d27248731.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-484a793d16b341bab989940d27248731.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fc5a630817724ff691ed30ea29d4786f.html" target="element"> Business Functions Operator-Fabric </a> </td>
																		<td> <a href="../elements/id-711318.html" target="element"> Energietransport verzorgen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8f2f58a89592426d80e78d5dec707b27.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8f2f58a89592426d80e78d5dec707b27.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fc5a630817724ff691ed30ea29d4786f.html" target="element"> Business Functions Operator-Fabric </a> </td>
																		<td> <a href="../elements/id-718379.html" target="element"> Energietransport herstellen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5773c03bfdd143cf84c63a4c1168cb37.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5773c03bfdd143cf84c63a4c1168cb37.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fc5a630817724ff691ed30ea29d4786f.html" target="element"> Business Functions Operator-Fabric </a> </td>
																		<td> <a href="../elements/id-711323.html" target="element"> Transport- en bedieningsplannen maken </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-c5b10c75a0274182af0c338a65fb655a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c5b10c75a0274182af0c338a65fb655a.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-cc8a0d7eb5d04e1aa6ccb9fbb08f21cd.html" target="element"> Power System Analysis </a> </td>
																		<td> <a href="../elements/id-718704.html" target="element"> Energietransport bewaken </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-53f69e954e454243bbade00f4436dc78.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-53f69e954e454243bbade00f4436dc78.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-cc8a0d7eb5d04e1aa6ccb9fbb08f21cd.html" target="element"> Power System Analysis </a> </td>
																		<td> <a href="../elements/id-718756.html" target="element"> Transport plannen en analyseren </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-84ffd086accd4c5a8248f66b9c1c377b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-84ffd086accd4c5a8248f66b9c1c377b.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-deca773469d64930913384ac9e0ce36b.html" target="element"> Power Grid Model </a> </td>
																		<td> <a href="../elements/id-cc8a0d7eb5d04e1aa6ccb9fbb08f21cd.html" target="element"> Power System Analysis </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>