<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>L2 value stream P.F</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>L2 value stream P.F</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-8e66a8cfa3a04636a4657be7e0d99ca1.png" alt="L2 value stream P.F" usemap="#id-8e66a8cfa3a04636a4657be7e0d99ca1map"/>
			   <map name="id-8e66a8cfa3a04636a4657be7e0d99ca1map">
				          <area shape="rect" coords="10,610,239,659" href="../objects/id-fbb44a7cef314fa494ea223780b11719.html" target="element" >
				  						<area shape="rect" coords="1114,538,1271,563" href="../elements/id-736126.html"  target="element">

				  				<area shape="rect" coords="1102,478,1283,575" href="../elements/id-736290.html"  target="element">

				  		<area shape="rect" coords="1090,82,1294,587" href="../elements/id-736356.html"  target="element">
				  						<area shape="rect" coords="466,430,623,455" href="../elements/id-729580.html"  target="element">

				  				<area shape="rect" coords="454,370,635,467" href="../elements/id-711339.html"  target="element">

				  		<area shape="rect" coords="442,82,647,587" href="../elements/id-718167.html"  target="element">
				  						<area shape="rect" coords="898,430,1055,455" href="../elements/id-729676.html"  target="element">

				  				<area shape="rect" coords="886,370,1067,467" href="../elements/id-718383.html"  target="element">
				  						<area shape="rect" coords="898,322,1055,347" href="../elements/id-729684.html"  target="element">

				  				<area shape="rect" coords="886,262,1067,359" href="../elements/id-718345.html"  target="element">
				  						<area shape="rect" coords="898,214,1055,239" href="../elements/id-729667.html"  target="element">

				  				<area shape="rect" coords="886,154,1067,251" href="../elements/id-718338.html"  target="element">

				  		<area shape="rect" coords="874,82,1079,587" href="../elements/id-718173.html"  target="element">
				  						<area shape="rect" coords="34,214,191,239" href="../elements/id-729634.html"  target="element">

				  				<area shape="rect" coords="22,154,203,251" href="../elements/id-711284.html"  target="element">
				  						<area shape="rect" coords="34,430,191,455" href="../elements/id-729643.html"  target="element">

				  				<area shape="rect" coords="22,370,203,466" href="../elements/id-711331.html"  target="element">
				  						<area shape="rect" coords="34,322,191,347" href="../elements/id-729646.html"  target="element">

				  				<area shape="rect" coords="22,262,203,359" href="../elements/id-718334.html"  target="element">

				  		<area shape="rect" coords="10,82,215,587" href="../elements/id-718171.html"  target="element">
				  						<area shape="rect" coords="250,430,407,455" href="../elements/id-729570.html"  target="element">

				  				<area shape="rect" coords="238,370,419,467" href="../elements/id-711323.html"  target="element">
				  						<area shape="rect" coords="250,214,407,239" href="../elements/id-729563.html"  target="element">

				  				<area shape="rect" coords="238,154,419,250" href="../elements/id-711318.html"  target="element">

				  		<area shape="rect" coords="226,82,431,587" href="../elements/id-718168.html"  target="element">
				  						<area shape="rect" coords="682,322,839,347" href="../elements/id-729661.html"  target="element">

				  				<area shape="rect" coords="670,262,851,359" href="../elements/id-718341.html"  target="element">
				  						<area shape="rect" coords="682,214,839,239" href="../elements/id-729661.html"  target="element">

				  				<area shape="rect" coords="670,154,851,251" href="../elements/id-711337.html"  target="element">

				  		<area shape="rect" coords="658,82,863,587" href="../elements/id-718170.html"  target="element">
				  		<area shape="rect" coords="10,10,1295,71" href="../elements/id-afa6bf1f62714f499a365d33d9c4eb15.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">SPDX-FileCopyrightText: 2017-2022 Contributors to the NBility project

SPDX-License-Identifier: CC-BY-4.0

Source: https://github.com/NBility-Model</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-afa6bf1f62714f499a365d33d9c4eb15.html" target="element"> Transporteren van energie (nu) </a> </td>
											    <td> <a href="../elements/id-afa6bf1f62714f499a365d33d9c4eb15.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-718170.html" target="element"> Energietransport en -netten meten </a> </td>
											    <td> <a href="../elements/id-718170.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-711337.html" target="element"> Beschikbaar krijgen metingen van energietransport en -netten </a> </td>
													    <td> <a href="../elements/id-711337.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-729661.html" target="element"> Meting </a> </td>
															    <td> <a href="../elements/id-729661.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-718341.html" target="element"> Beschikbaar maken metingen van energietransport en -netten </a> </td>
													    <td> <a href="../elements/id-718341.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-729661.html" target="element"> Meting </a> </td>
															    <td> <a href="../elements/id-729661.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/id-718168.html" target="element"> Energie transporteren </a> </td>
											    <td> <a href="../elements/id-718168.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-711318.html" target="element"> Energietransport verzorgen </a> </td>
													    <td> <a href="../elements/id-711318.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-729563.html" target="element"> Energietransport </a> </td>
															    <td> <a href="../elements/id-729563.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-711323.html" target="element"> Transport- en bedieningsplannen maken </a> </td>
													    <td> <a href="../elements/id-711323.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-729570.html" target="element"> Transportplanning </a> </td>
															    <td> <a href="../elements/id-729570.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/id-718171.html" target="element"> Klanten bedienen </a> </td>
											    <td> <a href="../elements/id-718171.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-718334.html" target="element"> Overeenkomsten verwerven en beheren </a> </td>
													    <td> <a href="../elements/id-718334.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-729646.html" target="element"> Klantovereenkomst </a> </td>
															    <td> <a href="../elements/id-729646.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-711331.html" target="element"> Factureren en innen </a> </td>
													    <td> <a href="../elements/id-711331.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-729643.html" target="element"> Klantfactuur </a> </td>
															    <td> <a href="../elements/id-729643.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-711284.html" target="element"> Klanten bedienen en relaties onderhouden </a> </td>
													    <td> <a href="../elements/id-711284.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-729634.html" target="element"> Klant </a> </td>
															    <td> <a href="../elements/id-729634.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/id-718173.html" target="element"> De energiemarkt faciliteren </a> </td>
											    <td> <a href="../elements/id-718173.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-718338.html" target="element"> Marktpartijen bedienen en relaties onderhouden </a> </td>
													    <td> <a href="../elements/id-718338.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-729667.html" target="element"> Marktpartij </a> </td>
															    <td> <a href="../elements/id-729667.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-718345.html" target="element"> Marktdata beheren </a> </td>
													    <td> <a href="../elements/id-718345.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-729684.html" target="element"> Aansluiting </a> </td>
															    <td> <a href="../elements/id-729684.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-718383.html" target="element"> Marktprocessen uitvoeren/faciliteren </a> </td>
													    <td> <a href="../elements/id-718383.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-729676.html" target="element"> Marktproces </a> </td>
															    <td> <a href="../elements/id-729676.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/id-718167.html" target="element"> Ontwikkeling en instandhouding van energienetten besturen </a> </td>
											    <td> <a href="../elements/id-718167.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-711339.html" target="element"> Energienetrichtlijnen en -patronen vaststellen </a> </td>
													    <td> <a href="../elements/id-711339.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-729580.html" target="element"> Netstrategie </a> </td>
															    <td> <a href="../elements/id-729580.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/id-736356.html" target="element"> Bedrijfsrichting opstellen en besturen </a> </td>
											    <td> <a href="../elements/id-736356.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-736290.html" target="element"> Bedrijfscontinu&#239;teit en compliance borgen </a> </td>
													    <td> <a href="../elements/id-736290.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-736126.html" target="element"> Risico </a> </td>
															    <td> <a href="../elements/id-736126.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
											
									        <tr>
									           <td> <a href="../objects/id-fbb44a7cef314fa494ea223780b11719.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-fbb44a7cef314fa494ea223780b11719.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-878937.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878937.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718170.html" target="element"> Energietransport en -netten meten </a> </td>
																		<td> <a href="../elements/id-718341.html" target="element"> Beschikbaar maken metingen van energietransport en -netten </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-878616.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878616.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718170.html" target="element"> Energietransport en -netten meten </a> </td>
																		<td> <a href="../elements/id-711337.html" target="element"> Beschikbaar krijgen metingen van energietransport en -netten </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-f6ab90ac6e2b4f79a20c5b86f777eff0.html" target="element"> modification </a> </td>
																				<td> <a href="../elements/id-f6ab90ac6e2b4f79a20c5b86f777eff0.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-711337.html" target="element"> Beschikbaar krijgen metingen van energietransport en -netten </a> </td>
																				<td> <a href="../elements/id-729661.html" target="element"> Meting </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-32cbdacc6eda46d485cf296ad9183ac0.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-32cbdacc6eda46d485cf296ad9183ac0.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-718341.html" target="element"> Beschikbaar maken metingen van energietransport en -netten </a> </td>
																				<td> <a href="../elements/id-729661.html" target="element"> Meting </a> </td>
																			</tr>

													
											
																	<tr>
																		<td> <a href="../elements/id-878865.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878865.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718168.html" target="element"> Energie transporteren </a> </td>
																		<td> <a href="../elements/id-711318.html" target="element"> Energietransport verzorgen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-878420.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878420.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718168.html" target="element"> Energie transporteren </a> </td>
																		<td> <a href="../elements/id-711323.html" target="element"> Transport- en bedieningsplannen maken </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-2ca14e0e99a54a5a8e97b37585d1c5ac.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-2ca14e0e99a54a5a8e97b37585d1c5ac.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-711318.html" target="element"> Energietransport verzorgen </a> </td>
																				<td> <a href="../elements/id-729563.html" target="element"> Energietransport </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-fff5efd563884e629dc50f9065cef852.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-fff5efd563884e629dc50f9065cef852.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-711323.html" target="element"> Transport- en bedieningsplannen maken </a> </td>
																				<td> <a href="../elements/id-729570.html" target="element"> Transportplanning </a> </td>
																			</tr>

													
											
																	<tr>
																		<td> <a href="../elements/id-878804.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878804.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718171.html" target="element"> Klanten bedienen </a> </td>
																		<td> <a href="../elements/id-711284.html" target="element"> Klanten bedienen en relaties onderhouden </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-878527.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878527.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718171.html" target="element"> Klanten bedienen </a> </td>
																		<td> <a href="../elements/id-711331.html" target="element"> Factureren en innen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-878392.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878392.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718171.html" target="element"> Klanten bedienen </a> </td>
																		<td> <a href="../elements/id-718334.html" target="element"> Overeenkomsten verwerven en beheren </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-51c376359d8c4130957a1befc7ec9bd0.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-51c376359d8c4130957a1befc7ec9bd0.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-718334.html" target="element"> Overeenkomsten verwerven en beheren </a> </td>
																				<td> <a href="../elements/id-729646.html" target="element"> Klantovereenkomst </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-260b7a9bc4304ceaaa8b386c83022aa6.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-260b7a9bc4304ceaaa8b386c83022aa6.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-711331.html" target="element"> Factureren en innen </a> </td>
																				<td> <a href="../elements/id-729643.html" target="element"> Klantfactuur </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-6e61750f4f9249e0bbe93bcb7b69503f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-6e61750f4f9249e0bbe93bcb7b69503f.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-711284.html" target="element"> Klanten bedienen en relaties onderhouden </a> </td>
																				<td> <a href="../elements/id-729634.html" target="element"> Klant </a> </td>
																			</tr>

													
											
																	<tr>
																		<td> <a href="../elements/id-878900.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878900.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718173.html" target="element"> De energiemarkt faciliteren </a> </td>
																		<td> <a href="../elements/id-718383.html" target="element"> Marktprocessen uitvoeren/faciliteren </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-878306.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878306.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718173.html" target="element"> De energiemarkt faciliteren </a> </td>
																		<td> <a href="../elements/id-718345.html" target="element"> Marktdata beheren </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-878938.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878938.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718173.html" target="element"> De energiemarkt faciliteren </a> </td>
																		<td> <a href="../elements/id-718338.html" target="element"> Marktpartijen bedienen en relaties onderhouden </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-60b8964d10494d31afe74d33a58ef094.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-60b8964d10494d31afe74d33a58ef094.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-718338.html" target="element"> Marktpartijen bedienen en relaties onderhouden </a> </td>
																				<td> <a href="../elements/id-729667.html" target="element"> Marktpartij </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-e304578ba5794f558a2173ff359d21ee.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e304578ba5794f558a2173ff359d21ee.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-718345.html" target="element"> Marktdata beheren </a> </td>
																				<td> <a href="../elements/id-729684.html" target="element"> Aansluiting </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-5f4b9bd4d47b48fb92f44c7a37ba17d8.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5f4b9bd4d47b48fb92f44c7a37ba17d8.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-718383.html" target="element"> Marktprocessen uitvoeren/faciliteren </a> </td>
																				<td> <a href="../elements/id-729676.html" target="element"> Marktproces </a> </td>
																			</tr>

													
											
																	<tr>
																		<td> <a href="../elements/id-878753.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878753.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718167.html" target="element"> Ontwikkeling en instandhouding van energienetten besturen </a> </td>
																		<td> <a href="../elements/id-711339.html" target="element"> Energienetrichtlijnen en -patronen vaststellen </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-8e630199f8f64d51b105e65da1cad48b.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-8e630199f8f64d51b105e65da1cad48b.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-711339.html" target="element"> Energienetrichtlijnen en -patronen vaststellen </a> </td>
																				<td> <a href="../elements/id-729580.html" target="element"> Netstrategie </a> </td>
																			</tr>

													
											
																	<tr>
																		<td> <a href="../elements/id-878811.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878811.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-736356.html" target="element"> Bedrijfsrichting opstellen en besturen </a> </td>
																		<td> <a href="../elements/id-736290.html" target="element"> Bedrijfscontinu&#239;teit en compliance borgen </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-6f0bb3141c374f1d963767d443955bbb.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-6f0bb3141c374f1d963767d443955bbb.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-736290.html" target="element"> Bedrijfscontinu&#239;teit en compliance borgen </a> </td>
																				<td> <a href="../elements/id-736126.html" target="element"> Risico </a> </td>
																			</tr>

													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>