<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>L2 C object relationships</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>L2 C object relationships</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-8b8378f8a83748078e7c82b42adb73ba.png" alt="L2 C object relationships" usemap="#id-8b8378f8a83748078e7c82b42adb73bamap"/>
			   <map name="id-8b8378f8a83748078e7c82b42adb73bamap">
				          <area shape="rect" coords="22,838,251,887" href="../objects/id-763b7f0409674d35a0f25b52d4ddb330.html" target="element" >
				  		<area shape="rect" coords="10,154,155,215" href="../elements/id-729646.html"  target="element">
				  		<area shape="rect" coords="634,586,779,647" href="../elements/id-729618.html"  target="element">
				  		<area shape="rect" coords="322,730,1247,791" href="../elements/id-729629.html"  target="element">
				  		<area shape="rect" coords="790,442,935,503" href="../elements/id-729611.html"  target="element">
				  		<area shape="rect" coords="790,586,935,647" href="../elements/id-729622.html"  target="element">
				  		<area shape="rect" coords="946,586,1091,647" href="../elements/id-729570.html"  target="element">
				  		<area shape="rect" coords="1102,586,1247,647" href="../elements/id-729560.html"  target="element">
				  		<area shape="rect" coords="634,442,779,503" href="../elements/id-729580.html"  target="element">
				  		<area shape="rect" coords="478,442,623,503" href="../elements/id-729585.html"  target="element">
				  		<area shape="rect" coords="1102,298,1247,359" href="../elements/id-729661.html"  target="element">
				  		<area shape="rect" coords="478,10,623,71" href="../elements/id-729676.html"  target="element">
				  		<area shape="rect" coords="322,10,467,71" href="../elements/id-729667.html"  target="element">
				  		<area shape="rect" coords="634,10,779,71" href="../elements/id-729673.html"  target="element">
				  		<area shape="rect" coords="10,10,155,71" href="../elements/id-729643.html"  target="element">
				  		<area shape="rect" coords="10,298,155,359" href="../elements/id-729634.html"  target="element">
				  		<area shape="rect" coords="10,442,155,503" href="../elements/id-729651.html"  target="element">
				  		<area shape="rect" coords="946,442,1247,503" href="../elements/id-729563.html"  target="element">
				  		<area shape="rect" coords="322,298,1019,359" href="../elements/id-729592.html"  target="element">
				  		<area shape="rect" coords="322,154,779,215" href="../elements/id-729684.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">SPDX-FileCopyrightText: 2017-2022 Contributors to the NBility project

SPDX-License-Identifier: CC-BY-4.0

Source: https://github.com/NBility-Model</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-729684.html" target="element"> Aansluiting </a> </td>
											    <td> <a href="../elements/id-729684.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-729592.html" target="element"> Energienet </a> </td>
											    <td> <a href="../elements/id-729592.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-729563.html" target="element"> Energietransport </a> </td>
											    <td> <a href="../elements/id-729563.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-729651.html" target="element"> Inkomstenverlies </a> </td>
											    <td> <a href="../elements/id-729651.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-729634.html" target="element"> Klant </a> </td>
											    <td> <a href="../elements/id-729634.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-729643.html" target="element"> Klantfactuur </a> </td>
											    <td> <a href="../elements/id-729643.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-729673.html" target="element"> Marktdataverstrekking </a> </td>
											    <td> <a href="../elements/id-729673.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-729667.html" target="element"> Marktpartij </a> </td>
											    <td> <a href="../elements/id-729667.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-729676.html" target="element"> Marktproces </a> </td>
											    <td> <a href="../elements/id-729676.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-729661.html" target="element"> Meting </a> </td>
											    <td> <a href="../elements/id-729661.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-729585.html" target="element"> Netkwaliteit </a> </td>
											    <td> <a href="../elements/id-729585.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-729580.html" target="element"> Netstrategie </a> </td>
											    <td> <a href="../elements/id-729580.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-729560.html" target="element"> Storing </a> </td>
											    <td> <a href="../elements/id-729560.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-729570.html" target="element"> Transportplanning </a> </td>
											    <td> <a href="../elements/id-729570.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-729622.html" target="element"> Werkactiviteit </a> </td>
											    <td> <a href="../elements/id-729622.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-729611.html" target="element"> Werkmiddel </a> </td>
											    <td> <a href="../elements/id-729611.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-729629.html" target="element"> Werkopdracht </a> </td>
											    <td> <a href="../elements/id-729629.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-729618.html" target="element"> Werkportfolio </a> </td>
											    <td> <a href="../elements/id-729618.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-729646.html" target="element"> Klantovereenkomst </a> </td>
											    <td> <a href="../elements/id-729646.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-763b7f0409674d35a0f25b52d4ddb330.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-763b7f0409674d35a0f25b52d4ddb330.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-76439a7c32e7495d9c808e842d1ace9b.html" target="element"> gemaakt van </a> </td>
																		<td> <a href="../elements/id-76439a7c32e7495d9c808e842d1ace9b.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-729592.html" target="element"> Energienet </a> </td>
																		<td> <a href="../elements/id-729611.html" target="element"> Werkmiddel </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-73a065b636a74c7cb758c09a0474411a.html" target="element"> conform </a> </td>
																		<td> <a href="../elements/id-73a065b636a74c7cb758c09a0474411a.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-729592.html" target="element"> Energienet </a> </td>
																		<td> <a href="../elements/id-729580.html" target="element"> Netstrategie </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b7dfecb8eefe4086be86c285e6aa3675.html" target="element"> realisatie van </a> </td>
																		<td> <a href="../elements/id-b7dfecb8eefe4086be86c285e6aa3675.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-729592.html" target="element"> Energienet </a> </td>
																		<td> <a href="../elements/id-729684.html" target="element"> Aansluiting </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-669dcde9062940d3ac5af0333d05d694.html" target="element"> bediening van </a> </td>
																		<td> <a href="../elements/id-669dcde9062940d3ac5af0333d05d694.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-729563.html" target="element"> Energietransport </a> </td>
																		<td> <a href="../elements/id-729592.html" target="element"> Energienet </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-d6277348d184454abd00af1c35445c1e.html" target="element"> door </a> </td>
																		<td> <a href="../elements/id-d6277348d184454abd00af1c35445c1e.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-729651.html" target="element"> Inkomstenverlies </a> </td>
																		<td> <a href="../elements/id-729634.html" target="element"> Klant </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-9d71c6d456414e1a8720d7c0d0562129.html" target="element"> op basis van </a> </td>
																		<td> <a href="../elements/id-9d71c6d456414e1a8720d7c0d0562129.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-729643.html" target="element"> Klantfactuur </a> </td>
																		<td> <a href="../elements/id-729646.html" target="element"> Klantovereenkomst </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-5b731e99007a46f9910d6a8689399b08.html" target="element"> over </a> </td>
																		<td> <a href="../elements/id-5b731e99007a46f9910d6a8689399b08.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-729673.html" target="element"> Marktdataverstrekking </a> </td>
																		<td> <a href="../elements/id-729684.html" target="element"> Aansluiting </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-598a34e30d604cd6804b2e4ae9f59a0e.html" target="element"> actief op </a> </td>
																		<td> <a href="../elements/id-598a34e30d604cd6804b2e4ae9f59a0e.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-729667.html" target="element"> Marktpartij </a> </td>
																		<td> <a href="../elements/id-729684.html" target="element"> Aansluiting </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-31077e76cd804957991dcb0393f4471e.html" target="element"> op </a> </td>
																		<td> <a href="../elements/id-31077e76cd804957991dcb0393f4471e.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-729676.html" target="element"> Marktproces </a> </td>
																		<td> <a href="../elements/id-729684.html" target="element"> Aansluiting </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-137c3eed3825478595486903dba52de2.html" target="element"> van </a> </td>
																		<td> <a href="../elements/id-137c3eed3825478595486903dba52de2.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-729661.html" target="element"> Meting </a> </td>
																		<td> <a href="../elements/id-729592.html" target="element"> Energienet </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1557cdd204c44d889c3020d444d252ab.html" target="element"> van </a> </td>
																		<td> <a href="../elements/id-1557cdd204c44d889c3020d444d252ab.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-729661.html" target="element"> Meting </a> </td>
																		<td> <a href="../elements/id-729563.html" target="element"> Energietransport </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-b309637fba224caaa49907dc9564926a.html" target="element"> van </a> </td>
																		<td> <a href="../elements/id-b309637fba224caaa49907dc9564926a.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-729585.html" target="element"> Netkwaliteit </a> </td>
																		<td> <a href="../elements/id-729592.html" target="element"> Energienet </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-eb9feb33b821433a86843afce04df9f3.html" target="element"> (dreigende) onderbreking van </a> </td>
																		<td> <a href="../elements/id-eb9feb33b821433a86843afce04df9f3.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-729560.html" target="element"> Storing </a> </td>
																		<td> <a href="../elements/id-729563.html" target="element"> Energietransport </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-c2233bebcdb84a989a7bb3a42ee64bcf.html" target="element"> van </a> </td>
																		<td> <a href="../elements/id-c2233bebcdb84a989a7bb3a42ee64bcf.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-729570.html" target="element"> Transportplanning </a> </td>
																		<td> <a href="../elements/id-729563.html" target="element"> Energietransport </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-228241b4690848839f301653400ad6e6.html" target="element"> geautoriseerd door </a> </td>
																		<td> <a href="../elements/id-228241b4690848839f301653400ad6e6.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-729622.html" target="element"> Werkactiviteit </a> </td>
																		<td> <a href="../elements/id-729629.html" target="element"> Werkopdracht </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-cf19774c451c4b78b4f7fb7feb8fc71a.html" target="element"> ingezet bij </a> </td>
																		<td> <a href="../elements/id-cf19774c451c4b78b4f7fb7feb8fc71a.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-729611.html" target="element"> Werkmiddel </a> </td>
																		<td> <a href="../elements/id-729622.html" target="element"> Werkactiviteit </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-6d4904a8275546b6a528e6a5a297a843.html" target="element"> voor </a> </td>
																		<td> <a href="../elements/id-6d4904a8275546b6a528e6a5a297a843.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-729629.html" target="element"> Werkopdracht </a> </td>
																		<td> <a href="../elements/id-729592.html" target="element"> Energienet </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0f51480cebfa4d2b9cf33b23bff6af67.html" target="element"> voor </a> </td>
																		<td> <a href="../elements/id-0f51480cebfa4d2b9cf33b23bff6af67.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-729629.html" target="element"> Werkopdracht </a> </td>
																		<td> <a href="../elements/id-729560.html" target="element"> Storing </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-af143a9d93eb4cda8a748e1a53ef5e0f.html" target="element"> voor </a> </td>
																		<td> <a href="../elements/id-af143a9d93eb4cda8a748e1a53ef5e0f.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-729629.html" target="element"> Werkopdracht </a> </td>
																		<td> <a href="../elements/id-729570.html" target="element"> Transportplanning </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-20d3bfbe6fc44e4f93e0c04738c9585e.html" target="element"> geprioriteerd in </a> </td>
																		<td> <a href="../elements/id-20d3bfbe6fc44e4f93e0c04738c9585e.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-729629.html" target="element"> Werkopdracht </a> </td>
																		<td> <a href="../elements/id-729618.html" target="element"> Werkportfolio </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e831405fb0694f2c8b61828f0ee31ba6.html" target="element"> voor </a> </td>
																		<td> <a href="../elements/id-e831405fb0694f2c8b61828f0ee31ba6.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-729629.html" target="element"> Werkopdracht </a> </td>
																		<td> <a href="../elements/id-729585.html" target="element"> Netkwaliteit </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-aa5dba769c3e49a6acd26e2814787dfb.html" target="element"> met </a> </td>
																		<td> <a href="../elements/id-aa5dba769c3e49a6acd26e2814787dfb.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-729646.html" target="element"> Klantovereenkomst </a> </td>
																		<td> <a href="../elements/id-729634.html" target="element"> Klant </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d1a6e0e3e40547d5bb13179e4cf7d274.html" target="element"> voor </a> </td>
																		<td> <a href="../elements/id-d1a6e0e3e40547d5bb13179e4cf7d274.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-729646.html" target="element"> Klantovereenkomst </a> </td>
																		<td> <a href="../elements/id-729684.html" target="element"> Aansluiting </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>