<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>L2 value stream I.G</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>L2 value stream I.G</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-9b1349d6ea7a457e886cacce4da269ba.png" alt="L2 value stream I.G" usemap="#id-9b1349d6ea7a457e886cacce4da269bamap"/>
			   <map name="id-9b1349d6ea7a457e886cacce4da269bamap">
				          <area shape="rect" coords="10,610,239,659" href="../objects/id-19a9b91a602146f2978b804c7cd4f046.html" target="element" >
				  						<area shape="rect" coords="250,430,407,455" href="../elements/id-736013.html"  target="element">

				  				<area shape="rect" coords="238,370,419,466" href="../elements/id-736411.html"  target="element">
				  						<area shape="rect" coords="250,322,407,347" href="../elements/id-736021.html"  target="element">

				  				<area shape="rect" coords="238,262,419,358" href="../elements/id-718828.html"  target="element">
				  						<area shape="rect" coords="250,214,407,239" href="../elements/id-736031.html"  target="element">

				  				<area shape="rect" coords="238,154,419,250" href="../elements/id-736374.html"  target="element">

				  		<area shape="rect" coords="226,82,430,587" href="../elements/id-718832.html"  target="element">
				  						<area shape="rect" coords="34,214,191,239" href="../elements/id-736096.html"  target="element">

				  				<area shape="rect" coords="22,154,203,250" href="../elements/id-718837.html"  target="element">

				  		<area shape="rect" coords="10,82,214,587" href="../elements/id-736543.html"  target="element">
				  		<area shape="rect" coords="10,10,431,71" href="../elements/id-a5b3cfa283954862b6d6a05af2acd12d.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">SPDX-FileCopyrightText: 2017-2022 Contributors to the NBility project

SPDX-License-Identifier: CC-BY-4.0

Source: https://github.com/NBility-Model</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-a5b3cfa283954862b6d6a05af2acd12d.html" target="element"> Beschikbaar maken en stellen financi&#235;le assets en informatie </a> </td>
											    <td> <a href="../elements/id-a5b3cfa283954862b6d6a05af2acd12d.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-736543.html" target="element"> Processen en data ontwikkelen en beheren </a> </td>
											    <td> <a href="../elements/id-736543.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-718837.html" target="element"> Processen besturen </a> </td>
													    <td> <a href="../elements/id-718837.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-736096.html" target="element"> Proces </a> </td>
															    <td> <a href="../elements/id-736096.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/id-718832.html" target="element"> Financi&#235;n verkrijgen en beheren </a> </td>
											    <td> <a href="../elements/id-718832.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-736374.html" target="element"> Financi&#235;le strategie en plannen opstellen, bewaken en rapporteren </a> </td>
													    <td> <a href="../elements/id-736374.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-736031.html" target="element"> Financi&#235;le strategie </a> </td>
															    <td> <a href="../elements/id-736031.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-718828.html" target="element"> Vermogen en liquiditeiten verkrijgen en beheren </a> </td>
													    <td> <a href="../elements/id-718828.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-736021.html" target="element"> Vermogen en liquiditeit </a> </td>
															    <td> <a href="../elements/id-736021.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-736411.html" target="element"> Gebeurtenissen financieel verwerken en standen beheren </a> </td>
													    <td> <a href="../elements/id-736411.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-736013.html" target="element"> Financieel feit </a> </td>
															    <td> <a href="../elements/id-736013.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
											
									        <tr>
									           <td> <a href="../objects/id-19a9b91a602146f2978b804c7cd4f046.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-19a9b91a602146f2978b804c7cd4f046.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-878857.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878857.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-736543.html" target="element"> Processen en data ontwikkelen en beheren </a> </td>
																		<td> <a href="../elements/id-718837.html" target="element"> Processen besturen </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-986422d26d5b4fb2b2ba762f186091d5.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-986422d26d5b4fb2b2ba762f186091d5.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-718837.html" target="element"> Processen besturen </a> </td>
																				<td> <a href="../elements/id-736096.html" target="element"> Proces </a> </td>
																			</tr>

													
											
																	<tr>
																		<td> <a href="../elements/id-878880.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878880.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718832.html" target="element"> Financi&#235;n verkrijgen en beheren </a> </td>
																		<td> <a href="../elements/id-736374.html" target="element"> Financi&#235;le strategie en plannen opstellen, bewaken en rapporteren </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-878767.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878767.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718832.html" target="element"> Financi&#235;n verkrijgen en beheren </a> </td>
																		<td> <a href="../elements/id-736411.html" target="element"> Gebeurtenissen financieel verwerken en standen beheren </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-878722.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878722.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718832.html" target="element"> Financi&#235;n verkrijgen en beheren </a> </td>
																		<td> <a href="../elements/id-718828.html" target="element"> Vermogen en liquiditeiten verkrijgen en beheren </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-abd944d973aa48adbc18f649f5f420dc.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-abd944d973aa48adbc18f649f5f420dc.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-736374.html" target="element"> Financi&#235;le strategie en plannen opstellen, bewaken en rapporteren </a> </td>
																				<td> <a href="../elements/id-736031.html" target="element"> Financi&#235;le strategie </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-e4604bb2d0df4aa4977ba1f20a18a6a6.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e4604bb2d0df4aa4977ba1f20a18a6a6.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-718828.html" target="element"> Vermogen en liquiditeiten verkrijgen en beheren </a> </td>
																				<td> <a href="../elements/id-736021.html" target="element"> Vermogen en liquiditeit </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-0cbc6fc44cb14ddb82891c62efaecee8.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-0cbc6fc44cb14ddb82891c62efaecee8.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-736411.html" target="element"> Gebeurtenissen financieel verwerken en standen beheren </a> </td>
																				<td> <a href="../elements/id-736013.html" target="element"> Financieel feit </a> </td>
																			</tr>

													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>