<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>L3 value stream P.H</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>L3 value stream P.H</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-afefd8fc92cc47b08e27a196253daa01.png" alt="L3 value stream P.H" usemap="#id-afefd8fc92cc47b08e27a196253daa01map"/>
			   <map name="id-afefd8fc92cc47b08e27a196253daa01map">
				          <area shape="rect" coords="10,1378,239,1427" href="../objects/id-e250839112dd4d88b3a289fc3a36e0bc.html" target="element" >
				  						<area shape="rect" coords="358,286,623,371" href="../elements/id-736329.html"  target="element">
				  								<area shape="rect" coords="370,430,610,455" href="../elements/id-723128.html"  target="element">

				  						<area shape="rect" coords="358,382,623,467" href="../elements/id-718800.html"  target="element">
				  						<area shape="rect" coords="358,190,623,275" href="../elements/id-718746.html"  target="element">

				  				<area shape="rect" coords="346,142,635,479" href="../elements/id-718331.html"  target="element">

				  		<area shape="rect" coords="334,82,647,1355" href="../elements/id-718173.html"  target="element">
				  								<area shape="rect" coords="46,274,286,298" href="../elements/id-722939.html"  target="element">
				  								<area shape="rect" coords="46,238,286,262" href="../elements/id-479212.html"  target="element">

				  						<area shape="rect" coords="34,190,298,311" href="../elements/id-718766.html"  target="element">
				  								<area shape="rect" coords="46,598,286,622" href="../elements/id-722942.html"  target="element">

				  						<area shape="rect" coords="34,550,298,635" href="../elements/id-718823.html"  target="element">
				  								<area shape="rect" coords="46,502,286,526" href="../elements/id-469427.html"  target="element">

				  						<area shape="rect" coords="34,454,298,539" href="../elements/id-718769.html"  target="element">
				  								<area shape="rect" coords="46,406,286,430" href="../elements/id-469958.html"  target="element">
				  								<area shape="rect" coords="46,370,286,394" href="../elements/id-472880.html"  target="element">

				  						<area shape="rect" coords="34,322,298,443" href="../elements/id-718750.html"  target="element">

				  				<area shape="rect" coords="22,142,311,647" href="../elements/id-711284.html"  target="element">
				  								<area shape="rect" coords="46,1294,286,1318" href="../elements/id-469274.html"  target="element">

				  						<area shape="rect" coords="34,1246,298,1331" href="../elements/id-718770.html"  target="element">
				  								<area shape="rect" coords="46,1198,286,1222" href="../elements/id-469274.html"  target="element">

				  						<area shape="rect" coords="34,1150,298,1235" href="../elements/id-718771.html"  target="element">
				  								<area shape="rect" coords="46,1102,286,1126" href="../elements/id-469274.html"  target="element">

				  						<area shape="rect" coords="34,1054,298,1139" href="../elements/id-718717.html"  target="element">

				  				<area shape="rect" coords="22,1006,311,1342" href="../elements/id-711331.html"  target="element">
				  								<area shape="rect" coords="46,946,286,970" href="../elements/id-722954.html"  target="element">

				  						<area shape="rect" coords="34,898,298,982" href="../elements/id-718810.html"  target="element">
				  								<area shape="rect" coords="46,850,286,874" href="../elements/id-469480.html"  target="element">

				  						<area shape="rect" coords="34,802,298,887" href="../elements/id-718772.html"  target="element">
				  								<area shape="rect" coords="46,754,286,778" href="../elements/id-470129.html"  target="element">

				  						<area shape="rect" coords="34,706,298,790" href="../elements/id-718760.html"  target="element">

				  				<area shape="rect" coords="22,658,311,995" href="../elements/id-718334.html"  target="element">

				  		<area shape="rect" coords="10,82,323,1355" href="../elements/id-718171.html"  target="element">
				  		<area shape="rect" coords="10,10,647,71" href="../elements/id-24459716ccb14af5bff12769ebcb5476.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">SPDX-FileCopyrightText: 2017-2022 Contributors to the NBility project

SPDX-License-Identifier: CC-BY-4.0

Source: https://github.com/NBility-Model</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-24459716ccb14af5bff12769ebcb5476.html" target="element"> Beschikbaar stellen van netbeheerdata </a> </td>
											    <td> <a href="../elements/id-24459716ccb14af5bff12769ebcb5476.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-718171.html" target="element"> Klanten bedienen </a> </td>
											    <td> <a href="../elements/id-718171.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-718334.html" target="element"> Overeenkomsten verwerven en beheren </a> </td>
													    <td> <a href="../elements/id-718334.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-718760.html" target="element"> Producten aan klanten offreren </a> </td>
															    <td> <a href="../elements/id-718760.html" target="element" class="i18n-elementtype-BusinessFunction">
															    </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/id-470129.html" target="element"> Klantofferte </a> </td>
																	    <td> <a href="../elements/id-470129.html" target="element" class="i18n-elementtype-BusinessObject">
																	    </a> </td>
																	</tr>

															
															<tr>
															    <td> <a href="../elements/id-718772.html" target="element"> Overeenkomsten/SLA's afsluiten, aanpassen, beheren en bee&#239;ndigen </a> </td>
															    <td> <a href="../elements/id-718772.html" target="element" class="i18n-elementtype-BusinessFunction">
															    </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/id-469480.html" target="element"> Klantovereenkomst </a> </td>
																	    <td> <a href="../elements/id-469480.html" target="element" class="i18n-elementtype-BusinessObject">
																	    </a> </td>
																	</tr>

															
															<tr>
															    <td> <a href="../elements/id-718810.html" target="element"> Producten en diensten ontwikkelen en beheren </a> </td>
															    <td> <a href="../elements/id-718810.html" target="element" class="i18n-elementtype-BusinessFunction">
															    </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/id-722954.html" target="element"> Klantproduct </a> </td>
																	    <td> <a href="../elements/id-722954.html" target="element" class="i18n-elementtype-BusinessObject">
																	    </a> </td>
																	</tr>

															
													
													<tr>
													    <td> <a href="../elements/id-711331.html" target="element"> Factureren en innen </a> </td>
													    <td> <a href="../elements/id-711331.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-718717.html" target="element"> Vergoeding voor geleverde diensten berekenen </a> </td>
															    <td> <a href="../elements/id-718717.html" target="element" class="i18n-elementtype-BusinessFunction">
															    </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/id-469274.html" target="element"> Klantfactuur </a> </td>
																	    <td> <a href="../elements/id-469274.html" target="element" class="i18n-elementtype-BusinessObject">
																	    </a> </td>
																	</tr>

															
															<tr>
															    <td> <a href="../elements/id-718771.html" target="element"> Factuur maken en versturen </a> </td>
															    <td> <a href="../elements/id-718771.html" target="element" class="i18n-elementtype-BusinessFunction">
															    </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/id-469274.html" target="element"> Klantfactuur </a> </td>
																	    <td> <a href="../elements/id-469274.html" target="element" class="i18n-elementtype-BusinessObject">
																	    </a> </td>
																	</tr>

															
															<tr>
															    <td> <a href="../elements/id-718770.html" target="element"> Openstaande vorderingen innen </a> </td>
															    <td> <a href="../elements/id-718770.html" target="element" class="i18n-elementtype-BusinessFunction">
															    </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/id-469274.html" target="element"> Klantfactuur </a> </td>
																	    <td> <a href="../elements/id-469274.html" target="element" class="i18n-elementtype-BusinessObject">
																	    </a> </td>
																	</tr>

															
													
													<tr>
													    <td> <a href="../elements/id-711284.html" target="element"> Klanten bedienen en relaties onderhouden </a> </td>
													    <td> <a href="../elements/id-711284.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-718750.html" target="element"> Melding/vraag/verzoek van klanten behandelen </a> </td>
															    <td> <a href="../elements/id-718750.html" target="element" class="i18n-elementtype-BusinessFunction">
															    </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/id-472880.html" target="element"> Klantaanvraag </a> </td>
																	    <td> <a href="../elements/id-472880.html" target="element" class="i18n-elementtype-BusinessObject">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/id-469958.html" target="element"> Klantverzoek </a> </td>
																	    <td> <a href="../elements/id-469958.html" target="element" class="i18n-elementtype-BusinessObject">
																	    </a> </td>
																	</tr>

															
															<tr>
															    <td> <a href="../elements/id-718769.html" target="element"> Relatie met klanten onderhouden </a> </td>
															    <td> <a href="../elements/id-718769.html" target="element" class="i18n-elementtype-BusinessFunction">
															    </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/id-469427.html" target="element"> Klant </a> </td>
																	    <td> <a href="../elements/id-469427.html" target="element" class="i18n-elementtype-BusinessObject">
																	    </a> </td>
																	</tr>

															
															<tr>
															    <td> <a href="../elements/id-718823.html" target="element"> Klantervaring monitoren en be&#239;nvloeden </a> </td>
															    <td> <a href="../elements/id-718823.html" target="element" class="i18n-elementtype-BusinessFunction">
															    </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/id-722942.html" target="element"> Klantervaring </a> </td>
																	    <td> <a href="../elements/id-722942.html" target="element" class="i18n-elementtype-BusinessObject">
																	    </a> </td>
																	</tr>

															
															<tr>
															    <td> <a href="../elements/id-718766.html" target="element"> Service verlenen aan klanten in kanalen </a> </td>
															    <td> <a href="../elements/id-718766.html" target="element" class="i18n-elementtype-BusinessFunction">
															    </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/id-479212.html" target="element"> Klantcontactmoment </a> </td>
																	    <td> <a href="../elements/id-479212.html" target="element" class="i18n-elementtype-BusinessObject">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/id-722939.html" target="element"> Klantnotificatie </a> </td>
																	    <td> <a href="../elements/id-722939.html" target="element" class="i18n-elementtype-BusinessObject">
																	    </a> </td>
																	</tr>

															
													
											
											<tr>
											    <td> <a href="../elements/id-718173.html" target="element"> De energiemarkt faciliteren </a> </td>
											    <td> <a href="../elements/id-718173.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-718331.html" target="element"> Delen van marktdata faciliteren </a> </td>
													    <td> <a href="../elements/id-718331.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-718746.html" target="element"> Marktdata beschikbaar maken voor derden </a> </td>
															    <td> <a href="../elements/id-718746.html" target="element" class="i18n-elementtype-BusinessFunction">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-718800.html" target="element"> Toestemmingen beheren </a> </td>
															    <td> <a href="../elements/id-718800.html" target="element" class="i18n-elementtype-BusinessFunction">
															    </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/id-723128.html" target="element"> Toestemming van aangeslotene </a> </td>
																	    <td> <a href="../elements/id-723128.html" target="element" class="i18n-elementtype-BusinessObject">
																	    </a> </td>
																	</tr>

															
															<tr>
															    <td> <a href="../elements/id-736329.html" target="element"> Open data beschikbaar maken </a> </td>
															    <td> <a href="../elements/id-736329.html" target="element" class="i18n-elementtype-BusinessFunction">
															    </a> </td>
															</tr>

													
											
									        <tr>
									           <td> <a href="../objects/id-e250839112dd4d88b3a289fc3a36e0bc.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-e250839112dd4d88b3a289fc3a36e0bc.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-878527.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878527.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718171.html" target="element"> Klanten bedienen </a> </td>
																		<td> <a href="../elements/id-711331.html" target="element"> Factureren en innen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-878392.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878392.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718171.html" target="element"> Klanten bedienen </a> </td>
																		<td> <a href="../elements/id-718334.html" target="element"> Overeenkomsten verwerven en beheren </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-878804.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878804.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718171.html" target="element"> Klanten bedienen </a> </td>
																		<td> <a href="../elements/id-711284.html" target="element"> Klanten bedienen en relaties onderhouden </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-878648.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-878648.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-718334.html" target="element"> Overeenkomsten verwerven en beheren </a> </td>
																				<td> <a href="../elements/id-718772.html" target="element"> Overeenkomsten/SLA's afsluiten, aanpassen, beheren en bee&#239;ndigen </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-878689.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-878689.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-718334.html" target="element"> Overeenkomsten verwerven en beheren </a> </td>
																				<td> <a href="../elements/id-718760.html" target="element"> Producten aan klanten offreren </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-878705.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-878705.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-718334.html" target="element"> Overeenkomsten verwerven en beheren </a> </td>
																				<td> <a href="../elements/id-718810.html" target="element"> Producten en diensten ontwikkelen en beheren </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/id-ef8d258db5244dbf86a66611af635855.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-ef8d258db5244dbf86a66611af635855.html" target="element" class="i18n-elementtype-AccessRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-718760.html" target="element"> Producten aan klanten offreren </a> </td>
																						<td> <a href="../elements/id-470129.html" target="element"> Klantofferte </a> </td>
																					</tr>

															
																					<tr>
																						<td> <a href="../elements/id-564e350290c54a72b02bb454b272ab1c.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-564e350290c54a72b02bb454b272ab1c.html" target="element" class="i18n-elementtype-AccessRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-718772.html" target="element"> Overeenkomsten/SLA's afsluiten, aanpassen, beheren en bee&#239;ndigen </a> </td>
																						<td> <a href="../elements/id-469480.html" target="element"> Klantovereenkomst </a> </td>
																					</tr>

															
																					<tr>
																						<td> <a href="../elements/id-65d78ca4a09e44469608fb773e6f1920.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-65d78ca4a09e44469608fb773e6f1920.html" target="element" class="i18n-elementtype-AccessRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-718810.html" target="element"> Producten en diensten ontwikkelen en beheren </a> </td>
																						<td> <a href="../elements/id-722954.html" target="element"> Klantproduct </a> </td>
																					</tr>

															
													
																			<tr>
																				<td> <a href="../elements/id-878693.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-878693.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-711331.html" target="element"> Factureren en innen </a> </td>
																				<td> <a href="../elements/id-718717.html" target="element"> Vergoeding voor geleverde diensten berekenen </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-878442.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-878442.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-711331.html" target="element"> Factureren en innen </a> </td>
																				<td> <a href="../elements/id-718771.html" target="element"> Factuur maken en versturen </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-878695.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-878695.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-711331.html" target="element"> Factureren en innen </a> </td>
																				<td> <a href="../elements/id-718770.html" target="element"> Openstaande vorderingen innen </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/id-99740e1b20c34723ae98d11a6631ffcd.html" target="element"> modification </a> </td>
																						<td> <a href="../elements/id-99740e1b20c34723ae98d11a6631ffcd.html" target="element" class="i18n-elementtype-AccessRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-718717.html" target="element"> Vergoeding voor geleverde diensten berekenen </a> </td>
																						<td> <a href="../elements/id-469274.html" target="element"> Klantfactuur </a> </td>
																					</tr>

															
																					<tr>
																						<td> <a href="../elements/id-ff869d658ff84b39a1b50631d1e7a771.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-ff869d658ff84b39a1b50631d1e7a771.html" target="element" class="i18n-elementtype-AccessRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-718771.html" target="element"> Factuur maken en versturen </a> </td>
																						<td> <a href="../elements/id-469274.html" target="element"> Klantfactuur </a> </td>
																					</tr>

															
																					<tr>
																						<td> <a href="../elements/id-8541c0e94b1446819b972af78def357b.html" target="element"> modification </a> </td>
																						<td> <a href="../elements/id-8541c0e94b1446819b972af78def357b.html" target="element" class="i18n-elementtype-AccessRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-718770.html" target="element"> Openstaande vorderingen innen </a> </td>
																						<td> <a href="../elements/id-469274.html" target="element"> Klantfactuur </a> </td>
																					</tr>

															
													
																			<tr>
																				<td> <a href="../elements/id-825006.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-825006.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-711284.html" target="element"> Klanten bedienen en relaties onderhouden </a> </td>
																				<td> <a href="../elements/id-718766.html" target="element"> Service verlenen aan klanten in kanalen </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-878519.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-878519.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-711284.html" target="element"> Klanten bedienen en relaties onderhouden </a> </td>
																				<td> <a href="../elements/id-718750.html" target="element"> Melding/vraag/verzoek van klanten behandelen </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-878657.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-878657.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-711284.html" target="element"> Klanten bedienen en relaties onderhouden </a> </td>
																				<td> <a href="../elements/id-718769.html" target="element"> Relatie met klanten onderhouden </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-878643.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-878643.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-711284.html" target="element"> Klanten bedienen en relaties onderhouden </a> </td>
																				<td> <a href="../elements/id-718823.html" target="element"> Klantervaring monitoren en be&#239;nvloeden </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/id-75b4352ff14c4471b82ddddc7ab26cd6.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-75b4352ff14c4471b82ddddc7ab26cd6.html" target="element" class="i18n-elementtype-AccessRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-718750.html" target="element"> Melding/vraag/verzoek van klanten behandelen </a> </td>
																						<td> <a href="../elements/id-472880.html" target="element"> Klantaanvraag </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-18cb91e991384741a0494d4b76263c74.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-18cb91e991384741a0494d4b76263c74.html" target="element" class="i18n-elementtype-AccessRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-718750.html" target="element"> Melding/vraag/verzoek van klanten behandelen </a> </td>
																						<td> <a href="../elements/id-469958.html" target="element"> Klantverzoek </a> </td>
																					</tr>

															
																					<tr>
																						<td> <a href="../elements/id-afbf4d8db86345f2aa50dc92468e5aaf.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-afbf4d8db86345f2aa50dc92468e5aaf.html" target="element" class="i18n-elementtype-AccessRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-718769.html" target="element"> Relatie met klanten onderhouden </a> </td>
																						<td> <a href="../elements/id-469427.html" target="element"> Klant </a> </td>
																					</tr>

															
																					<tr>
																						<td> <a href="../elements/id-a5395822bf11487a9482bbeb4c1acd74.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-a5395822bf11487a9482bbeb4c1acd74.html" target="element" class="i18n-elementtype-AccessRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-718823.html" target="element"> Klantervaring monitoren en be&#239;nvloeden </a> </td>
																						<td> <a href="../elements/id-722942.html" target="element"> Klantervaring </a> </td>
																					</tr>

															
																					<tr>
																						<td> <a href="../elements/id-3a36f3b07f4c4f3ca9fe13134f891370.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-3a36f3b07f4c4f3ca9fe13134f891370.html" target="element" class="i18n-elementtype-AccessRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-718766.html" target="element"> Service verlenen aan klanten in kanalen </a> </td>
																						<td> <a href="../elements/id-479212.html" target="element"> Klantcontactmoment </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-01fa792742fe4fb5bd37fc02be5134ca.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-01fa792742fe4fb5bd37fc02be5134ca.html" target="element" class="i18n-elementtype-AccessRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-718766.html" target="element"> Service verlenen aan klanten in kanalen </a> </td>
																						<td> <a href="../elements/id-722939.html" target="element"> Klantnotificatie </a> </td>
																					</tr>

															
													
											
																	<tr>
																		<td> <a href="../elements/id-878887.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878887.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718173.html" target="element"> De energiemarkt faciliteren </a> </td>
																		<td> <a href="../elements/id-718331.html" target="element"> Delen van marktdata faciliteren </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-878700.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-878700.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-718331.html" target="element"> Delen van marktdata faciliteren </a> </td>
																				<td> <a href="../elements/id-718800.html" target="element"> Toestemmingen beheren </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-878444.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-878444.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-718331.html" target="element"> Delen van marktdata faciliteren </a> </td>
																				<td> <a href="../elements/id-736329.html" target="element"> Open data beschikbaar maken </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-878440.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-878440.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-718331.html" target="element"> Delen van marktdata faciliteren </a> </td>
																				<td> <a href="../elements/id-718746.html" target="element"> Marktdata beschikbaar maken voor derden </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/id-2e031cf46b894ca6b065d4bbfc39bc1d.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-2e031cf46b894ca6b065d4bbfc39bc1d.html" target="element" class="i18n-elementtype-AccessRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-718800.html" target="element"> Toestemmingen beheren </a> </td>
																						<td> <a href="../elements/id-723128.html" target="element"> Toestemming van aangeslotene </a> </td>
																					</tr>

															
													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>