<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>L3 value stream I.G</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>L3 value stream I.G</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-bb5b13abf6c44650b2ef13150feadc63.png" alt="L3 value stream I.G" usemap="#id-bb5b13abf6c44650b2ef13150feadc63map"/>
			   <map name="id-bb5b13abf6c44650b2ef13150feadc63map">
				          <area shape="rect" coords="10,1390,239,1439" href="../objects/id-3c5d64230b1d48f0b16b4cc8e93651f2.html" target="element" >
				  								<area shape="rect" coords="370,1318,611,1343" href="../elements/id-736019.html"  target="element">

				  						<area shape="rect" coords="358,1270,622,1354" href="../elements/id-736421.html"  target="element">
				  								<area shape="rect" coords="370,1222,611,1247" href="../elements/id-736015.html"  target="element">

				  						<area shape="rect" coords="358,1174,622,1258" href="../elements/id-736432.html"  target="element">
				  								<area shape="rect" coords="370,1126,611,1151" href="../elements/id-736017.html"  target="element">

				  						<area shape="rect" coords="358,1078,622,1162" href="../elements/id-736407.html"  target="element">

				  				<area shape="rect" coords="346,1030,635,1367" href="../elements/id-736411.html"  target="element">
				  								<area shape="rect" coords="370,970,611,995" href="../elements/id-736029.html"  target="element">

				  						<area shape="rect" coords="358,922,622,1006" href="../elements/id-736426.html"  target="element">
				  								<area shape="rect" coords="370,874,611,899" href="../elements/id-736023.html"  target="element">

				  						<area shape="rect" coords="358,826,622,910" href="../elements/id-736403.html"  target="element">
				  								<area shape="rect" coords="370,778,611,803" href="../elements/id-736027.html"  target="element">

				  						<area shape="rect" coords="358,730,622,814" href="../elements/id-736423.html"  target="element">
				  								<area shape="rect" coords="370,682,611,707" href="../elements/id-736025.html"  target="element">

				  						<area shape="rect" coords="358,634,622,718" href="../elements/id-736439.html"  target="element">

				  				<area shape="rect" coords="346,586,635,1019" href="../elements/id-718828.html"  target="element">
				  								<area shape="rect" coords="370,526,611,551" href="../elements/id-736033.html"  target="element">

				  						<area shape="rect" coords="358,478,622,562" href="../elements/id-736393.html"  target="element">
				  						<area shape="rect" coords="358,382,622,466" href="../elements/id-736383.html"  target="element">
				  								<area shape="rect" coords="370,334,611,359" href="../elements/id-736037.html"  target="element">

				  						<area shape="rect" coords="358,286,622,370" href="../elements/id-736398.html"  target="element">
				  								<area shape="rect" coords="370,238,611,263" href="../elements/id-736035.html"  target="element">

				  						<area shape="rect" coords="358,190,622,274" href="../elements/id-736415.html"  target="element">

				  				<area shape="rect" coords="346,142,635,575" href="../elements/id-736374.html"  target="element">

				  		<area shape="rect" coords="334,82,646,1379" href="../elements/id-718832.html"  target="element">
				  								<area shape="rect" coords="46,238,287,263" href="../elements/id-736100.html"  target="element">

				  						<area shape="rect" coords="34,190,298,274" href="../elements/id-736517.html"  target="element">

				  				<area shape="rect" coords="22,142,311,287" href="../elements/id-718837.html"  target="element">

				  		<area shape="rect" coords="10,82,322,1379" href="../elements/id-736543.html"  target="element">
				  		<area shape="rect" coords="10,10,647,71" href="../elements/id-a5b3cfa283954862b6d6a05af2acd12d.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">SPDX-FileCopyrightText: 2017-2022 Contributors to the NBility project

SPDX-License-Identifier: CC-BY-4.0

Source: https://github.com/NBility-Model</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-a5b3cfa283954862b6d6a05af2acd12d.html" target="element"> Beschikbaar maken en stellen financi&#235;le assets en informatie </a> </td>
											    <td> <a href="../elements/id-a5b3cfa283954862b6d6a05af2acd12d.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-736543.html" target="element"> Processen en data ontwikkelen en beheren </a> </td>
											    <td> <a href="../elements/id-736543.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-718837.html" target="element"> Processen besturen </a> </td>
													    <td> <a href="../elements/id-718837.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-736517.html" target="element"> Processen orkestreren </a> </td>
															    <td> <a href="../elements/id-736517.html" target="element" class="i18n-elementtype-BusinessFunction">
															    </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/id-736100.html" target="element"> Case </a> </td>
																	    <td> <a href="../elements/id-736100.html" target="element" class="i18n-elementtype-BusinessObject">
																	    </a> </td>
																	</tr>

															
													
											
											<tr>
											    <td> <a href="../elements/id-718832.html" target="element"> Financi&#235;n verkrijgen en beheren </a> </td>
											    <td> <a href="../elements/id-718832.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-736374.html" target="element"> Financi&#235;le strategie en plannen opstellen, bewaken en rapporteren </a> </td>
													    <td> <a href="../elements/id-736374.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-736415.html" target="element"> Financi&#235;le strategie opstellen </a> </td>
															    <td> <a href="../elements/id-736415.html" target="element" class="i18n-elementtype-BusinessFunction">
															    </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/id-736035.html" target="element"> Financi&#235;le strategie </a> </td>
																	    <td> <a href="../elements/id-736035.html" target="element" class="i18n-elementtype-BusinessObject">
																	    </a> </td>
																	</tr>

															
															<tr>
															    <td> <a href="../elements/id-736398.html" target="element"> Financi&#235;n plannen </a> </td>
															    <td> <a href="../elements/id-736398.html" target="element" class="i18n-elementtype-BusinessFunction">
															    </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/id-736037.html" target="element"> Financieel plan </a> </td>
																	    <td> <a href="../elements/id-736037.html" target="element" class="i18n-elementtype-BusinessObject">
																	    </a> </td>
																	</tr>

															
															<tr>
															    <td> <a href="../elements/id-736383.html" target="element"> Financi&#235;le informatie verstrekken en adviseren </a> </td>
															    <td> <a href="../elements/id-736383.html" target="element" class="i18n-elementtype-BusinessFunction">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-736393.html" target="element"> Financi&#235;le verantwoording afleggen </a> </td>
															    <td> <a href="../elements/id-736393.html" target="element" class="i18n-elementtype-BusinessFunction">
															    </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/id-736033.html" target="element"> Financieel verslag </a> </td>
																	    <td> <a href="../elements/id-736033.html" target="element" class="i18n-elementtype-BusinessObject">
																	    </a> </td>
																	</tr>

															
													
													<tr>
													    <td> <a href="../elements/id-718828.html" target="element"> Vermogen en liquiditeiten verkrijgen en beheren </a> </td>
													    <td> <a href="../elements/id-718828.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-736439.html" target="element"> Vermogen verkrijgen </a> </td>
															    <td> <a href="../elements/id-736439.html" target="element" class="i18n-elementtype-BusinessFunction">
															    </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/id-736025.html" target="element"> Financiering </a> </td>
																	    <td> <a href="../elements/id-736025.html" target="element" class="i18n-elementtype-BusinessObject">
																	    </a> </td>
																	</tr>

															
															<tr>
															    <td> <a href="../elements/id-736423.html" target="element"> Activa waarderen </a> </td>
															    <td> <a href="../elements/id-736423.html" target="element" class="i18n-elementtype-BusinessFunction">
															    </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/id-736027.html" target="element"> Waardering </a> </td>
																	    <td> <a href="../elements/id-736027.html" target="element" class="i18n-elementtype-BusinessObject">
																	    </a> </td>
																	</tr>

															
															<tr>
															    <td> <a href="../elements/id-736403.html" target="element"> Liquide middelen beheren </a> </td>
															    <td> <a href="../elements/id-736403.html" target="element" class="i18n-elementtype-BusinessFunction">
															    </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/id-736023.html" target="element"> Liquide middel </a> </td>
																	    <td> <a href="../elements/id-736023.html" target="element" class="i18n-elementtype-BusinessObject">
																	    </a> </td>
																	</tr>

															
															<tr>
															    <td> <a href="../elements/id-736426.html" target="element"> Betalingen verrichten </a> </td>
															    <td> <a href="../elements/id-736426.html" target="element" class="i18n-elementtype-BusinessFunction">
															    </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/id-736029.html" target="element"> Betalingsopdracht </a> </td>
																	    <td> <a href="../elements/id-736029.html" target="element" class="i18n-elementtype-BusinessObject">
																	    </a> </td>
																	</tr>

															
													
													<tr>
													    <td> <a href="../elements/id-736411.html" target="element"> Gebeurtenissen financieel verwerken en standen beheren </a> </td>
													    <td> <a href="../elements/id-736411.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-736407.html" target="element"> Gebeurtenissen financieel verwerken </a> </td>
															    <td> <a href="../elements/id-736407.html" target="element" class="i18n-elementtype-BusinessFunction">
															    </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/id-736017.html" target="element"> Financieel feit </a> </td>
																	    <td> <a href="../elements/id-736017.html" target="element" class="i18n-elementtype-BusinessObject">
																	    </a> </td>
																	</tr>

															
															<tr>
															    <td> <a href="../elements/id-736432.html" target="element"> Financi&#235;le standen beheren </a> </td>
															    <td> <a href="../elements/id-736432.html" target="element" class="i18n-elementtype-BusinessFunction">
															    </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/id-736015.html" target="element"> Financi&#235;le stand </a> </td>
																	    <td> <a href="../elements/id-736015.html" target="element" class="i18n-elementtype-BusinessObject">
																	    </a> </td>
																	</tr>

															
															<tr>
															    <td> <a href="../elements/id-736421.html" target="element"> Financi&#235;le beheersmaatregelen uitvoeren </a> </td>
															    <td> <a href="../elements/id-736421.html" target="element" class="i18n-elementtype-BusinessFunction">
															    </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/id-736019.html" target="element"> Financi&#235;le beheersmaatregel </a> </td>
																	    <td> <a href="../elements/id-736019.html" target="element" class="i18n-elementtype-BusinessObject">
																	    </a> </td>
																	</tr>

															
													
											
									        <tr>
									           <td> <a href="../objects/id-3c5d64230b1d48f0b16b4cc8e93651f2.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-3c5d64230b1d48f0b16b4cc8e93651f2.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-878857.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878857.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-736543.html" target="element"> Processen en data ontwikkelen en beheren </a> </td>
																		<td> <a href="../elements/id-718837.html" target="element"> Processen besturen </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-878913.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-878913.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-718837.html" target="element"> Processen besturen </a> </td>
																				<td> <a href="../elements/id-736517.html" target="element"> Processen orkestreren </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/id-57edf629e19d4b568aa3ed9c6a69a5c4.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-57edf629e19d4b568aa3ed9c6a69a5c4.html" target="element" class="i18n-elementtype-AccessRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-736517.html" target="element"> Processen orkestreren </a> </td>
																						<td> <a href="../elements/id-736100.html" target="element"> Case </a> </td>
																					</tr>

															
													
											
																	<tr>
																		<td> <a href="../elements/id-878722.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878722.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718832.html" target="element"> Financi&#235;n verkrijgen en beheren </a> </td>
																		<td> <a href="../elements/id-718828.html" target="element"> Vermogen en liquiditeiten verkrijgen en beheren </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-878767.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878767.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718832.html" target="element"> Financi&#235;n verkrijgen en beheren </a> </td>
																		<td> <a href="../elements/id-736411.html" target="element"> Gebeurtenissen financieel verwerken en standen beheren </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-878880.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878880.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718832.html" target="element"> Financi&#235;n verkrijgen en beheren </a> </td>
																		<td> <a href="../elements/id-736374.html" target="element"> Financi&#235;le strategie en plannen opstellen, bewaken en rapporteren </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-878747.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-878747.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-736374.html" target="element"> Financi&#235;le strategie en plannen opstellen, bewaken en rapporteren </a> </td>
																				<td> <a href="../elements/id-736415.html" target="element"> Financi&#235;le strategie opstellen </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-878610.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-878610.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-736374.html" target="element"> Financi&#235;le strategie en plannen opstellen, bewaken en rapporteren </a> </td>
																				<td> <a href="../elements/id-736393.html" target="element"> Financi&#235;le verantwoording afleggen </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-878726.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-878726.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-736374.html" target="element"> Financi&#235;le strategie en plannen opstellen, bewaken en rapporteren </a> </td>
																				<td> <a href="../elements/id-736398.html" target="element"> Financi&#235;n plannen </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-878515.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-878515.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-736374.html" target="element"> Financi&#235;le strategie en plannen opstellen, bewaken en rapporteren </a> </td>
																				<td> <a href="../elements/id-736383.html" target="element"> Financi&#235;le informatie verstrekken en adviseren </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/id-551c57a280db48fcb570e8d543652e7c.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-551c57a280db48fcb570e8d543652e7c.html" target="element" class="i18n-elementtype-AccessRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-736415.html" target="element"> Financi&#235;le strategie opstellen </a> </td>
																						<td> <a href="../elements/id-736035.html" target="element"> Financi&#235;le strategie </a> </td>
																					</tr>

															
																					<tr>
																						<td> <a href="../elements/id-f127f6385c684a0ba303b26a7508eb66.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-f127f6385c684a0ba303b26a7508eb66.html" target="element" class="i18n-elementtype-AccessRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-736398.html" target="element"> Financi&#235;n plannen </a> </td>
																						<td> <a href="../elements/id-736037.html" target="element"> Financieel plan </a> </td>
																					</tr>

															
																					<tr>
																						<td> <a href="../elements/id-80b10f0ef7b942cab0c011c6b9043365.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-80b10f0ef7b942cab0c011c6b9043365.html" target="element" class="i18n-elementtype-AccessRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-736393.html" target="element"> Financi&#235;le verantwoording afleggen </a> </td>
																						<td> <a href="../elements/id-736033.html" target="element"> Financieel verslag </a> </td>
																					</tr>

															
													
																			<tr>
																				<td> <a href="../elements/id-878817.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-878817.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-718828.html" target="element"> Vermogen en liquiditeiten verkrijgen en beheren </a> </td>
																				<td> <a href="../elements/id-736439.html" target="element"> Vermogen verkrijgen </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-878760.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-878760.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-718828.html" target="element"> Vermogen en liquiditeiten verkrijgen en beheren </a> </td>
																				<td> <a href="../elements/id-736426.html" target="element"> Betalingen verrichten </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-878776.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-878776.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-718828.html" target="element"> Vermogen en liquiditeiten verkrijgen en beheren </a> </td>
																				<td> <a href="../elements/id-736423.html" target="element"> Activa waarderen </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-878346.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-878346.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-718828.html" target="element"> Vermogen en liquiditeiten verkrijgen en beheren </a> </td>
																				<td> <a href="../elements/id-736403.html" target="element"> Liquide middelen beheren </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/id-77018bbff10949da88f17270d39f034e.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-77018bbff10949da88f17270d39f034e.html" target="element" class="i18n-elementtype-AccessRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-736439.html" target="element"> Vermogen verkrijgen </a> </td>
																						<td> <a href="../elements/id-736025.html" target="element"> Financiering </a> </td>
																					</tr>

															
																					<tr>
																						<td> <a href="../elements/id-53c6aad937774e5fb1bea9ab2351eb7f.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-53c6aad937774e5fb1bea9ab2351eb7f.html" target="element" class="i18n-elementtype-AccessRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-736423.html" target="element"> Activa waarderen </a> </td>
																						<td> <a href="../elements/id-736027.html" target="element"> Waardering </a> </td>
																					</tr>

															
																					<tr>
																						<td> <a href="../elements/id-5ba2196468184fdaa737ee1247eb62e0.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-5ba2196468184fdaa737ee1247eb62e0.html" target="element" class="i18n-elementtype-AccessRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-736403.html" target="element"> Liquide middelen beheren </a> </td>
																						<td> <a href="../elements/id-736023.html" target="element"> Liquide middel </a> </td>
																					</tr>

															
																					<tr>
																						<td> <a href="../elements/id-b8dcf8d046be47208f8cb611b4abd582.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-b8dcf8d046be47208f8cb611b4abd582.html" target="element" class="i18n-elementtype-AccessRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-736426.html" target="element"> Betalingen verrichten </a> </td>
																						<td> <a href="../elements/id-736029.html" target="element"> Betalingsopdracht </a> </td>
																					</tr>

															
													
																			<tr>
																				<td> <a href="../elements/id-878561.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-878561.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-736411.html" target="element"> Gebeurtenissen financieel verwerken en standen beheren </a> </td>
																				<td> <a href="../elements/id-736421.html" target="element"> Financi&#235;le beheersmaatregelen uitvoeren </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-878525.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-878525.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-736411.html" target="element"> Gebeurtenissen financieel verwerken en standen beheren </a> </td>
																				<td> <a href="../elements/id-736407.html" target="element"> Gebeurtenissen financieel verwerken </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-878667.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-878667.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-736411.html" target="element"> Gebeurtenissen financieel verwerken en standen beheren </a> </td>
																				<td> <a href="../elements/id-736432.html" target="element"> Financi&#235;le standen beheren </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/id-566040e04a194c8bbd11d0b0f0b1533c.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-566040e04a194c8bbd11d0b0f0b1533c.html" target="element" class="i18n-elementtype-AccessRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-736407.html" target="element"> Gebeurtenissen financieel verwerken </a> </td>
																						<td> <a href="../elements/id-736017.html" target="element"> Financieel feit </a> </td>
																					</tr>

															
																					<tr>
																						<td> <a href="../elements/id-99f7320a0a0840eebe9fa99218f43aa6.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-99f7320a0a0840eebe9fa99218f43aa6.html" target="element" class="i18n-elementtype-AccessRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-736432.html" target="element"> Financi&#235;le standen beheren </a> </td>
																						<td> <a href="../elements/id-736015.html" target="element"> Financi&#235;le stand </a> </td>
																					</tr>

															
																					<tr>
																						<td> <a href="../elements/id-223eb16d03a048a38bf5b7ed2b009542.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-223eb16d03a048a38bf5b7ed2b009542.html" target="element" class="i18n-elementtype-AccessRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-736421.html" target="element"> Financi&#235;le beheersmaatregelen uitvoeren </a> </td>
																						<td> <a href="../elements/id-736019.html" target="element"> Financi&#235;le beheersmaatregel </a> </td>
																					</tr>

															
													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>