<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>GXF Realization</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>GXF Realization</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-b0da71b1232b4e8d92cb8dd892c691fe.png" alt="GXF Realization" usemap="#id-b0da71b1232b4e8d92cb8dd892c691femap"/>
			   <map name="id-b0da71b1232b4e8d92cb8dd892c691femap">
				  		<area shape="rect" coords="890,820,1046,875" href="../elements/id-a520fd3f04284cc7a5c776a83af4020d.html"  target="element">
				  		<area shape="rect" coords="890,934,1046,983" href="../elements/id-8b78ed2211464e4cba8acd3f7265f37e.html"  target="element">
				  		<area shape="rect" coords="198,598,274,653" href="../elements/id-fb3f9f22548142929a4e255cd8f8dbb3.html"  target="element">
				  		<area shape="rect" coords="802,1006,960,1061" href="../elements/id-d685d7252395426f98f2e5e6ff63cc5d.html"  target="element">
				  		<area shape="rect" coords="723,862,843,947" href="../elements/id-ad35c321a8704123879535f2473f2115.html"  target="element">
				  		<area shape="rect" coords="646,1006,766,1061" href="../elements/id-c1d39190f5764ed189e1461c9a9b40b0.html"  target="element">
				  		<area shape="rect" coords="706,766,874,821" href="../elements/id-14ea8ca7aa13463da5ae61e6b229081d.html"  target="element">
				  		<area shape="rect" coords="706,1078,874,1133" href="../elements/id-09df31e95b504e3a8613aa59b4e96e62.html"  target="element">
				  		<area shape="rect" coords="34,394,196,449" href="../elements/id-a7f83ec2886a46cf986d365f4ff1d00f.html"  target="element">
				  		<area shape="rect" coords="37,466,193,538" href="../elements/id-7a87a809e1f4453f84a1ec6d2db2ff5c.html"  target="element">
				  		<area shape="rect" coords="463,382,599,437" href="../elements/id-751bb6e70c6e4b7dad97b1f7e5579aaf.html"  target="element">
				  		<area shape="rect" coords="838,246,972,307" href="../elements/id-b34b0b75ba604a6282ae3d0e3c100dc6.html"  target="element">
				  		<area shape="rect" coords="34,325,196,380" href="../elements/id-c25d8d2bedb744fd83db6ec49af59835.html"  target="element">
				  		<area shape="rect" coords="454,190,592,250" href="../elements/id-542857b6398049438585decd0a889c32.html"  target="element">
				  		<area shape="rect" coords="31,252,199,307" href="../elements/id-c8793ac0f43f4ab98fe4b866ea870e1b.html"  target="element">
				  		<area shape="rect" coords="28,187,184,239" href="../elements/id-e6693f5d2d5d4092849d517c7dde95ad.html"  target="element">
				  		<area shape="rect" coords="454,273,592,355" href="../elements/id-ddeea64600784e228a4bcf6116a9031d.html"  target="element">
				  		<area shape="rect" coords="838,319,972,380" href="../elements/id-6a99f3d94a8e446a9c17c6af499a02b2.html"  target="element">
				  		<area shape="rect" coords="10,598,130,653" href="../elements/id-d8fa83592f3b4cf19ca778f9b17b8299.html"  target="element">
				  		<area shape="rect" coords="646,289,803,344" href="../elements/id-8740ec0c06b84cc79eaa822eb71f2092.html"  target="element">
				  		<area shape="rect" coords="250,286,411,341" href="../elements/id-6770673115b94332b32617f34fe7da7d.html"  target="element">
				  		<area shape="rect" coords="890,883,1047,920" href="../elements/id-393b7df157b24ef09de96a6a3405a256.html"  target="element">
				  		<area shape="rect" coords="450,10,595,98" href="../elements/id-d0b5fab5a157483f9a4434a9cff16db5.html"  target="element">
				  				<area shape="rect" coords="34,130,190,178" href="../elements/id-6c7afc202e5d4a59ad3b3506bef64da2.html"  target="element">

				  		<area shape="rect" coords="10,82,215,551" href="../elements/id-ce412450acab4a6581526e3c26b35994.html"  target="element">
				  				<area shape="rect" coords="574,863,683,947" href="../elements/id-105d3424aef34f3a8dd725e51bb85e49.html"  target="element">
				  				<area shape="rect" coords="404,790,653,851" href="../elements/id-38a9bc6a3bfd409baeb7ea5b3440634c.html"  target="element">
				  				<area shape="rect" coords="404,874,539,935" href="../elements/id-313604566ec741d6b1082aa9f38cd947.html"  target="element">
				  						<area shape="rect" coords="428,622,632,671" href="../elements/id-273a4450ea5c4ab6a5df9f3442dc79a5.html"  target="element">

				  				<area shape="rect" coords="392,586,645,683" href="../elements/id-c6d0aa7eab854ebdaebf887cdeb8e5a9.html"  target="element">
				  				<area shape="rect" coords="392,706,645,767" href="../elements/id-6c7129cda02249f991bcafb8a829f33b.html"  target="element">

				  		<area shape="rect" coords="358,550,695,959" href="../elements/id-2fec541ea7554652b606be3ca13f80e6.html"  target="element">
				  		<area shape="rect" coords="438,154,622,448" href="../elements/id-12754f0453e2464088d7926645da5813.html"  target="element">
				  		<area shape="rect" coords="826,214,982,394" href="../elements/id-3504fd5ef4624a5d969b3a594af16beb.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">This is the project achitecture view of Grid eXchange Fabric (GXF) project.  GXF is a software platform that enables hardware monitoring and control in the public space. GXF provides several functions out of the box and provides scalability &amp; high availability, high security, a generic design, and no vendor lock-in. GXF is currently deployed in several public use cases, including microgrids, smart metering, public lighting, and distribution automation. For more information on GXF, check out the project's page:  https://lfenergy.org/projects/gxf/ </div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-3504fd5ef4624a5d969b3a594af16beb.html" target="element"> GXF Web Services </a> </td>
											    <td> <a href="../elements/id-3504fd5ef4624a5d969b3a594af16beb.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-12754f0453e2464088d7926645da5813.html" target="element"> GXF Web Services </a> </td>
											    <td> <a href="../elements/id-12754f0453e2464088d7926645da5813.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2fec541ea7554652b606be3ca13f80e6.html" target="element"> GXF </a> </td>
											    <td> <a href="../elements/id-2fec541ea7554652b606be3ca13f80e6.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-6c7129cda02249f991bcafb8a829f33b.html" target="element"> Domain Component </a> </td>
													    <td> <a href="../elements/id-6c7129cda02249f991bcafb8a829f33b.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c6d0aa7eab854ebdaebf887cdeb8e5a9.html" target="element"> Web Services Component </a> </td>
													    <td> <a href="../elements/id-c6d0aa7eab854ebdaebf887cdeb8e5a9.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-273a4450ea5c4ab6a5df9f3442dc79a5.html" target="element"> SOAP interfaces </a> </td>
															    <td> <a href="../elements/id-273a4450ea5c4ab6a5df9f3442dc79a5.html" target="element" class="i18n-elementtype-ApplicationComponent">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-313604566ec741d6b1082aa9f38cd947.html" target="element"> Protocol Layer Component </a> </td>
													    <td> <a href="../elements/id-313604566ec741d6b1082aa9f38cd947.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-38a9bc6a3bfd409baeb7ea5b3440634c.html" target="element"> Core Services Component </a> </td>
													    <td> <a href="../elements/id-38a9bc6a3bfd409baeb7ea5b3440634c.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-105d3424aef34f3a8dd725e51bb85e49.html" target="element"> Protocol adapaters </a> </td>
													    <td> <a href="../elements/id-105d3424aef34f3a8dd725e51bb85e49.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-ce412450acab4a6581526e3c26b35994.html" target="element"> GXF Web services </a> </td>
											    <td> <a href="../elements/id-ce412450acab4a6581526e3c26b35994.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-6c7afc202e5d4a59ad3b3506bef64da2.html" target="element"> Scheduler </a> </td>
													    <td> <a href="../elements/id-6c7afc202e5d4a59ad3b3506bef64da2.html" target="element" class="i18n-elementtype-ApplicationFunction">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-d0b5fab5a157483f9a4434a9cff16db5.html" target="element"> Smart Device Monitoring and Control  </a> </td>
											    <td> <a href="../elements/id-d0b5fab5a157483f9a4434a9cff16db5.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-393b7df157b24ef09de96a6a3405a256.html" target="element"> OSLP </a> </td>
											    <td> <a href="../elements/id-393b7df157b24ef09de96a6a3405a256.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6770673115b94332b32617f34fe7da7d.html" target="element"> Smart Device Control </a> </td>
											    <td> <a href="../elements/id-6770673115b94332b32617f34fe7da7d.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8740ec0c06b84cc79eaa822eb71f2092.html" target="element"> Smart Device Monitoring </a> </td>
											    <td> <a href="../elements/id-8740ec0c06b84cc79eaa822eb71f2092.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d8fa83592f3b4cf19ca778f9b17b8299.html" target="element"> Kafka interface (interfacec) </a> </td>
											    <td> <a href="../elements/id-d8fa83592f3b4cf19ca778f9b17b8299.html" target="element" class="i18n-elementtype-TechnologyCollaboration">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6a99f3d94a8e446a9c17c6af499a02b2.html" target="element"> Device management </a> </td>
											    <td> <a href="../elements/id-6a99f3d94a8e446a9c17c6af499a02b2.html" target="element" class="i18n-elementtype-ApplicationFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ddeea64600784e228a4bcf6116a9031d.html" target="element"> Domian specific functions </a> </td>
											    <td> <a href="../elements/id-ddeea64600784e228a4bcf6116a9031d.html" target="element" class="i18n-elementtype-ApplicationFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e6693f5d2d5d4092849d517c7dde95ad.html" target="element"> Time synchronization </a> </td>
											    <td> <a href="../elements/id-e6693f5d2d5d4092849d517c7dde95ad.html" target="element" class="i18n-elementtype-ApplicationFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c8793ac0f43f4ab98fe4b866ea870e1b.html" target="element"> Device installation services </a> </td>
											    <td> <a href="../elements/id-c8793ac0f43f4ab98fe4b866ea870e1b.html" target="element" class="i18n-elementtype-ApplicationFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-542857b6398049438585decd0a889c32.html" target="element"> Firmware management </a> </td>
											    <td> <a href="../elements/id-542857b6398049438585decd0a889c32.html" target="element" class="i18n-elementtype-ApplicationFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c25d8d2bedb744fd83db6ec49af59835.html" target="element"> Workflow Engine </a> </td>
											    <td> <a href="../elements/id-c25d8d2bedb744fd83db6ec49af59835.html" target="element" class="i18n-elementtype-ApplicationFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b34b0b75ba604a6282ae3d0e3c100dc6.html" target="element"> Device Status Monitoring </a> </td>
											    <td> <a href="../elements/id-b34b0b75ba604a6282ae3d0e3c100dc6.html" target="element" class="i18n-elementtype-ApplicationFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-751bb6e70c6e4b7dad97b1f7e5579aaf.html" target="element"> Configuration Management </a> </td>
											    <td> <a href="../elements/id-751bb6e70c6e4b7dad97b1f7e5579aaf.html" target="element" class="i18n-elementtype-ApplicationFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7a87a809e1f4453f84a1ec6d2db2ff5c.html" target="element"> Routing of device commands </a> </td>
											    <td> <a href="../elements/id-7a87a809e1f4453f84a1ec6d2db2ff5c.html" target="element" class="i18n-elementtype-ApplicationFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a7f83ec2886a46cf986d365f4ff1d00f.html" target="element"> Protocol conversion </a> </td>
											    <td> <a href="../elements/id-a7f83ec2886a46cf986d365f4ff1d00f.html" target="element" class="i18n-elementtype-ApplicationFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-09df31e95b504e3a8613aa59b4e96e62.html" target="element"> IEC 60870-5-104 </a> </td>
											    <td> <a href="../elements/id-09df31e95b504e3a8613aa59b4e96e62.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-14ea8ca7aa13463da5ae61e6b229081d.html" target="element"> IEC 61850-8-1 (MMS) </a> </td>
											    <td> <a href="../elements/id-14ea8ca7aa13463da5ae61e6b229081d.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c1d39190f5764ed189e1461c9a9b40b0.html" target="element"> Smart Device  </a> </td>
											    <td> <a href="../elements/id-c1d39190f5764ed189e1461c9a9b40b0.html" target="element" class="i18n-elementtype-TechnologyCollaboration">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ad35c321a8704123879535f2473f2115.html" target="element"> Edge process data </a> </td>
											    <td> <a href="../elements/id-ad35c321a8704123879535f2473f2115.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d685d7252395426f98f2e5e6ff63cc5d.html" target="element"> FledgePower </a> </td>
											    <td> <a href="../elements/id-d685d7252395426f98f2e5e6ff63cc5d.html" target="element" class="i18n-elementtype-TechnologyCollaboration">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fb3f9f22548142929a4e255cd8f8dbb3.html" target="element"> Data </a> </td>
											    <td> <a href="../elements/id-fb3f9f22548142929a4e255cd8f8dbb3.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8b78ed2211464e4cba8acd3f7265f37e.html" target="element"> IEC 20922 (MQTT) </a> </td>
											    <td> <a href="../elements/id-8b78ed2211464e4cba8acd3f7265f37e.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a520fd3f04284cc7a5c776a83af4020d.html" target="element"> IEC 62056 (DLSM/COSEM) </a> </td>
											    <td> <a href="../elements/id-a520fd3f04284cc7a5c776a83af4020d.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-47dfeb9bca2f460ab6f1bdb21206ab8c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-47dfeb9bca2f460ab6f1bdb21206ab8c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2fec541ea7554652b606be3ca13f80e6.html" target="element"> GXF </a> </td>
																		<td> <a href="../elements/id-6c7129cda02249f991bcafb8a829f33b.html" target="element"> Domain Component </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d9fe596641934fa28f5b23b26cd1b798.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d9fe596641934fa28f5b23b26cd1b798.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2fec541ea7554652b606be3ca13f80e6.html" target="element"> GXF </a> </td>
																		<td> <a href="../elements/id-c6d0aa7eab854ebdaebf887cdeb8e5a9.html" target="element"> Web Services Component </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0b6ef292a165463d9d1333bc6bc8e2dd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0b6ef292a165463d9d1333bc6bc8e2dd.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2fec541ea7554652b606be3ca13f80e6.html" target="element"> GXF </a> </td>
																		<td> <a href="../elements/id-313604566ec741d6b1082aa9f38cd947.html" target="element"> Protocol Layer Component </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-611f322393e04835bcf21e4b20d09bd8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-611f322393e04835bcf21e4b20d09bd8.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2fec541ea7554652b606be3ca13f80e6.html" target="element"> GXF </a> </td>
																		<td> <a href="../elements/id-38a9bc6a3bfd409baeb7ea5b3440634c.html" target="element"> Core Services Component </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-440a0e03558e4def8daf17390a894076.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-440a0e03558e4def8daf17390a894076.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2fec541ea7554652b606be3ca13f80e6.html" target="element"> GXF </a> </td>
																		<td> <a href="../elements/id-105d3424aef34f3a8dd725e51bb85e49.html" target="element"> Protocol adapaters </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-faa69103eda04407b793b5032f67d9cc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-faa69103eda04407b793b5032f67d9cc.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2fec541ea7554652b606be3ca13f80e6.html" target="element"> GXF </a> </td>
																		<td> <a href="../elements/id-ce412450acab4a6581526e3c26b35994.html" target="element"> GXF Web services </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b25d21d7165847f78578be75e8970ba6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b25d21d7165847f78578be75e8970ba6.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2fec541ea7554652b606be3ca13f80e6.html" target="element"> GXF </a> </td>
																		<td> <a href="../elements/id-12754f0453e2464088d7926645da5813.html" target="element"> GXF Web Services </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9301b71e8e16423fb86533d81c7bfda8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9301b71e8e16423fb86533d81c7bfda8.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2fec541ea7554652b606be3ca13f80e6.html" target="element"> GXF </a> </td>
																		<td> <a href="../elements/id-3504fd5ef4624a5d969b3a594af16beb.html" target="element"> GXF Web Services </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-1615831fc3014c7aa052403afff03548.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-1615831fc3014c7aa052403afff03548.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-6c7129cda02249f991bcafb8a829f33b.html" target="element"> Domain Component </a> </td>
																				<td> <a href="../elements/id-c6d0aa7eab854ebdaebf887cdeb8e5a9.html" target="element"> Web Services Component </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-18e9385a323e4657b4875c20fd0ab038.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-18e9385a323e4657b4875c20fd0ab038.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-c6d0aa7eab854ebdaebf887cdeb8e5a9.html" target="element"> Web Services Component </a> </td>
																				<td> <a href="../elements/id-273a4450ea5c4ab6a5df9f3442dc79a5.html" target="element"> SOAP interfaces </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-066eddcb67c141a38ecb2ea857fbf7f6.html" target="element"> write </a> </td>
																				<td> <a href="../elements/id-066eddcb67c141a38ecb2ea857fbf7f6.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-c6d0aa7eab854ebdaebf887cdeb8e5a9.html" target="element"> Web Services Component </a> </td>
																				<td> <a href="../elements/id-fb3f9f22548142929a4e255cd8f8dbb3.html" target="element"> Data </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-8f9a62777c8142ba9b8aa4569676f008.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-8f9a62777c8142ba9b8aa4569676f008.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-313604566ec741d6b1082aa9f38cd947.html" target="element"> Protocol Layer Component </a> </td>
																				<td> <a href="../elements/id-38a9bc6a3bfd409baeb7ea5b3440634c.html" target="element"> Core Services Component </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-b75bd781371644789bb224f51300d13d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-b75bd781371644789bb224f51300d13d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-313604566ec741d6b1082aa9f38cd947.html" target="element"> Protocol Layer Component </a> </td>
																				<td> <a href="../elements/id-105d3424aef34f3a8dd725e51bb85e49.html" target="element"> Protocol adapaters </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-6ff15b7545534ddfbc7c55b30eab3d75.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-6ff15b7545534ddfbc7c55b30eab3d75.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-38a9bc6a3bfd409baeb7ea5b3440634c.html" target="element"> Core Services Component </a> </td>
																				<td> <a href="../elements/id-6c7129cda02249f991bcafb8a829f33b.html" target="element"> Domain Component </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-2b40aa4a016e47ba9327df3d4cd8951a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-2b40aa4a016e47ba9327df3d4cd8951a.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-105d3424aef34f3a8dd725e51bb85e49.html" target="element"> Protocol adapaters </a> </td>
																				<td> <a href="../elements/id-ad35c321a8704123879535f2473f2115.html" target="element"> Edge process data </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-3d53e9cd96314e19ad1c97ba68d457c9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3d53e9cd96314e19ad1c97ba68d457c9.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ce412450acab4a6581526e3c26b35994.html" target="element"> GXF Web services </a> </td>
																		<td> <a href="../elements/id-6c7afc202e5d4a59ad3b3506bef64da2.html" target="element"> Scheduler </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-a8f219d9f7bb40e7b3cf9912cafe5b7d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a8f219d9f7bb40e7b3cf9912cafe5b7d.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-6c7afc202e5d4a59ad3b3506bef64da2.html" target="element"> Scheduler </a> </td>
																				<td> <a href="../elements/id-6770673115b94332b32617f34fe7da7d.html" target="element"> Smart Device Control </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-3fb326f44bd047edb499fe7246946c4c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3fb326f44bd047edb499fe7246946c4c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d0b5fab5a157483f9a4434a9cff16db5.html" target="element"> Smart Device Monitoring and Control  </a> </td>
																		<td> <a href="../elements/id-6770673115b94332b32617f34fe7da7d.html" target="element"> Smart Device Control </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c6c0de6b1e444f40b494ba5cb092ffcc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c6c0de6b1e444f40b494ba5cb092ffcc.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d0b5fab5a157483f9a4434a9cff16db5.html" target="element"> Smart Device Monitoring and Control  </a> </td>
																		<td> <a href="../elements/id-8740ec0c06b84cc79eaa822eb71f2092.html" target="element"> Smart Device Monitoring </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-83976cf0e69540b1a12d4927a398c716.html" target="element"> read </a> </td>
																		<td> <a href="../elements/id-83976cf0e69540b1a12d4927a398c716.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d8fa83592f3b4cf19ca778f9b17b8299.html" target="element"> Kafka interface (interfacec) </a> </td>
																		<td> <a href="../elements/id-fb3f9f22548142929a4e255cd8f8dbb3.html" target="element"> Data </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-57959a3bfd974a3ea631fdf15ab458b0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-57959a3bfd974a3ea631fdf15ab458b0.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6a99f3d94a8e446a9c17c6af499a02b2.html" target="element"> Device management </a> </td>
																		<td> <a href="../elements/id-8740ec0c06b84cc79eaa822eb71f2092.html" target="element"> Smart Device Monitoring </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-a5cb37fb6c0547edae557adb15d66916.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a5cb37fb6c0547edae557adb15d66916.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ddeea64600784e228a4bcf6116a9031d.html" target="element"> Domian specific functions </a> </td>
																		<td> <a href="../elements/id-6770673115b94332b32617f34fe7da7d.html" target="element"> Smart Device Control </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2df4b7ff5c0b45a69c4e9e3400a83668.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2df4b7ff5c0b45a69c4e9e3400a83668.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ddeea64600784e228a4bcf6116a9031d.html" target="element"> Domian specific functions </a> </td>
																		<td> <a href="../elements/id-8740ec0c06b84cc79eaa822eb71f2092.html" target="element"> Smart Device Monitoring </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-6ff7f6d9276f4dbe845e0e0cc6e07f52.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6ff7f6d9276f4dbe845e0e0cc6e07f52.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e6693f5d2d5d4092849d517c7dde95ad.html" target="element"> Time synchronization </a> </td>
																		<td> <a href="../elements/id-6770673115b94332b32617f34fe7da7d.html" target="element"> Smart Device Control </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-20375914fbf24242a6e6ec37bf6fff03.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-20375914fbf24242a6e6ec37bf6fff03.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c8793ac0f43f4ab98fe4b866ea870e1b.html" target="element"> Device installation services </a> </td>
																		<td> <a href="../elements/id-6770673115b94332b32617f34fe7da7d.html" target="element"> Smart Device Control </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-dcaf3ac550db40968628206c90e932ef.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-dcaf3ac550db40968628206c90e932ef.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-542857b6398049438585decd0a889c32.html" target="element"> Firmware management </a> </td>
																		<td> <a href="../elements/id-6770673115b94332b32617f34fe7da7d.html" target="element"> Smart Device Control </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4696628925d24382ad16e14c5ebb486f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4696628925d24382ad16e14c5ebb486f.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-542857b6398049438585decd0a889c32.html" target="element"> Firmware management </a> </td>
																		<td> <a href="../elements/id-8740ec0c06b84cc79eaa822eb71f2092.html" target="element"> Smart Device Monitoring </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-6b05e9d310994e6ca61a83aaa2affc29.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6b05e9d310994e6ca61a83aaa2affc29.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c25d8d2bedb744fd83db6ec49af59835.html" target="element"> Workflow Engine </a> </td>
																		<td> <a href="../elements/id-6770673115b94332b32617f34fe7da7d.html" target="element"> Smart Device Control </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-0d880de0291a4ce0b7646ce29ecca4ca.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0d880de0291a4ce0b7646ce29ecca4ca.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b34b0b75ba604a6282ae3d0e3c100dc6.html" target="element"> Device Status Monitoring </a> </td>
																		<td> <a href="../elements/id-8740ec0c06b84cc79eaa822eb71f2092.html" target="element"> Smart Device Monitoring </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-0d5f308db576485b9490e0943994a552.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0d5f308db576485b9490e0943994a552.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-751bb6e70c6e4b7dad97b1f7e5579aaf.html" target="element"> Configuration Management </a> </td>
																		<td> <a href="../elements/id-6770673115b94332b32617f34fe7da7d.html" target="element"> Smart Device Control </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-deaaf3d846804b23ad4f9ff45fa62ee1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-deaaf3d846804b23ad4f9ff45fa62ee1.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-751bb6e70c6e4b7dad97b1f7e5579aaf.html" target="element"> Configuration Management </a> </td>
																		<td> <a href="../elements/id-8740ec0c06b84cc79eaa822eb71f2092.html" target="element"> Smart Device Monitoring </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-69152b41b0484f84a46b0835de961b7a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-69152b41b0484f84a46b0835de961b7a.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7a87a809e1f4453f84a1ec6d2db2ff5c.html" target="element"> Routing of device commands </a> </td>
																		<td> <a href="../elements/id-6770673115b94332b32617f34fe7da7d.html" target="element"> Smart Device Control </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-5c4774e191744f16a6ff43dfcf4742e3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5c4774e191744f16a6ff43dfcf4742e3.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a7f83ec2886a46cf986d365f4ff1d00f.html" target="element"> Protocol conversion </a> </td>
																		<td> <a href="../elements/id-6770673115b94332b32617f34fe7da7d.html" target="element"> Smart Device Control </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-792795ba7ba7458aa16ae5d7f6c2688b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-792795ba7ba7458aa16ae5d7f6c2688b.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-09df31e95b504e3a8613aa59b4e96e62.html" target="element"> IEC 60870-5-104 </a> </td>
																		<td> <a href="../elements/id-ad35c321a8704123879535f2473f2115.html" target="element"> Edge process data </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-08e16f41fec149ca83f60878da43015b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-08e16f41fec149ca83f60878da43015b.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-14ea8ca7aa13463da5ae61e6b229081d.html" target="element"> IEC 61850-8-1 (MMS) </a> </td>
																		<td> <a href="../elements/id-ad35c321a8704123879535f2473f2115.html" target="element"> Edge process data </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-cc37a834069b408d9f8b389bed98314a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cc37a834069b408d9f8b389bed98314a.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c1d39190f5764ed189e1461c9a9b40b0.html" target="element"> Smart Device  </a> </td>
																		<td> <a href="../elements/id-ad35c321a8704123879535f2473f2115.html" target="element"> Edge process data </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-1e184287cd9641db8d75692082e17c1a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1e184287cd9641db8d75692082e17c1a.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ad35c321a8704123879535f2473f2115.html" target="element"> Edge process data </a> </td>
																		<td> <a href="../elements/id-393b7df157b24ef09de96a6a3405a256.html" target="element"> OSLP </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e6c2f3e792e94fe8a2e1c3e233641328.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e6c2f3e792e94fe8a2e1c3e233641328.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ad35c321a8704123879535f2473f2115.html" target="element"> Edge process data </a> </td>
																		<td> <a href="../elements/id-8b78ed2211464e4cba8acd3f7265f37e.html" target="element"> IEC 20922 (MQTT) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e1cd1bbd8e9f4c268fcfa7754e3b8db7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e1cd1bbd8e9f4c268fcfa7754e3b8db7.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ad35c321a8704123879535f2473f2115.html" target="element"> Edge process data </a> </td>
																		<td> <a href="../elements/id-a520fd3f04284cc7a5c776a83af4020d.html" target="element"> IEC 62056 (DLSM/COSEM) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-767b65b9cea144be9550d9e10689642a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-767b65b9cea144be9550d9e10689642a.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d685d7252395426f98f2e5e6ff63cc5d.html" target="element"> FledgePower </a> </td>
																		<td> <a href="../elements/id-ad35c321a8704123879535f2473f2115.html" target="element"> Edge process data </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>