<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>L2 C objects</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>L2 C objects</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-bd5d1aa61695438caa3b9c4a9d449a9c.png" alt="L2 C objects" usemap="#id-bd5d1aa61695438caa3b9c4a9d449a9cmap"/>
			   <map name="id-bd5d1aa61695438caa3b9c4a9d449a9cmap">
				          <area shape="rect" coords="10,358,239,407" href="../objects/id-8a124ee526aa445da5fa6df813de8668.html" target="element" >
				  				<area shape="rect" coords="406,190,563,251" href="../elements/id-729580.html"  target="element">
				  				<area shape="rect" coords="406,118,563,179" href="../elements/id-729585.html"  target="element">
				  				<area shape="rect" coords="406,46,563,107" href="../elements/id-729592.html"  target="element">

				  		<area shape="rect" coords="394,10,574,335" href="../elements/id-729578.html"  target="element">
				  				<area shape="rect" coords="790,262,947,323" href="../elements/id-729611.html"  target="element">
				  				<area shape="rect" coords="790,190,947,251" href="../elements/id-729622.html"  target="element">
				  				<area shape="rect" coords="790,118,947,179" href="../elements/id-729629.html"  target="element">
				  				<area shape="rect" coords="790,46,947,107" href="../elements/id-729618.html"  target="element">

				  		<area shape="rect" coords="778,10,958,335" href="../elements/id-729609.html"  target="element">
				  				<area shape="rect" coords="214,190,371,251" href="../elements/id-729570.html"  target="element">
				  				<area shape="rect" coords="214,118,371,179" href="../elements/id-729560.html"  target="element">
				  				<area shape="rect" coords="214,46,371,107" href="../elements/id-729563.html"  target="element">

				  		<area shape="rect" coords="202,10,382,335" href="../elements/id-729558.html"  target="element">
				  				<area shape="rect" coords="598,46,755,107" href="../elements/id-729661.html"  target="element">

				  		<area shape="rect" coords="586,10,766,335" href="../elements/id-729659.html"  target="element">
				  				<area shape="rect" coords="982,262,1139,322" href="../elements/id-729673.html"  target="element">
				  				<area shape="rect" coords="982,190,1139,251" href="../elements/id-729676.html"  target="element">
				  				<area shape="rect" coords="982,118,1139,179" href="../elements/id-729684.html"  target="element">
				  				<area shape="rect" coords="982,46,1139,107" href="../elements/id-729667.html"  target="element">

				  		<area shape="rect" coords="970,10,1150,335" href="../elements/id-729665.html"  target="element">
				  				<area shape="rect" coords="22,262,179,323" href="../elements/id-729651.html"  target="element">
				  				<area shape="rect" coords="22,190,179,251" href="../elements/id-729643.html"  target="element">
				  				<area shape="rect" coords="22,46,179,107" href="../elements/id-729634.html"  target="element">
				  				<area shape="rect" coords="22,118,179,179" href="../elements/id-729646.html"  target="element">

				  		<area shape="rect" coords="10,10,190,335" href="../elements/id-729632.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">SPDX-FileCopyrightText: 2017-2022 Contributors to the NBility project

SPDX-License-Identifier: CC-BY-4.0

Source: https://github.com/NBility-Model</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-729632.html" target="element"> Klant </a> </td>
											    <td> <a href="../elements/id-729632.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-729646.html" target="element"> Klantovereenkomst </a> </td>
													    <td> <a href="../elements/id-729646.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-729634.html" target="element"> Klant </a> </td>
													    <td> <a href="../elements/id-729634.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-729643.html" target="element"> Klantfactuur </a> </td>
													    <td> <a href="../elements/id-729643.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-729651.html" target="element"> Inkomstenverlies </a> </td>
													    <td> <a href="../elements/id-729651.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-729665.html" target="element"> Energiemarkt </a> </td>
											    <td> <a href="../elements/id-729665.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-729667.html" target="element"> Marktpartij </a> </td>
													    <td> <a href="../elements/id-729667.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-729684.html" target="element"> Aansluiting </a> </td>
													    <td> <a href="../elements/id-729684.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-729676.html" target="element"> Marktproces </a> </td>
													    <td> <a href="../elements/id-729676.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-729673.html" target="element"> Marktdataverstrekking </a> </td>
													    <td> <a href="../elements/id-729673.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-729659.html" target="element"> Meting </a> </td>
											    <td> <a href="../elements/id-729659.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-729661.html" target="element"> Meting </a> </td>
													    <td> <a href="../elements/id-729661.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-729558.html" target="element"> Energietransport </a> </td>
											    <td> <a href="../elements/id-729558.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-729563.html" target="element"> Energietransport </a> </td>
													    <td> <a href="../elements/id-729563.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-729560.html" target="element"> Storing </a> </td>
													    <td> <a href="../elements/id-729560.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-729570.html" target="element"> Transportplanning </a> </td>
													    <td> <a href="../elements/id-729570.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-729609.html" target="element"> Werk </a> </td>
											    <td> <a href="../elements/id-729609.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-729618.html" target="element"> Werkportfolio </a> </td>
													    <td> <a href="../elements/id-729618.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-729629.html" target="element"> Werkopdracht </a> </td>
													    <td> <a href="../elements/id-729629.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-729622.html" target="element"> Werkactiviteit </a> </td>
													    <td> <a href="../elements/id-729622.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-729611.html" target="element"> Werkmiddel </a> </td>
													    <td> <a href="../elements/id-729611.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-729578.html" target="element"> Energienet </a> </td>
											    <td> <a href="../elements/id-729578.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-729592.html" target="element"> Energienet </a> </td>
													    <td> <a href="../elements/id-729592.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-729585.html" target="element"> Netkwaliteit </a> </td>
													    <td> <a href="../elements/id-729585.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-729580.html" target="element"> Netstrategie </a> </td>
													    <td> <a href="../elements/id-729580.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-8a124ee526aa445da5fa6df813de8668.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-8a124ee526aa445da5fa6df813de8668.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-872608.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-872608.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-729632.html" target="element"> Klant </a> </td>
																		<td> <a href="../elements/id-729643.html" target="element"> Klantfactuur </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-872512.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-872512.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-729632.html" target="element"> Klant </a> </td>
																		<td> <a href="../elements/id-729634.html" target="element"> Klant </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-872480.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-872480.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-729632.html" target="element"> Klant </a> </td>
																		<td> <a href="../elements/id-729646.html" target="element"> Klantovereenkomst </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-872626.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-872626.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-729632.html" target="element"> Klant </a> </td>
																		<td> <a href="../elements/id-729651.html" target="element"> Inkomstenverlies </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-872534.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-872534.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-729665.html" target="element"> Energiemarkt </a> </td>
																		<td> <a href="../elements/id-729673.html" target="element"> Marktdataverstrekking </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-872509.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-872509.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-729665.html" target="element"> Energiemarkt </a> </td>
																		<td> <a href="../elements/id-729684.html" target="element"> Aansluiting </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-872374.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-872374.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-729665.html" target="element"> Energiemarkt </a> </td>
																		<td> <a href="../elements/id-729667.html" target="element"> Marktpartij </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-872522.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-872522.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-729665.html" target="element"> Energiemarkt </a> </td>
																		<td> <a href="../elements/id-729676.html" target="element"> Marktproces </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-872398.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-872398.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-729659.html" target="element"> Meting </a> </td>
																		<td> <a href="../elements/id-729661.html" target="element"> Meting </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-872405.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-872405.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-729558.html" target="element"> Energietransport </a> </td>
																		<td> <a href="../elements/id-729570.html" target="element"> Transportplanning </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-872421.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-872421.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-729558.html" target="element"> Energietransport </a> </td>
																		<td> <a href="../elements/id-729560.html" target="element"> Storing </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-872558.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-872558.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-729558.html" target="element"> Energietransport </a> </td>
																		<td> <a href="../elements/id-729563.html" target="element"> Energietransport </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-872571.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-872571.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-729609.html" target="element"> Werk </a> </td>
																		<td> <a href="../elements/id-729611.html" target="element"> Werkmiddel </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-872544.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-872544.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-729609.html" target="element"> Werk </a> </td>
																		<td> <a href="../elements/id-729629.html" target="element"> Werkopdracht </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-872384.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-872384.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-729609.html" target="element"> Werk </a> </td>
																		<td> <a href="../elements/id-729622.html" target="element"> Werkactiviteit </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-872380.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-872380.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-729609.html" target="element"> Werk </a> </td>
																		<td> <a href="../elements/id-729618.html" target="element"> Werkportfolio </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-872625.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-872625.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-729578.html" target="element"> Energienet </a> </td>
																		<td> <a href="../elements/id-729585.html" target="element"> Netkwaliteit </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-872488.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-872488.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-729578.html" target="element"> Energienet </a> </td>
																		<td> <a href="../elements/id-729580.html" target="element"> Netstrategie </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-872507.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-872507.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-729578.html" target="element"> Energienet </a> </td>
																		<td> <a href="../elements/id-729592.html" target="element"> Energienet </a> </td>
																	</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>