<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>FledgePower Realization</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>FledgePower Realization</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-beb4369d64434d59955c0bfd6b136739.png" alt="FledgePower Realization" usemap="#id-beb4369d64434d59955c0bfd6b136739map"/>
			   <map name="id-beb4369d64434d59955c0bfd6b136739map">
				  		<area shape="rect" coords="1390,778,1510,833" href="../elements/id-bb1bab2c3a7149368d5c9f212ebc2d45.html"  target="element">
				  		<area shape="rect" coords="1174,922,1294,977" href="../elements/id-b8356db96a68414a942c2272b70f107b.html"  target="element">
				  				<area shape="rect" coords="645,430,765,485" href="../elements/id-df66bda9ca2c4514b86f4ea0f32f4b05.html"  target="element">
				  				<area shape="rect" coords="1174,430,1294,485" href="../elements/id-7e332fd8a3c743bbad6eb24b67feafc0.html"  target="element">
				  				<area shape="rect" coords="514,430,634,485" href="../elements/id-d22eea81098542caa46328bbcdea9179.html"  target="element">

				  		<area shape="rect" coords="465,406,1341,514" href="../elements/id-89244b32381b4384bc3292a7cc1a7fce.html"  target="element">
				  		<area shape="rect" coords="994,922,1114,977" href="../elements/id-082c6937f5694ff284916729ea60baf2.html"  target="element">
				  		<area shape="rect" coords="622,538,742,593" href="../elements/id-64672f026bbe4eadbd6427813dda3635.html"  target="element">
				  		<area shape="rect" coords="862,922,982,977" href="../elements/id-ea5b395923824b04b715f2fb587c4a2e.html"  target="element">
				  		<area shape="rect" coords="730,922,850,977" href="../elements/id-a5e6fe0142f4440d80e7d98120848270.html"  target="element">
				  		<area shape="rect" coords="598,922,718,977" href="../elements/id-b2d25ef8e46b4b2c873b3448b26aca24.html"  target="element">
				  		<area shape="rect" coords="766,82,910,137" href="../elements/id-d6a4663d30c14a34b0243f350f803117.html"  target="element">
				  		<area shape="rect" coords="766,226,910,281" href="../elements/id-41b1b6a0ac01458f8da0d4edcecfc999.html"  target="element">
				  				<area shape="rect" coords="322,692,442,747" href="../elements/id-d807e467e3c1431eb27c3c8a41debd9c.html"  target="element">

				  		<area shape="rect" coords="298,656,466,788" href="../elements/id-812138725a5b4c3491974837377d0da3.html"  target="element">
				  		<area shape="rect" coords="22,922,142,977" href="../elements/id-93c724927bfd4b66b62e5a9c3584f1d3.html"  target="element">
				  		<area shape="rect" coords="10,610,130,665" href="../elements/id-5ce54fe18b8145dcafe9b15c8215e9e8.html"  target="element">
				  		<area shape="rect" coords="10,694,130,749" href="../elements/id-0068599de4664df6b679126e34dc9a06.html"  target="element">
				  		<area shape="rect" coords="154,280,358,356" href="../elements/id-98b4e17c0e8b4a2bbff1c8390ecc7de9.html"  target="element">
				  		<area shape="rect" coords="166,694,286,749" href="../elements/id-e7509dc99d3d43dcb2a59fb6d00103ee.html"  target="element">
				  		<area shape="rect" coords="972,610,1092,665" href="../elements/id-14ea8ca7aa13463da5ae61e6b229081d.html"  target="element">
				  		<area shape="rect" coords="695,610,815,665" href="../elements/id-2c120e00072e478491973795cfa44180.html"  target="element">
				  		<area shape="rect" coords="767,538,887,593" href="../elements/id-5bf408e90e7148f6baebee6f3d0bd877.html"  target="element">
				  		<area shape="rect" coords="838,610,958,665" href="../elements/id-7be5feb1d8fe45f4a7bcd974f1ec8c56.html"  target="element">
				  		<area shape="rect" coords="909,538,1029,593" href="../elements/id-09df31e95b504e3a8613aa59b4e96e62.html"  target="element">
				  				<area shape="rect" coords="706,802,826,857" href="../elements/id-a6ce5eae31f345ce9983273dfd28b894.html"  target="element">
				  				<area shape="rect" coords="1176,784,1296,839" href="../elements/id-062ca9c0ee324ab58c208a4e919a6fe4.html"  target="element">
				  				<area shape="rect" coords="838,730,958,785" href="../elements/id-674b43185bed45e5bc452f86c77ea6c0.html"  target="element">
				  				<area shape="rect" coords="574,802,694,857" href="../elements/id-2d54a5e33a3943df8c57f555a4b69911.html"  target="element">
				  				<area shape="rect" coords="574,730,694,785" href="../elements/id-8bafd06774294e739ca2db1b45baff2b.html"  target="element">
				  				<area shape="rect" coords="706,730,826,785" href="../elements/id-ae72fdbce5ce49be80363952e19d93e7.html"  target="element">

				  		<area shape="rect" coords="550,694,1341,875" href="../elements/id-ad35c321a8704123879535f2473f2115.html"  target="element">
				  				<area shape="rect" coords="1113,166,1270,221" href="../elements/id-04370c0a4b3a49b8bc523d42c74b4abb.html"  target="element">
				  				<area shape="rect" coords="1113,94,1270,155" href="../elements/id-5bcd209da7cc44b3aecbe85d8fb3aaed.html"  target="element">
				  				<area shape="rect" coords="1113,238,1270,290" href="../elements/id-3b2f9009d9d14872907631dc61c4fced.html"  target="element">

				  		<area shape="rect" coords="1077,10,1306,356" href="../elements/id-16207a66418d49999d89262a9f21301e.html"  target="element">
				  		<area shape="rect" coords="765,166,910,221" href="../elements/id-f437c27fd212475f9caddad52261af38.html"  target="element">
				  				<area shape="rect" coords="491,46,647,101" href="../elements/id-9c044b6bfa604b478adc078668f1df6d.html"  target="element">
				  				<area shape="rect" coords="490,286,649,341" href="../elements/id-74d431a182fc4e79bcea9fadf0b8e855.html"  target="element">
				  				<area shape="rect" coords="490,226,649,281" href="../elements/id-92a1de181078456296ab5bca9e060a9c.html"  target="element">
				  				<area shape="rect" coords="491,166,648,221" href="../elements/id-bf2d1497a7254a1ebe0c6c1663e8a991.html"  target="element">
				  				<area shape="rect" coords="489,106,650,161" href="../elements/id-1ca7002404b9440d81701ba70f837e63.html"  target="element">

				  		<area shape="rect" coords="465,10,682,356" href="../elements/id-d90a96971bd04a13a0b9c5fd2fd821a8.html"  target="element">
				  				<area shape="rect" coords="205,1066,325,1121" href="../elements/id-b8b8159fc1284591a069b954b1884458.html"  target="element">
				  				<area shape="rect" coords="466,1034,826,1154" href="../elements/id-b6b4541dc0b6446e87bd238d6dece88d.html"  target="element">

				  		<area shape="rect" coords="178,1006,1342,1163" href="../elements/id-296955abeece4a20bb07cfe9c010a0d6.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">This is the project achitecture view of the FledgePower project. FledgePOWER is a multi-protocol translation gateway for power systems based on the industrial IoT LF Edge project Fledge. For more information on FledgePower, check out the project's page:  https://lfenergy.org/projects/fledgepower/</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-296955abeece4a20bb07cfe9c010a0d6.html" target="element"> FledgePower </a> </td>
											    <td> <a href="../elements/id-296955abeece4a20bb07cfe9c010a0d6.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-b6b4541dc0b6446e87bd238d6dece88d.html" target="element"> Fledge </a> </td>
													    <td> <a href="../elements/id-b6b4541dc0b6446e87bd238d6dece88d.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b8b8159fc1284591a069b954b1884458.html" target="element"> PowerConf </a> </td>
													    <td> <a href="../elements/id-b8b8159fc1284591a069b954b1884458.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-d90a96971bd04a13a0b9c5fd2fd821a8.html" target="element"> secure remote device communication </a> </td>
											    <td> <a href="../elements/id-d90a96971bd04a13a0b9c5fd2fd821a8.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-1ca7002404b9440d81701ba70f837e63.html" target="element"> substation automation interaction and monitoring </a> </td>
													    <td> <a href="../elements/id-1ca7002404b9440d81701ba70f837e63.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-bf2d1497a7254a1ebe0c6c1663e8a991.html" target="element"> renewable energy resources interaction and monitoring </a> </td>
													    <td> <a href="../elements/id-bf2d1497a7254a1ebe0c6c1663e8a991.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-92a1de181078456296ab5bca9e060a9c.html" target="element">  electrival vehicle (EV) interaction and monitoring </a> </td>
													    <td> <a href="../elements/id-92a1de181078456296ab5bca9e060a9c.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-74d431a182fc4e79bcea9fadf0b8e855.html" target="element"> Edge to (virtual) control center communication </a> </td>
													    <td> <a href="../elements/id-74d431a182fc4e79bcea9fadf0b8e855.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-9c044b6bfa604b478adc078668f1df6d.html" target="element"> inter control center (interaction and) monitoring </a> </td>
													    <td> <a href="../elements/id-9c044b6bfa604b478adc078668f1df6d.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-f437c27fd212475f9caddad52261af38.html" target="element"> Distributed energy resource management </a> </td>
											    <td> <a href="../elements/id-f437c27fd212475f9caddad52261af38.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-16207a66418d49999d89262a9f21301e.html" target="element"> secure remote processing </a> </td>
											    <td> <a href="../elements/id-16207a66418d49999d89262a9f21301e.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-3b2f9009d9d14872907631dc61c4fced.html" target="element"> Dynamic Safety Assessment </a> </td>
													    <td> <a href="../elements/id-3b2f9009d9d14872907631dc61c4fced.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-5bcd209da7cc44b3aecbe85d8fb3aaed.html" target="element"> Anomaly detection system / substation configurations </a> </td>
													    <td> <a href="../elements/id-5bcd209da7cc44b3aecbe85d8fb3aaed.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-04370c0a4b3a49b8bc523d42c74b4abb.html" target="element"> Validation measuring values and tagging </a> </td>
													    <td> <a href="../elements/id-04370c0a4b3a49b8bc523d42c74b4abb.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-ad35c321a8704123879535f2473f2115.html" target="element"> Edge process data </a> </td>
											    <td> <a href="../elements/id-ad35c321a8704123879535f2473f2115.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-ae72fdbce5ce49be80363952e19d93e7.html" target="element"> Real-time command </a> </td>
													    <td> <a href="../elements/id-ae72fdbce5ce49be80363952e19d93e7.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-8bafd06774294e739ca2db1b45baff2b.html" target="element"> Real-time measuring values </a> </td>
													    <td> <a href="../elements/id-8bafd06774294e739ca2db1b45baff2b.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2d54a5e33a3943df8c57f555a4b69911.html" target="element"> Aggregated measuring values </a> </td>
													    <td> <a href="../elements/id-2d54a5e33a3943df8c57f555a4b69911.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-674b43185bed45e5bc452f86c77ea6c0.html" target="element"> Real-time event </a> </td>
													    <td> <a href="../elements/id-674b43185bed45e5bc452f86c77ea6c0.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-062ca9c0ee324ab58c208a4e919a6fe4.html" target="element"> Real-time device monitoring </a> </td>
													    <td> <a href="../elements/id-062ca9c0ee324ab58c208a4e919a6fe4.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a6ce5eae31f345ce9983273dfd28b894.html" target="element"> Real-time setpoints </a> </td>
													    <td> <a href="../elements/id-a6ce5eae31f345ce9983273dfd28b894.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-09df31e95b504e3a8613aa59b4e96e62.html" target="element"> IEC 60870-5-104 </a> </td>
											    <td> <a href="../elements/id-09df31e95b504e3a8613aa59b4e96e62.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7be5feb1d8fe45f4a7bcd974f1ec8c56.html" target="element"> IEC 60870-5-103 </a> </td>
											    <td> <a href="../elements/id-7be5feb1d8fe45f4a7bcd974f1ec8c56.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5bf408e90e7148f6baebee6f3d0bd877.html" target="element"> IEC 62541 (OPC UA) </a> </td>
											    <td> <a href="../elements/id-5bf408e90e7148f6baebee6f3d0bd877.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2c120e00072e478491973795cfa44180.html" target="element"> IEC 60870-6 (ICCP/TASE.2) </a> </td>
											    <td> <a href="../elements/id-2c120e00072e478491973795cfa44180.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-14ea8ca7aa13463da5ae61e6b229081d.html" target="element"> IEC 61850-8-1 (MMS) </a> </td>
											    <td> <a href="../elements/id-14ea8ca7aa13463da5ae61e6b229081d.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e7509dc99d3d43dcb2a59fb6d00103ee.html" target="element"> Edge configuration management </a> </td>
											    <td> <a href="../elements/id-e7509dc99d3d43dcb2a59fb6d00103ee.html" target="element" class="i18n-elementtype-ApplicationFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-98b4e17c0e8b4a2bbff1c8390ecc7de9.html" target="element"> Edge device management </a> </td>
											    <td> <a href="../elements/id-98b4e17c0e8b4a2bbff1c8390ecc7de9.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0068599de4664df6b679126e34dc9a06.html" target="element"> (Edge) System Configuration </a> </td>
											    <td> <a href="../elements/id-0068599de4664df6b679126e34dc9a06.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5ce54fe18b8145dcafe9b15c8215e9e8.html" target="element"> IEC 61850-6 (SCL) </a> </td>
											    <td> <a href="../elements/id-5ce54fe18b8145dcafe9b15c8215e9e8.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-93c724927bfd4b66b62e5a9c3584f1d3.html" target="element"> CoMPAS </a> </td>
											    <td> <a href="../elements/id-93c724927bfd4b66b62e5a9c3584f1d3.html" target="element" class="i18n-elementtype-TechnologyCollaboration">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-812138725a5b4c3491974837377d0da3.html" target="element"> Data Lineage </a> </td>
											    <td> <a href="../elements/id-812138725a5b4c3491974837377d0da3.html" target="element" class="i18n-elementtype-ApplicationFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-d807e467e3c1431eb27c3c8a41debd9c.html" target="element"> Device configuration data lineage </a> </td>
													    <td> <a href="../elements/id-d807e467e3c1431eb27c3c8a41debd9c.html" target="element" class="i18n-elementtype-ApplicationFunction">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-41b1b6a0ac01458f8da0d4edcecfc999.html" target="element"> Demand Control </a> </td>
											    <td> <a href="../elements/id-41b1b6a0ac01458f8da0d4edcecfc999.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d6a4663d30c14a34b0243f350f803117.html" target="element"> Grid management </a> </td>
											    <td> <a href="../elements/id-d6a4663d30c14a34b0243f350f803117.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b2d25ef8e46b4b2c873b3448b26aca24.html" target="element"> GXF </a> </td>
											    <td> <a href="../elements/id-b2d25ef8e46b4b2c873b3448b26aca24.html" target="element" class="i18n-elementtype-TechnologyCollaboration">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a5e6fe0142f4440d80e7d98120848270.html" target="element"> SCADA </a> </td>
											    <td> <a href="../elements/id-a5e6fe0142f4440d80e7d98120848270.html" target="element" class="i18n-elementtype-TechnologyCollaboration">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ea5b395923824b04b715f2fb587c4a2e.html" target="element"> OperatorFabric </a> </td>
											    <td> <a href="../elements/id-ea5b395923824b04b715f2fb587c4a2e.html" target="element" class="i18n-elementtype-TechnologyCollaboration">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-64672f026bbe4eadbd6427813dda3635.html" target="element"> IEC 61158 (Modbus) </a> </td>
											    <td> <a href="../elements/id-64672f026bbe4eadbd6427813dda3635.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-082c6937f5694ff284916729ea60baf2.html" target="element"> 61850 Scheduler </a> </td>
											    <td> <a href="../elements/id-082c6937f5694ff284916729ea60baf2.html" target="element" class="i18n-elementtype-TechnologyCollaboration">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-89244b32381b4384bc3292a7cc1a7fce.html" target="element"> Industrial process execution </a> </td>
											    <td> <a href="../elements/id-89244b32381b4384bc3292a7cc1a7fce.html" target="element" class="i18n-elementtype-ApplicationFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-d22eea81098542caa46328bbcdea9179.html" target="element"> Industrial protocol translation </a> </td>
													    <td> <a href="../elements/id-d22eea81098542caa46328bbcdea9179.html" target="element" class="i18n-elementtype-ApplicationFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-7e332fd8a3c743bbad6eb24b67feafc0.html" target="element"> Monitoring (general) </a> </td>
													    <td> <a href="../elements/id-7e332fd8a3c743bbad6eb24b67feafc0.html" target="element" class="i18n-elementtype-ApplicationFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-df66bda9ca2c4514b86f4ea0f32f4b05.html" target="element"> Real-time measurement scaling </a> </td>
													    <td> <a href="../elements/id-df66bda9ca2c4514b86f4ea0f32f4b05.html" target="element" class="i18n-elementtype-ApplicationFunction">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-b8356db96a68414a942c2272b70f107b.html" target="element"> Generic IT monitoring solution </a> </td>
											    <td> <a href="../elements/id-b8356db96a68414a942c2272b70f107b.html" target="element" class="i18n-elementtype-TechnologyCollaboration">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-bb1bab2c3a7149368d5c9f212ebc2d45.html" target="element"> IEC 62379 (SNMPv3) </a> </td>
											    <td> <a href="../elements/id-bb1bab2c3a7149368d5c9f212ebc2d45.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-65790b2727224be4bc33b868cc74a7e3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-65790b2727224be4bc33b868cc74a7e3.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-296955abeece4a20bb07cfe9c010a0d6.html" target="element"> FledgePower </a> </td>
																		<td> <a href="../elements/id-b6b4541dc0b6446e87bd238d6dece88d.html" target="element"> Fledge </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e2bbf43a90064271a27f6d155c368825.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e2bbf43a90064271a27f6d155c368825.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-296955abeece4a20bb07cfe9c010a0d6.html" target="element"> FledgePower </a> </td>
																		<td> <a href="../elements/id-b8b8159fc1284591a069b954b1884458.html" target="element"> PowerConf </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-b696e8f78d2541749ef0552a1076e209.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-b696e8f78d2541749ef0552a1076e209.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-b6b4541dc0b6446e87bd238d6dece88d.html" target="element"> Fledge </a> </td>
																				<td> <a href="../elements/id-89244b32381b4384bc3292a7cc1a7fce.html" target="element"> Industrial process execution </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-bdc5e24bd5ee487195e33b9dc668a347.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bdc5e24bd5ee487195e33b9dc668a347.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d90a96971bd04a13a0b9c5fd2fd821a8.html" target="element"> secure remote device communication </a> </td>
																		<td> <a href="../elements/id-1ca7002404b9440d81701ba70f837e63.html" target="element"> substation automation interaction and monitoring </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-caa41c7a1d5c42c79ceb28762c423de6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-caa41c7a1d5c42c79ceb28762c423de6.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d90a96971bd04a13a0b9c5fd2fd821a8.html" target="element"> secure remote device communication </a> </td>
																		<td> <a href="../elements/id-bf2d1497a7254a1ebe0c6c1663e8a991.html" target="element"> renewable energy resources interaction and monitoring </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1dab0f6e7f4b44ed874e9c2796550d10.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1dab0f6e7f4b44ed874e9c2796550d10.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d90a96971bd04a13a0b9c5fd2fd821a8.html" target="element"> secure remote device communication </a> </td>
																		<td> <a href="../elements/id-74d431a182fc4e79bcea9fadf0b8e855.html" target="element"> Edge to (virtual) control center communication </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2457c1dcf71b474c977e46484d88fb65.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2457c1dcf71b474c977e46484d88fb65.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d90a96971bd04a13a0b9c5fd2fd821a8.html" target="element"> secure remote device communication </a> </td>
																		<td> <a href="../elements/id-92a1de181078456296ab5bca9e060a9c.html" target="element">  electrival vehicle (EV) interaction and monitoring </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9d47bb87c0c04a069a0b8692c1ba7d6f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9d47bb87c0c04a069a0b8692c1ba7d6f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d90a96971bd04a13a0b9c5fd2fd821a8.html" target="element"> secure remote device communication </a> </td>
																		<td> <a href="../elements/id-9c044b6bfa604b478adc078668f1df6d.html" target="element"> inter control center (interaction and) monitoring </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-ab21b19461f94c7eb2f948b8c4405742.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-ab21b19461f94c7eb2f948b8c4405742.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-1ca7002404b9440d81701ba70f837e63.html" target="element"> substation automation interaction and monitoring </a> </td>
																				<td> <a href="../elements/id-d6a4663d30c14a34b0243f350f803117.html" target="element"> Grid management </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-c89a5437d6724539aa445d0b672ace55.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c89a5437d6724539aa445d0b672ace55.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-bf2d1497a7254a1ebe0c6c1663e8a991.html" target="element"> renewable energy resources interaction and monitoring </a> </td>
																				<td> <a href="../elements/id-f437c27fd212475f9caddad52261af38.html" target="element"> Distributed energy resource management </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-fba62c55a44b4d8ca3dfb2fe761e2b13.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-fba62c55a44b4d8ca3dfb2fe761e2b13.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-92a1de181078456296ab5bca9e060a9c.html" target="element">  electrival vehicle (EV) interaction and monitoring </a> </td>
																				<td> <a href="../elements/id-41b1b6a0ac01458f8da0d4edcecfc999.html" target="element"> Demand Control </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-20dc1b942b994f0783f902dabb70f044.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-20dc1b942b994f0783f902dabb70f044.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-9c044b6bfa604b478adc078668f1df6d.html" target="element"> inter control center (interaction and) monitoring </a> </td>
																				<td> <a href="../elements/id-d6a4663d30c14a34b0243f350f803117.html" target="element"> Grid management </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-dcff80632bd54a658c8c8cebf483c07f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-dcff80632bd54a658c8c8cebf483c07f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-16207a66418d49999d89262a9f21301e.html" target="element"> secure remote processing </a> </td>
																		<td> <a href="../elements/id-3b2f9009d9d14872907631dc61c4fced.html" target="element"> Dynamic Safety Assessment </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a8c2a4699b3444baaf0f4497f33f4e14.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a8c2a4699b3444baaf0f4497f33f4e14.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-16207a66418d49999d89262a9f21301e.html" target="element"> secure remote processing </a> </td>
																		<td> <a href="../elements/id-5bcd209da7cc44b3aecbe85d8fb3aaed.html" target="element"> Anomaly detection system / substation configurations </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a8f4be6c270c474eb3f7f9511691521d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a8f4be6c270c474eb3f7f9511691521d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-16207a66418d49999d89262a9f21301e.html" target="element"> secure remote processing </a> </td>
																		<td> <a href="../elements/id-04370c0a4b3a49b8bc523d42c74b4abb.html" target="element"> Validation measuring values and tagging </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-cddf3c9b0dd24c0fa4f41b144810c48d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cddf3c9b0dd24c0fa4f41b144810c48d.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-16207a66418d49999d89262a9f21301e.html" target="element"> secure remote processing </a> </td>
																		<td> <a href="../elements/id-d6a4663d30c14a34b0243f350f803117.html" target="element"> Grid management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-15b1b1c12192498ea98e52a7b1ae0471.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-15b1b1c12192498ea98e52a7b1ae0471.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-16207a66418d49999d89262a9f21301e.html" target="element"> secure remote processing </a> </td>
																		<td> <a href="../elements/id-f437c27fd212475f9caddad52261af38.html" target="element"> Distributed energy resource management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-47340e0f72464b4588b14792e271ec52.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-47340e0f72464b4588b14792e271ec52.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-16207a66418d49999d89262a9f21301e.html" target="element"> secure remote processing </a> </td>
																		<td> <a href="../elements/id-41b1b6a0ac01458f8da0d4edcecfc999.html" target="element"> Demand Control </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-cfe1b14b9df7430abb1c21e5008ccb48.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cfe1b14b9df7430abb1c21e5008ccb48.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ad35c321a8704123879535f2473f2115.html" target="element"> Edge process data </a> </td>
																		<td> <a href="../elements/id-ae72fdbce5ce49be80363952e19d93e7.html" target="element"> Real-time command </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-26e06a2471de4a68ab82358bd76a29a7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-26e06a2471de4a68ab82358bd76a29a7.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ad35c321a8704123879535f2473f2115.html" target="element"> Edge process data </a> </td>
																		<td> <a href="../elements/id-8bafd06774294e739ca2db1b45baff2b.html" target="element"> Real-time measuring values </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6157d428901b45b3a7fdc1e4ea640cfd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6157d428901b45b3a7fdc1e4ea640cfd.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ad35c321a8704123879535f2473f2115.html" target="element"> Edge process data </a> </td>
																		<td> <a href="../elements/id-674b43185bed45e5bc452f86c77ea6c0.html" target="element"> Real-time event </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b80c85ee4a7340918a9d7077501afce1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b80c85ee4a7340918a9d7077501afce1.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ad35c321a8704123879535f2473f2115.html" target="element"> Edge process data </a> </td>
																		<td> <a href="../elements/id-2d54a5e33a3943df8c57f555a4b69911.html" target="element"> Aggregated measuring values </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-193e00018b32408fbddd45ada5c18d11.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-193e00018b32408fbddd45ada5c18d11.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ad35c321a8704123879535f2473f2115.html" target="element"> Edge process data </a> </td>
																		<td> <a href="../elements/id-062ca9c0ee324ab58c208a4e919a6fe4.html" target="element"> Real-time device monitoring </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-72e459bb2d04424abe5cd1603a1bb89c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-72e459bb2d04424abe5cd1603a1bb89c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ad35c321a8704123879535f2473f2115.html" target="element"> Edge process data </a> </td>
																		<td> <a href="../elements/id-a6ce5eae31f345ce9983273dfd28b894.html" target="element"> Real-time setpoints </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-792795ba7ba7458aa16ae5d7f6c2688b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-792795ba7ba7458aa16ae5d7f6c2688b.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-09df31e95b504e3a8613aa59b4e96e62.html" target="element"> IEC 60870-5-104 </a> </td>
																		<td> <a href="../elements/id-ad35c321a8704123879535f2473f2115.html" target="element"> Edge process data </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-534ce633037944958467863897d61d8b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-534ce633037944958467863897d61d8b.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7be5feb1d8fe45f4a7bcd974f1ec8c56.html" target="element"> IEC 60870-5-103 </a> </td>
																		<td> <a href="../elements/id-ad35c321a8704123879535f2473f2115.html" target="element"> Edge process data </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-186e6bf881b34e998451dbabff8310df.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-186e6bf881b34e998451dbabff8310df.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5bf408e90e7148f6baebee6f3d0bd877.html" target="element"> IEC 62541 (OPC UA) </a> </td>
																		<td> <a href="../elements/id-ad35c321a8704123879535f2473f2115.html" target="element"> Edge process data </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-1b9f6493bfb24268a127d696fec697e0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1b9f6493bfb24268a127d696fec697e0.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2c120e00072e478491973795cfa44180.html" target="element"> IEC 60870-6 (ICCP/TASE.2) </a> </td>
																		<td> <a href="../elements/id-ad35c321a8704123879535f2473f2115.html" target="element"> Edge process data </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-08e16f41fec149ca83f60878da43015b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-08e16f41fec149ca83f60878da43015b.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-14ea8ca7aa13463da5ae61e6b229081d.html" target="element"> IEC 61850-8-1 (MMS) </a> </td>
																		<td> <a href="../elements/id-ad35c321a8704123879535f2473f2115.html" target="element"> Edge process data </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-48cc70c9598c4a6ea3a6d69cd195a105.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-48cc70c9598c4a6ea3a6d69cd195a105.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e7509dc99d3d43dcb2a59fb6d00103ee.html" target="element"> Edge configuration management </a> </td>
																		<td> <a href="../elements/id-98b4e17c0e8b4a2bbff1c8390ecc7de9.html" target="element"> Edge device management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d52cdb66eb2045829a0d7d0dbb7823cf.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d52cdb66eb2045829a0d7d0dbb7823cf.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e7509dc99d3d43dcb2a59fb6d00103ee.html" target="element"> Edge configuration management </a> </td>
																		<td> <a href="../elements/id-0068599de4664df6b679126e34dc9a06.html" target="element"> (Edge) System Configuration </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-1a87c648d68a40d58caf6763015eaf0c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1a87c648d68a40d58caf6763015eaf0c.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5ce54fe18b8145dcafe9b15c8215e9e8.html" target="element"> IEC 61850-6 (SCL) </a> </td>
																		<td> <a href="../elements/id-0068599de4664df6b679126e34dc9a06.html" target="element"> (Edge) System Configuration </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-0231694e70314190aa12eb7b03b38d2b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0231694e70314190aa12eb7b03b38d2b.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-93c724927bfd4b66b62e5a9c3584f1d3.html" target="element"> CoMPAS </a> </td>
																		<td> <a href="../elements/id-0068599de4664df6b679126e34dc9a06.html" target="element"> (Edge) System Configuration </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-52db27bfb7984546926aaa9ec2c92ccc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-52db27bfb7984546926aaa9ec2c92ccc.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-812138725a5b4c3491974837377d0da3.html" target="element"> Data Lineage </a> </td>
																		<td> <a href="../elements/id-98b4e17c0e8b4a2bbff1c8390ecc7de9.html" target="element"> Edge device management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ca1f5542b181439cbc1b5f3984901ed3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ca1f5542b181439cbc1b5f3984901ed3.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-812138725a5b4c3491974837377d0da3.html" target="element"> Data Lineage </a> </td>
																		<td> <a href="../elements/id-d807e467e3c1431eb27c3c8a41debd9c.html" target="element"> Device configuration data lineage </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-74f304fe22ed43738b42f27236967379.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-74f304fe22ed43738b42f27236967379.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b2d25ef8e46b4b2c873b3448b26aca24.html" target="element"> GXF </a> </td>
																		<td> <a href="../elements/id-ad35c321a8704123879535f2473f2115.html" target="element"> Edge process data </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-687db44d1c8240da83ab8f58c1fa2396.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-687db44d1c8240da83ab8f58c1fa2396.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a5e6fe0142f4440d80e7d98120848270.html" target="element"> SCADA </a> </td>
																		<td> <a href="../elements/id-ad35c321a8704123879535f2473f2115.html" target="element"> Edge process data </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-45476e6196e846caaa77302c85b5ee20.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-45476e6196e846caaa77302c85b5ee20.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ea5b395923824b04b715f2fb587c4a2e.html" target="element"> OperatorFabric </a> </td>
																		<td> <a href="../elements/id-ad35c321a8704123879535f2473f2115.html" target="element"> Edge process data </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-a9e8d76891c64dbfa9d52a1cde8459eb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a9e8d76891c64dbfa9d52a1cde8459eb.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-64672f026bbe4eadbd6427813dda3635.html" target="element"> IEC 61158 (Modbus) </a> </td>
																		<td> <a href="../elements/id-ad35c321a8704123879535f2473f2115.html" target="element"> Edge process data </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-9af90158d2cf476c89a7f12e85c44c93.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9af90158d2cf476c89a7f12e85c44c93.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-082c6937f5694ff284916729ea60baf2.html" target="element"> 61850 Scheduler </a> </td>
																		<td> <a href="../elements/id-ad35c321a8704123879535f2473f2115.html" target="element"> Edge process data </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-44c99f76b4ea410d9039da4c1cad56e8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-44c99f76b4ea410d9039da4c1cad56e8.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-89244b32381b4384bc3292a7cc1a7fce.html" target="element"> Industrial process execution </a> </td>
																		<td> <a href="../elements/id-16207a66418d49999d89262a9f21301e.html" target="element"> secure remote processing </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4454edb69f704b6396bf708890984e73.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4454edb69f704b6396bf708890984e73.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-89244b32381b4384bc3292a7cc1a7fce.html" target="element"> Industrial process execution </a> </td>
																		<td> <a href="../elements/id-d22eea81098542caa46328bbcdea9179.html" target="element"> Industrial protocol translation </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b63d2774028b4d66af494fe13c9075f0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b63d2774028b4d66af494fe13c9075f0.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-89244b32381b4384bc3292a7cc1a7fce.html" target="element"> Industrial process execution </a> </td>
																		<td> <a href="../elements/id-7e332fd8a3c743bbad6eb24b67feafc0.html" target="element"> Monitoring (general) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-64042bb2ca8246d7a4c51c5db04ad20a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-64042bb2ca8246d7a4c51c5db04ad20a.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-89244b32381b4384bc3292a7cc1a7fce.html" target="element"> Industrial process execution </a> </td>
																		<td> <a href="../elements/id-df66bda9ca2c4514b86f4ea0f32f4b05.html" target="element"> Real-time measurement scaling </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-88eb88ee25aa435ca90c914d4a3b5da3.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-88eb88ee25aa435ca90c914d4a3b5da3.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-d22eea81098542caa46328bbcdea9179.html" target="element"> Industrial protocol translation </a> </td>
																				<td> <a href="../elements/id-ad35c321a8704123879535f2473f2115.html" target="element"> Edge process data </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-d52496553f914206b16d86b36525fa66.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d52496553f914206b16d86b36525fa66.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-d22eea81098542caa46328bbcdea9179.html" target="element"> Industrial protocol translation </a> </td>
																				<td> <a href="../elements/id-d90a96971bd04a13a0b9c5fd2fd821a8.html" target="element"> secure remote device communication </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-6b20c9d73211440482cdae9ab0a7fad4.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-6b20c9d73211440482cdae9ab0a7fad4.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-7e332fd8a3c743bbad6eb24b67feafc0.html" target="element"> Monitoring (general) </a> </td>
																				<td> <a href="../elements/id-062ca9c0ee324ab58c208a4e919a6fe4.html" target="element"> Real-time device monitoring </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-3a0991ccf2a34d80835ecfad39a0b3d3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3a0991ccf2a34d80835ecfad39a0b3d3.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b8356db96a68414a942c2272b70f107b.html" target="element"> Generic IT monitoring solution </a> </td>
																		<td> <a href="../elements/id-062ca9c0ee324ab58c208a4e919a6fe4.html" target="element"> Real-time device monitoring </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-2cf3bf81fcd64a3298621ba87285c8b0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2cf3bf81fcd64a3298621ba87285c8b0.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-bb1bab2c3a7149368d5c9f212ebc2d45.html" target="element"> IEC 62379 (SNMPv3) </a> </td>
																		<td> <a href="../elements/id-062ca9c0ee324ab58c208a4e919a6fe4.html" target="element"> Real-time device monitoring </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>