<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>PowSyBI Detailed</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>PowSyBI Detailed</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-e6dce8c608d246129bfc98d67688caf4.png" alt="PowSyBI Detailed" usemap="#id-e6dce8c608d246129bfc98d67688caf4map"/>
			   <map name="id-e6dce8c608d246129bfc98d67688caf4map">
				  		<area shape="rect" coords="658,10,778,65" href="../elements/EAID_D5D6B2F1_11BE_4985_B1D5_D5DA4380F2E1.html"  target="element">
				  		<area shape="rect" coords="514,10,634,65" href="../elements/EAID_AAB1269E_7BD3_43de_B44C_44417E32B9C2.html"  target="element">
				  		<area shape="rect" coords="46,10,166,65" href="../elements/id-61a465f3fb4343fdba723dbea97ce53c.html"  target="element">
				  		<area shape="rect" coords="202,10,322,65" href="../elements/id-5164c5e8cf3348308b694e47230e2d57.html"  target="element">
				  		<area shape="rect" coords="1234,238,1354,293" href="../elements/id-a4e94c2e80f346d28851eaf7b060813f.html"  target="element">
				  		<area shape="rect" coords="1234,310,1354,365" href="../elements/id-0e0ec8a885be494ba9fbd78e6a75bd84.html"  target="element">
				  		<area shape="rect" coords="1234,166,1354,221" href="../elements/id-e0722b8c74274e3cb29ff2940c35e098.html"  target="element">
				  		<area shape="rect" coords="802,10,922,65" href="../elements/id-6b1075e4ee544242aa11f43fa0edeac9.html"  target="element">
				  		<area shape="rect" coords="946,10,1066,65" href="../elements/id-8182273af3cd4aaa8dca6e1aeba1092e.html"  target="element">
				  		<area shape="rect" coords="370,10,490,65" href="../elements/id-21813916cdde48279f1b8f63ea8bd777.html"  target="element">
				  				<area shape="rect" coords="1006,310,1126,365" href="../elements/id-2d58a49aac3b4055bcaea5748495bf47.html"  target="element">
				  				<area shape="rect" coords="1006,232,1126,287" href="../elements/id-e0fa3562030d499c836d2b5068aec6e9.html"  target="element">
				  				<area shape="rect" coords="1006,160,1126,215" href="../elements/id-4a796b853e184ed6ae7eb1ac56696ac5.html"  target="element">
				  				<area shape="rect" coords="694,166,814,221" href="../elements/id-d5597932e3d041a6afd6f6c6bf8ef422.html"  target="element">
				  				<area shape="rect" coords="371,166,491,221" href="../elements/id-38dbed39e5e14bc394d0ba335aacb112.html"  target="element">
				  				<area shape="rect" coords="694,310,814,365" href="../elements/id-cd69ad46065e4ce8acd559d85a30633f.html"  target="element">
				  				<area shape="rect" coords="562,310,682,365" href="../elements/id-fc9fc3a2e4db4b3687b9842e2e5fd321.html"  target="element">
				  				<area shape="rect" coords="274,310,394,365" href="../elements/id-3434ccef61ca47619d40e8d86b76d5f5.html"  target="element">
				  				<area shape="rect" coords="142,310,262,365" href="../elements/id-33d911c3f14441e98a8e63ff1b06bca6.html"  target="element">
				  				<area shape="rect" coords="202,166,322,221" href="../elements/id-330d42649d6e437e9b0e9fd8a350ef9c.html"  target="element">
				  				<area shape="rect" coords="46,166,166,221" href="../elements/id-ce4c53979e6642bf9e7ca469e617189e.html"  target="element">
				  				<area shape="rect" coords="1211,478,1331,533" href="../elements/id-cd69ad46065e4ce8acd559d85a30633f.html"  target="element">

				  		<area shape="rect" coords="10,106,1211,395" href="../elements/id-593715b88d334ead863c8de5bb0dd09d.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">This is the detailed project achitecture view of the PowSyBl  project. PowSyBl is an open source library dedicated to electrical grid modeling and simulation. For more information on PowSyBl, check out the project's page:  https://lfenergy.org/projects/powsybl/</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-593715b88d334ead863c8de5bb0dd09d.html" target="element"> PowSyBI </a> </td>
											    <td> <a href="../elements/id-593715b88d334ead863c8de5bb0dd09d.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-cd69ad46065e4ce8acd559d85a30633f.html" target="element"> MPI parallel implementation </a> </td>
													    <td> <a href="../elements/id-cd69ad46065e4ce8acd559d85a30633f.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ce4c53979e6642bf9e7ca469e617189e.html" target="element"> PowSyBl Importers </a> </td>
													    <td> <a href="../elements/id-ce4c53979e6642bf9e7ca469e617189e.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-330d42649d6e437e9b0e9fd8a350ef9c.html" target="element"> PowSyBl exporters </a> </td>
													    <td> <a href="../elements/id-330d42649d6e437e9b0e9fd8a350ef9c.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-33d911c3f14441e98a8e63ff1b06bca6.html" target="element"> Application File System </a> </td>
													    <td> <a href="../elements/id-33d911c3f14441e98a8e63ff1b06bca6.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-3434ccef61ca47619d40e8d86b76d5f5.html" target="element"> Time series manager </a> </td>
													    <td> <a href="../elements/id-3434ccef61ca47619d40e8d86b76d5f5.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-fc9fc3a2e4db4b3687b9842e2e5fd321.html" target="element"> Slurm job scheduler immplementation </a> </td>
													    <td> <a href="../elements/id-fc9fc3a2e4db4b3687b9842e2e5fd321.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-cd69ad46065e4ce8acd559d85a30633f.html" target="element"> MPI parallel implementation </a> </td>
													    <td> <a href="../elements/id-cd69ad46065e4ce8acd559d85a30633f.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-38dbed39e5e14bc394d0ba335aacb112.html" target="element"> Metrix </a> </td>
													    <td> <a href="../elements/id-38dbed39e5e14bc394d0ba335aacb112.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d5597932e3d041a6afd6f6c6bf8ef422.html" target="element"> Open Load Flow </a> </td>
													    <td> <a href="../elements/id-d5597932e3d041a6afd6f6c6bf8ef422.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-4a796b853e184ed6ae7eb1ac56696ac5.html" target="element"> PowSyBl CIM-based SLD generator </a> </td>
													    <td> <a href="../elements/id-4a796b853e184ed6ae7eb1ac56696ac5.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e0fa3562030d499c836d2b5068aec6e9.html" target="element"> PowSyBl area diagram Layout </a> </td>
													    <td> <a href="../elements/id-e0fa3562030d499c836d2b5068aec6e9.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2d58a49aac3b4055bcaea5748495bf47.html" target="element"> PowSyBl Automatic SLD generator </a> </td>
													    <td> <a href="../elements/id-2d58a49aac3b4055bcaea5748495bf47.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-21813916cdde48279f1b8f63ea8bd777.html" target="element"> Optimal Power flow </a> </td>
											    <td> <a href="../elements/id-21813916cdde48279f1b8f63ea8bd777.html" target="element" class="i18n-elementtype-ApplicationFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8182273af3cd4aaa8dca6e1aeba1092e.html" target="element"> Security Assessment </a> </td>
											    <td> <a href="../elements/id-8182273af3cd4aaa8dca6e1aeba1092e.html" target="element" class="i18n-elementtype-ApplicationFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6b1075e4ee544242aa11f43fa0edeac9.html" target="element"> Sensitivity analysis </a> </td>
											    <td> <a href="../elements/id-6b1075e4ee544242aa11f43fa0edeac9.html" target="element" class="i18n-elementtype-ApplicationFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e0722b8c74274e3cb29ff2940c35e098.html" target="element"> CIM-based SLD generator </a> </td>
											    <td> <a href="../elements/id-e0722b8c74274e3cb29ff2940c35e098.html" target="element" class="i18n-elementtype-ApplicationFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0e0ec8a885be494ba9fbd78e6a75bd84.html" target="element"> Automatic SLD generator </a> </td>
											    <td> <a href="../elements/id-0e0ec8a885be494ba9fbd78e6a75bd84.html" target="element" class="i18n-elementtype-ApplicationFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a4e94c2e80f346d28851eaf7b060813f.html" target="element"> Area diagram Layout </a> </td>
											    <td> <a href="../elements/id-a4e94c2e80f346d28851eaf7b060813f.html" target="element" class="i18n-elementtype-ApplicationFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5164c5e8cf3348308b694e47230e2d57.html" target="element"> Exporter </a> </td>
											    <td> <a href="../elements/id-5164c5e8cf3348308b694e47230e2d57.html" target="element" class="i18n-elementtype-ApplicationFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-61a465f3fb4343fdba723dbea97ce53c.html" target="element"> Importer </a> </td>
											    <td> <a href="../elements/id-61a465f3fb4343fdba723dbea97ce53c.html" target="element" class="i18n-elementtype-ApplicationFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/EAID_AAB1269E_7BD3_43de_B44C_44417E32B9C2.html" target="element"> Power Flow Analysis </a> </td>
											    <td> <a href="../elements/EAID_AAB1269E_7BD3_43de_B44C_44417E32B9C2.html" target="element" class="i18n-elementtype-ApplicationFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/EAID_D5D6B2F1_11BE_4985_B1D5_D5DA4380F2E1.html" target="element"> Contingency Analysis </a> </td>
											    <td> <a href="../elements/EAID_D5D6B2F1_11BE_4985_B1D5_D5DA4380F2E1.html" target="element" class="i18n-elementtype-ApplicationFunction">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-351c6a81fccf4b7c93c80a62652d87bd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-351c6a81fccf4b7c93c80a62652d87bd.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-593715b88d334ead863c8de5bb0dd09d.html" target="element"> PowSyBI </a> </td>
																		<td> <a href="../elements/id-cd69ad46065e4ce8acd559d85a30633f.html" target="element"> MPI parallel implementation </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c004a1fd6bcc4dd78d80c7820a519332.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c004a1fd6bcc4dd78d80c7820a519332.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-593715b88d334ead863c8de5bb0dd09d.html" target="element"> PowSyBI </a> </td>
																		<td> <a href="../elements/id-ce4c53979e6642bf9e7ca469e617189e.html" target="element"> PowSyBl Importers </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c1d455c5c8e64544b4ec27b8ef88af70.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c1d455c5c8e64544b4ec27b8ef88af70.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-593715b88d334ead863c8de5bb0dd09d.html" target="element"> PowSyBI </a> </td>
																		<td> <a href="../elements/id-330d42649d6e437e9b0e9fd8a350ef9c.html" target="element"> PowSyBl exporters </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-fae1c5ea50dc4bc49952406721487874.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fae1c5ea50dc4bc49952406721487874.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-593715b88d334ead863c8de5bb0dd09d.html" target="element"> PowSyBI </a> </td>
																		<td> <a href="../elements/id-33d911c3f14441e98a8e63ff1b06bca6.html" target="element"> Application File System </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f275557028c84286b9ccc22721508599.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f275557028c84286b9ccc22721508599.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-593715b88d334ead863c8de5bb0dd09d.html" target="element"> PowSyBI </a> </td>
																		<td> <a href="../elements/id-3434ccef61ca47619d40e8d86b76d5f5.html" target="element"> Time series manager </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1871a7428ea24dac89cf36c44d12bf46.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1871a7428ea24dac89cf36c44d12bf46.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-593715b88d334ead863c8de5bb0dd09d.html" target="element"> PowSyBI </a> </td>
																		<td> <a href="../elements/id-fc9fc3a2e4db4b3687b9842e2e5fd321.html" target="element"> Slurm job scheduler immplementation </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-351c6a81fccf4b7c93c80a62652d87bd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-351c6a81fccf4b7c93c80a62652d87bd.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-593715b88d334ead863c8de5bb0dd09d.html" target="element"> PowSyBI </a> </td>
																		<td> <a href="../elements/id-cd69ad46065e4ce8acd559d85a30633f.html" target="element"> MPI parallel implementation </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3ac5e9c1751c4673baea3fb690b67efc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3ac5e9c1751c4673baea3fb690b67efc.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-593715b88d334ead863c8de5bb0dd09d.html" target="element"> PowSyBI </a> </td>
																		<td> <a href="../elements/id-38dbed39e5e14bc394d0ba335aacb112.html" target="element"> Metrix </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d202c8b1681843b99b4fcfe73b394732.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d202c8b1681843b99b4fcfe73b394732.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-593715b88d334ead863c8de5bb0dd09d.html" target="element"> PowSyBI </a> </td>
																		<td> <a href="../elements/id-d5597932e3d041a6afd6f6c6bf8ef422.html" target="element"> Open Load Flow </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e90061d2919640c899dd5c3d17455ec4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e90061d2919640c899dd5c3d17455ec4.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-593715b88d334ead863c8de5bb0dd09d.html" target="element"> PowSyBI </a> </td>
																		<td> <a href="../elements/id-d5597932e3d041a6afd6f6c6bf8ef422.html" target="element"> Open Load Flow </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4b16cb8a9ca04b4baed2372a3374dff6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4b16cb8a9ca04b4baed2372a3374dff6.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-593715b88d334ead863c8de5bb0dd09d.html" target="element"> PowSyBI </a> </td>
																		<td> <a href="../elements/id-4a796b853e184ed6ae7eb1ac56696ac5.html" target="element"> PowSyBl CIM-based SLD generator </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3bd944b6eb8a4e6e9d0f4e4706e0e810.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3bd944b6eb8a4e6e9d0f4e4706e0e810.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-593715b88d334ead863c8de5bb0dd09d.html" target="element"> PowSyBI </a> </td>
																		<td> <a href="../elements/id-e0fa3562030d499c836d2b5068aec6e9.html" target="element"> PowSyBl area diagram Layout </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-94b3070618954ccbb3bf9389b8fdfae4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-94b3070618954ccbb3bf9389b8fdfae4.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-593715b88d334ead863c8de5bb0dd09d.html" target="element"> PowSyBI </a> </td>
																		<td> <a href="../elements/id-2d58a49aac3b4055bcaea5748495bf47.html" target="element"> PowSyBl Automatic SLD generator </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-24504e364d2042d98a6c45912ebf2a0a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-24504e364d2042d98a6c45912ebf2a0a.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-ce4c53979e6642bf9e7ca469e617189e.html" target="element"> PowSyBl Importers </a> </td>
																				<td> <a href="../elements/id-61a465f3fb4343fdba723dbea97ce53c.html" target="element"> Importer </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-e75bc8c6c74e4625bf5d865df3b02f53.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e75bc8c6c74e4625bf5d865df3b02f53.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-330d42649d6e437e9b0e9fd8a350ef9c.html" target="element"> PowSyBl exporters </a> </td>
																				<td> <a href="../elements/id-5164c5e8cf3348308b694e47230e2d57.html" target="element"> Exporter </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-269b156da15c41f2a798f262081ed0fd.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-269b156da15c41f2a798f262081ed0fd.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-38dbed39e5e14bc394d0ba335aacb112.html" target="element"> Metrix </a> </td>
																				<td> <a href="../elements/id-21813916cdde48279f1b8f63ea8bd777.html" target="element"> Optimal Power flow </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-bc992f38c2ca4864b9e3400fb513750c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-bc992f38c2ca4864b9e3400fb513750c.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-d5597932e3d041a6afd6f6c6bf8ef422.html" target="element"> Open Load Flow </a> </td>
																				<td> <a href="../elements/id-8182273af3cd4aaa8dca6e1aeba1092e.html" target="element"> Security Assessment </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-872c6a2608924acdb122d8df9a84d4d8.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-872c6a2608924acdb122d8df9a84d4d8.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-d5597932e3d041a6afd6f6c6bf8ef422.html" target="element"> Open Load Flow </a> </td>
																				<td> <a href="../elements/id-6b1075e4ee544242aa11f43fa0edeac9.html" target="element"> Sensitivity analysis </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-fe1ab6cc0d0445c4817e7f76f7f64e4c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-fe1ab6cc0d0445c4817e7f76f7f64e4c.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-d5597932e3d041a6afd6f6c6bf8ef422.html" target="element"> Open Load Flow </a> </td>
																				<td> <a href="../elements/EAID_AAB1269E_7BD3_43de_B44C_44417E32B9C2.html" target="element"> Power Flow Analysis </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-a4f13c81b63642d4a36a9e18fa9ae614.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a4f13c81b63642d4a36a9e18fa9ae614.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-d5597932e3d041a6afd6f6c6bf8ef422.html" target="element"> Open Load Flow </a> </td>
																				<td> <a href="../elements/EAID_D5D6B2F1_11BE_4985_B1D5_D5DA4380F2E1.html" target="element"> Contingency Analysis </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-d2ee4dfec7a142ed9e3fdf376bc15f8d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d2ee4dfec7a142ed9e3fdf376bc15f8d.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-4a796b853e184ed6ae7eb1ac56696ac5.html" target="element"> PowSyBl CIM-based SLD generator </a> </td>
																				<td> <a href="../elements/id-e0722b8c74274e3cb29ff2940c35e098.html" target="element"> CIM-based SLD generator </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-91c5aea607a3434797cfa794e281697d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-91c5aea607a3434797cfa794e281697d.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e0fa3562030d499c836d2b5068aec6e9.html" target="element"> PowSyBl area diagram Layout </a> </td>
																				<td> <a href="../elements/id-a4e94c2e80f346d28851eaf7b060813f.html" target="element"> Area diagram Layout </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-52cba2489eac4608bea6c0b792d8fc04.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-52cba2489eac4608bea6c0b792d8fc04.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2d58a49aac3b4055bcaea5748495bf47.html" target="element"> PowSyBl Automatic SLD generator </a> </td>
																				<td> <a href="../elements/id-0e0ec8a885be494ba9fbd78e6a75bd84.html" target="element"> Automatic SLD generator </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>