<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>L2 value stream I.C</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>L2 value stream I.C</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-fbd4ea97b03341a59d7c69bbfd73d16c.png" alt="L2 value stream I.C" usemap="#id-fbd4ea97b03341a59d7c69bbfd73d16cmap"/>
			   <map name="id-fbd4ea97b03341a59d7c69bbfd73d16cmap">
				          <area shape="rect" coords="10,610,239,659" href="../objects/id-fdd4b4976d3d489aaa7cbe35cc9fb883.html" target="element" >
				  						<area shape="rect" coords="34,430,191,455" href="../elements/id-729580.html"  target="element">

				  				<area shape="rect" coords="22,370,203,468" href="../elements/id-711339.html"  target="element">

				  		<area shape="rect" coords="10,82,215,586" href="../elements/id-718167.html"  target="element">
				  						<area shape="rect" coords="682,214,839,239" href="../elements/id-736086.html"  target="element">

				  				<area shape="rect" coords="670,154,851,251" href="../elements/id-736554.html"  target="element">
				  						<area shape="rect" coords="682,538,839,563" href="../elements/id-736081.html"  target="element">

				  				<area shape="rect" coords="670,478,851,574" href="../elements/id-736531.html"  target="element">

				  		<area shape="rect" coords="658,82,862,587" href="../elements/id-718836.html"  target="element">
				  						<area shape="rect" coords="1114,430,1271,455" href="../elements/id-736013.html"  target="element">

				  				<area shape="rect" coords="1102,370,1283,466" href="../elements/id-736411.html"  target="element">

				  		<area shape="rect" coords="1090,82,1294,587" href="../elements/id-718832.html"  target="element">
				  						<area shape="rect" coords="898,538,1055,563" href="../elements/id-736178.html"  target="element">

				  				<area shape="rect" coords="886,478,1067,574" href="../elements/id-736308.html"  target="element">
				  						<area shape="rect" coords="898,430,1055,455" href="../elements/id-736174.html"  target="element">

				  				<area shape="rect" coords="886,370,1067,466" href="../elements/id-736292.html"  target="element">
				  						<area shape="rect" coords="898,322,1055,347" href="../elements/id-736170.html"  target="element">

				  				<area shape="rect" coords="886,262,1067,358" href="../elements/id-736545.html"  target="element">
				  						<area shape="rect" coords="898,214,1055,239" href="../elements/id-736164.html"  target="element">

				  				<area shape="rect" coords="886,154,1067,250" href="../elements/id-736318.html"  target="element">

				  		<area shape="rect" coords="874,82,1078,587" href="../elements/id-718834.html"  target="element">
				  						<area shape="rect" coords="250,538,407,563" href="../elements/id-736126.html"  target="element">

				  				<area shape="rect" coords="238,478,419,575" href="../elements/id-736290.html"  target="element">

				  		<area shape="rect" coords="226,82,430,587" href="../elements/id-736356.html"  target="element">
				  						<area shape="rect" coords="466,214,623,239" href="../elements/id-736096.html"  target="element">

				  				<area shape="rect" coords="454,154,635,250" href="../elements/id-718837.html"  target="element">

				  		<area shape="rect" coords="442,82,646,587" href="../elements/id-736543.html"  target="element">
				  		<area shape="rect" coords="10,10,1295,71" href="../elements/id-988752337f59432bb5552965cb7a96cc.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">SPDX-FileCopyrightText: 2017-2022 Contributors to the NBility project

SPDX-License-Identifier: CC-BY-4.0

Source: https://github.com/NBility-Model</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-988752337f59432bb5552965cb7a96cc.html" target="element"> Borgen bedrijfscontinu&#239;teit en compliance </a> </td>
											    <td> <a href="../elements/id-988752337f59432bb5552965cb7a96cc.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-736543.html" target="element"> Processen en data ontwikkelen en beheren </a> </td>
											    <td> <a href="../elements/id-736543.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-718837.html" target="element"> Processen besturen </a> </td>
													    <td> <a href="../elements/id-718837.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-736096.html" target="element"> Proces </a> </td>
															    <td> <a href="../elements/id-736096.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/id-736356.html" target="element"> Bedrijfsrichting opstellen en besturen </a> </td>
											    <td> <a href="../elements/id-736356.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-736290.html" target="element"> Bedrijfscontinu&#239;teit en compliance borgen </a> </td>
													    <td> <a href="../elements/id-736290.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-736126.html" target="element"> Risico </a> </td>
															    <td> <a href="../elements/id-736126.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/id-718834.html" target="element"> Digitale producten ontwikkelen en beheren </a> </td>
											    <td> <a href="../elements/id-718834.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-736318.html" target="element"> Digitaalproductstrategie en -portfolio ontwikkelen en beheren </a> </td>
													    <td> <a href="../elements/id-736318.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-736164.html" target="element"> Digitaal product </a> </td>
															    <td> <a href="../elements/id-736164.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-736545.html" target="element"> Digitale producten realiseren </a> </td>
													    <td> <a href="../elements/id-736545.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-736170.html" target="element"> Digitaalproductwijziging </a> </td>
															    <td> <a href="../elements/id-736170.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-736292.html" target="element"> Digitale producten leveren </a> </td>
													    <td> <a href="../elements/id-736292.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-736174.html" target="element"> Digitaalproductinstantie </a> </td>
															    <td> <a href="../elements/id-736174.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-736308.html" target="element"> Digitale producten exploiteren </a> </td>
													    <td> <a href="../elements/id-736308.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-736178.html" target="element"> Digitaalproductprestatie </a> </td>
															    <td> <a href="../elements/id-736178.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/id-718832.html" target="element"> Financi&#235;n verkrijgen en beheren </a> </td>
											    <td> <a href="../elements/id-718832.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-736411.html" target="element"> Gebeurtenissen financieel verwerken en standen beheren </a> </td>
													    <td> <a href="../elements/id-736411.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-736013.html" target="element"> Financieel feit </a> </td>
															    <td> <a href="../elements/id-736013.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/id-718836.html" target="element"> Medewerkers werven en inzetbaar houden </a> </td>
											    <td> <a href="../elements/id-718836.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-736531.html" target="element"> Medewerkers ontwikkelen </a> </td>
													    <td> <a href="../elements/id-736531.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-736081.html" target="element"> Medewerkersprestatie </a> </td>
															    <td> <a href="../elements/id-736081.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-736554.html" target="element"> Medewerkersstrategie en -plannen opstellen en besturen </a> </td>
													    <td> <a href="../elements/id-736554.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-736086.html" target="element"> Medewerkersstrategie </a> </td>
															    <td> <a href="../elements/id-736086.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/id-718167.html" target="element"> Ontwikkeling en instandhouding van energienetten besturen </a> </td>
											    <td> <a href="../elements/id-718167.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-711339.html" target="element"> Energienetrichtlijnen en -patronen vaststellen </a> </td>
													    <td> <a href="../elements/id-711339.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-729580.html" target="element"> Netstrategie </a> </td>
															    <td> <a href="../elements/id-729580.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
											
									        <tr>
									           <td> <a href="../objects/id-fdd4b4976d3d489aaa7cbe35cc9fb883.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-fdd4b4976d3d489aaa7cbe35cc9fb883.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-878857.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878857.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-736543.html" target="element"> Processen en data ontwikkelen en beheren </a> </td>
																		<td> <a href="../elements/id-718837.html" target="element"> Processen besturen </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-986422d26d5b4fb2b2ba762f186091d5.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-986422d26d5b4fb2b2ba762f186091d5.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-718837.html" target="element"> Processen besturen </a> </td>
																				<td> <a href="../elements/id-736096.html" target="element"> Proces </a> </td>
																			</tr>

													
											
																	<tr>
																		<td> <a href="../elements/id-878811.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878811.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-736356.html" target="element"> Bedrijfsrichting opstellen en besturen </a> </td>
																		<td> <a href="../elements/id-736290.html" target="element"> Bedrijfscontinu&#239;teit en compliance borgen </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-6f0bb3141c374f1d963767d443955bbb.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-6f0bb3141c374f1d963767d443955bbb.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-736290.html" target="element"> Bedrijfscontinu&#239;teit en compliance borgen </a> </td>
																				<td> <a href="../elements/id-736126.html" target="element"> Risico </a> </td>
																			</tr>

													
											
																	<tr>
																		<td> <a href="../elements/id-878465.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878465.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718834.html" target="element"> Digitale producten ontwikkelen en beheren </a> </td>
																		<td> <a href="../elements/id-736292.html" target="element"> Digitale producten leveren </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-878373.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878373.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718834.html" target="element"> Digitale producten ontwikkelen en beheren </a> </td>
																		<td> <a href="../elements/id-736308.html" target="element"> Digitale producten exploiteren </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-878792.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878792.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718834.html" target="element"> Digitale producten ontwikkelen en beheren </a> </td>
																		<td> <a href="../elements/id-736545.html" target="element"> Digitale producten realiseren </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-878500.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878500.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718834.html" target="element"> Digitale producten ontwikkelen en beheren </a> </td>
																		<td> <a href="../elements/id-736318.html" target="element"> Digitaalproductstrategie en -portfolio ontwikkelen en beheren </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-f492db64352643be95fb0ca18c05a73b.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-f492db64352643be95fb0ca18c05a73b.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-736318.html" target="element"> Digitaalproductstrategie en -portfolio ontwikkelen en beheren </a> </td>
																				<td> <a href="../elements/id-736164.html" target="element"> Digitaal product </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-97c5ffcfa89b4f938b9ead3378021203.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-97c5ffcfa89b4f938b9ead3378021203.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-736545.html" target="element"> Digitale producten realiseren </a> </td>
																				<td> <a href="../elements/id-736170.html" target="element"> Digitaalproductwijziging </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-ad74faf203d04bd1b593960eb84a1e54.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-ad74faf203d04bd1b593960eb84a1e54.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-736292.html" target="element"> Digitale producten leveren </a> </td>
																				<td> <a href="../elements/id-736174.html" target="element"> Digitaalproductinstantie </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-28db0d93baca42cabc9c561b615832b5.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-28db0d93baca42cabc9c561b615832b5.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-736308.html" target="element"> Digitale producten exploiteren </a> </td>
																				<td> <a href="../elements/id-736178.html" target="element"> Digitaalproductprestatie </a> </td>
																			</tr>

													
											
																	<tr>
																		<td> <a href="../elements/id-878767.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878767.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718832.html" target="element"> Financi&#235;n verkrijgen en beheren </a> </td>
																		<td> <a href="../elements/id-736411.html" target="element"> Gebeurtenissen financieel verwerken en standen beheren </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-0cbc6fc44cb14ddb82891c62efaecee8.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-0cbc6fc44cb14ddb82891c62efaecee8.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-736411.html" target="element"> Gebeurtenissen financieel verwerken en standen beheren </a> </td>
																				<td> <a href="../elements/id-736013.html" target="element"> Financieel feit </a> </td>
																			</tr>

													
											
																	<tr>
																		<td> <a href="../elements/id-878798.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878798.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718836.html" target="element"> Medewerkers werven en inzetbaar houden </a> </td>
																		<td> <a href="../elements/id-736554.html" target="element"> Medewerkersstrategie en -plannen opstellen en besturen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-878911.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878911.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718836.html" target="element"> Medewerkers werven en inzetbaar houden </a> </td>
																		<td> <a href="../elements/id-736531.html" target="element"> Medewerkers ontwikkelen </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-8e325deeb2944fdd9203d6604ef07a79.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-8e325deeb2944fdd9203d6604ef07a79.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-736531.html" target="element"> Medewerkers ontwikkelen </a> </td>
																				<td> <a href="../elements/id-736081.html" target="element"> Medewerkersprestatie </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-8016a961d3f04b3e9b88e843f736f836.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-8016a961d3f04b3e9b88e843f736f836.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-736554.html" target="element"> Medewerkersstrategie en -plannen opstellen en besturen </a> </td>
																				<td> <a href="../elements/id-736086.html" target="element"> Medewerkersstrategie </a> </td>
																			</tr>

													
											
																	<tr>
																		<td> <a href="../elements/id-878753.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878753.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718167.html" target="element"> Ontwikkeling en instandhouding van energienetten besturen </a> </td>
																		<td> <a href="../elements/id-711339.html" target="element"> Energienetrichtlijnen en -patronen vaststellen </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-8e630199f8f64d51b105e65da1cad48b.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-8e630199f8f64d51b105e65da1cad48b.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-711339.html" target="element"> Energienetrichtlijnen en -patronen vaststellen </a> </td>
																				<td> <a href="../elements/id-729580.html" target="element"> Netstrategie </a> </td>
																			</tr>

													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>