<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>L2 value stream P.D.1</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>L2 value stream P.D.1</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-f3dc20e18a9b4b0ca701c5fbb3058697.png" alt="L2 value stream P.D.1" usemap="#id-f3dc20e18a9b4b0ca701c5fbb3058697map"/>
			   <map name="id-f3dc20e18a9b4b0ca701c5fbb3058697map">
				          <area shape="rect" coords="10,610,239,659" href="../objects/id-389f865846a74765a7da6d4f80481e73.html" target="element" >
				  						<area shape="rect" coords="466,430,623,455" href="../elements/id-729580.html"  target="element">

				  				<area shape="rect" coords="454,370,635,467" href="../elements/id-711339.html"  target="element">
				  						<area shape="rect" coords="466,322,623,347" href="../elements/id-729585.html"  target="element">

				  				<area shape="rect" coords="454,262,635,359" href="../elements/id-711342.html"  target="element">
				  						<area shape="rect" coords="466,214,623,239" href="../elements/id-729592.html"  target="element">

				  				<area shape="rect" coords="454,154,635,250" href="../elements/id-711321.html"  target="element">

				  		<area shape="rect" coords="442,82,647,587" href="../elements/id-718167.html"  target="element">
				  						<area shape="rect" coords="1114,322,1271,347" href="../elements/id-729684.html"  target="element">

				  				<area shape="rect" coords="1102,262,1283,359" href="../elements/id-718345.html"  target="element">

				  		<area shape="rect" coords="1090,82,1295,587" href="../elements/id-718173.html"  target="element">
				  						<area shape="rect" coords="34,214,191,239" href="../elements/id-729634.html"  target="element">

				  				<area shape="rect" coords="22,154,203,251" href="../elements/id-711284.html"  target="element">
				  						<area shape="rect" coords="34,538,191,563" href="../elements/id-729651.html"  target="element">

				  				<area shape="rect" coords="22,478,203,574" href="../elements/id-718342.html"  target="element">

				  		<area shape="rect" coords="10,82,215,587" href="../elements/id-718171.html"  target="element">
				  						<area shape="rect" coords="898,538,1055,563" href="../elements/id-729611.html"  target="element">

				  				<area shape="rect" coords="886,478,1067,574" href="../elements/id-711280.html"  target="element">
				  						<area shape="rect" coords="898,430,1055,455" href="../elements/id-729622.html"  target="element">

				  				<area shape="rect" coords="886,370,1067,466" href="../elements/id-711278.html"  target="element">
				  						<area shape="rect" coords="898,322,1055,347" href="../elements/id-729629.html"  target="element">

				  				<area shape="rect" coords="886,262,1067,359" href="../elements/id-711282.html"  target="element">
				  						<area shape="rect" coords="898,214,1055,239" href="../elements/id-729618.html"  target="element">

				  				<area shape="rect" coords="886,154,1067,251" href="../elements/id-711316.html"  target="element">

				  		<area shape="rect" coords="874,82,1079,587" href="../elements/id-718169.html"  target="element">
				  						<area shape="rect" coords="250,430,407,455" href="../elements/id-729570.html"  target="element">

				  				<area shape="rect" coords="238,370,419,467" href="../elements/id-711323.html"  target="element">
				  						<area shape="rect" coords="250,214,407,239" href="../elements/id-729563.html"  target="element">

				  				<area shape="rect" coords="238,154,419,250" href="../elements/id-711318.html"  target="element">

				  		<area shape="rect" coords="226,82,431,587" href="../elements/id-718168.html"  target="element">
				  						<area shape="rect" coords="682,322,839,347" href="../elements/id-729661.html"  target="element">

				  				<area shape="rect" coords="670,262,851,359" href="../elements/id-718341.html"  target="element">
				  						<area shape="rect" coords="682,214,839,239" href="../elements/id-729661.html"  target="element">

				  				<area shape="rect" coords="670,154,851,251" href="../elements/id-711337.html"  target="element">

				  		<area shape="rect" coords="658,82,863,587" href="../elements/id-718170.html"  target="element">
				  		<area shape="rect" coords="10,10,1295,71" href="../elements/id-66cbd1922333427da4a6446c460c5c85.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">SPDX-FileCopyrightText: 2017-2022 Contributors to the NBility project

SPDX-License-Identifier: CC-BY-4.0

Source: https://github.com/NBility-Model</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-66cbd1922333427da4a6446c460c5c85.html" target="element"> Instandhouden van energienetten (onderhoud) </a> </td>
											    <td> <a href="../elements/id-66cbd1922333427da4a6446c460c5c85.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-718170.html" target="element"> Energietransport en -netten meten </a> </td>
											    <td> <a href="../elements/id-718170.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-711337.html" target="element"> Beschikbaar krijgen metingen van energietransport en -netten </a> </td>
													    <td> <a href="../elements/id-711337.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-729661.html" target="element"> Meting </a> </td>
															    <td> <a href="../elements/id-729661.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-718341.html" target="element"> Beschikbaar maken metingen van energietransport en -netten </a> </td>
													    <td> <a href="../elements/id-718341.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-729661.html" target="element"> Meting </a> </td>
															    <td> <a href="../elements/id-729661.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/id-718168.html" target="element"> Energie transporteren </a> </td>
											    <td> <a href="../elements/id-718168.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-711318.html" target="element"> Energietransport verzorgen </a> </td>
													    <td> <a href="../elements/id-711318.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-729563.html" target="element"> Energietransport </a> </td>
															    <td> <a href="../elements/id-729563.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-711323.html" target="element"> Transport- en bedieningsplannen maken </a> </td>
													    <td> <a href="../elements/id-711323.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-729570.html" target="element"> Transportplanning </a> </td>
															    <td> <a href="../elements/id-729570.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/id-718169.html" target="element"> Werkzaamheden uitvoeren aan energienetten </a> </td>
											    <td> <a href="../elements/id-718169.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-711316.html" target="element"> Werkzaamhedenportfolio opstellen en onderhouden </a> </td>
													    <td> <a href="../elements/id-711316.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-729618.html" target="element"> Werkportfolio </a> </td>
															    <td> <a href="../elements/id-729618.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-711282.html" target="element"> Regievoeren over werkzaamheden </a> </td>
													    <td> <a href="../elements/id-711282.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-729629.html" target="element"> Werkopdracht </a> </td>
															    <td> <a href="../elements/id-729629.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-711278.html" target="element"> Werkzaamheden uitvoeren </a> </td>
													    <td> <a href="../elements/id-711278.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-729622.html" target="element"> Werkactiviteit </a> </td>
															    <td> <a href="../elements/id-729622.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-711280.html" target="element"> Werkzaamheden faciliteren </a> </td>
													    <td> <a href="../elements/id-711280.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-729611.html" target="element"> Werkmiddel </a> </td>
															    <td> <a href="../elements/id-729611.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/id-718171.html" target="element"> Klanten bedienen </a> </td>
											    <td> <a href="../elements/id-718171.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-718342.html" target="element"> Inkomstenverlies beperken </a> </td>
													    <td> <a href="../elements/id-718342.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-729651.html" target="element"> Inkomstenverlies </a> </td>
															    <td> <a href="../elements/id-729651.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-711284.html" target="element"> Klanten bedienen en relaties onderhouden </a> </td>
													    <td> <a href="../elements/id-711284.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-729634.html" target="element"> Klant </a> </td>
															    <td> <a href="../elements/id-729634.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/id-718173.html" target="element"> De energiemarkt faciliteren </a> </td>
											    <td> <a href="../elements/id-718173.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-718345.html" target="element"> Marktdata beheren </a> </td>
													    <td> <a href="../elements/id-718345.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-729684.html" target="element"> Aansluiting </a> </td>
															    <td> <a href="../elements/id-729684.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/id-718167.html" target="element"> Ontwikkeling en instandhouding van energienetten besturen </a> </td>
											    <td> <a href="../elements/id-718167.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-711321.html" target="element"> Energienetten uitbreiden, vervangen en vernieuwen </a> </td>
													    <td> <a href="../elements/id-711321.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-729592.html" target="element"> Energienet </a> </td>
															    <td> <a href="../elements/id-729592.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-711342.html" target="element"> Energienetten in stand houden </a> </td>
													    <td> <a href="../elements/id-711342.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-729585.html" target="element"> Netkwaliteit </a> </td>
															    <td> <a href="../elements/id-729585.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-711339.html" target="element"> Energienetrichtlijnen en -patronen vaststellen </a> </td>
													    <td> <a href="../elements/id-711339.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-729580.html" target="element"> Netstrategie </a> </td>
															    <td> <a href="../elements/id-729580.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
											
									        <tr>
									           <td> <a href="../objects/id-389f865846a74765a7da6d4f80481e73.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-389f865846a74765a7da6d4f80481e73.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-878937.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878937.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718170.html" target="element"> Energietransport en -netten meten </a> </td>
																		<td> <a href="../elements/id-718341.html" target="element"> Beschikbaar maken metingen van energietransport en -netten </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-878616.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878616.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718170.html" target="element"> Energietransport en -netten meten </a> </td>
																		<td> <a href="../elements/id-711337.html" target="element"> Beschikbaar krijgen metingen van energietransport en -netten </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-f6ab90ac6e2b4f79a20c5b86f777eff0.html" target="element"> modification </a> </td>
																				<td> <a href="../elements/id-f6ab90ac6e2b4f79a20c5b86f777eff0.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-711337.html" target="element"> Beschikbaar krijgen metingen van energietransport en -netten </a> </td>
																				<td> <a href="../elements/id-729661.html" target="element"> Meting </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-32cbdacc6eda46d485cf296ad9183ac0.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-32cbdacc6eda46d485cf296ad9183ac0.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-718341.html" target="element"> Beschikbaar maken metingen van energietransport en -netten </a> </td>
																				<td> <a href="../elements/id-729661.html" target="element"> Meting </a> </td>
																			</tr>

													
											
																	<tr>
																		<td> <a href="../elements/id-878420.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878420.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718168.html" target="element"> Energie transporteren </a> </td>
																		<td> <a href="../elements/id-711323.html" target="element"> Transport- en bedieningsplannen maken </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-878865.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878865.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718168.html" target="element"> Energie transporteren </a> </td>
																		<td> <a href="../elements/id-711318.html" target="element"> Energietransport verzorgen </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-2ca14e0e99a54a5a8e97b37585d1c5ac.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-2ca14e0e99a54a5a8e97b37585d1c5ac.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-711318.html" target="element"> Energietransport verzorgen </a> </td>
																				<td> <a href="../elements/id-729563.html" target="element"> Energietransport </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-fff5efd563884e629dc50f9065cef852.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-fff5efd563884e629dc50f9065cef852.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-711323.html" target="element"> Transport- en bedieningsplannen maken </a> </td>
																				<td> <a href="../elements/id-729570.html" target="element"> Transportplanning </a> </td>
																			</tr>

													
											
																	<tr>
																		<td> <a href="../elements/id-878966.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878966.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718169.html" target="element"> Werkzaamheden uitvoeren aan energienetten </a> </td>
																		<td> <a href="../elements/id-711282.html" target="element"> Regievoeren over werkzaamheden </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-878855.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878855.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718169.html" target="element"> Werkzaamheden uitvoeren aan energienetten </a> </td>
																		<td> <a href="../elements/id-711316.html" target="element"> Werkzaamhedenportfolio opstellen en onderhouden </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-878327.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878327.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718169.html" target="element"> Werkzaamheden uitvoeren aan energienetten </a> </td>
																		<td> <a href="../elements/id-711280.html" target="element"> Werkzaamheden faciliteren </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-878380.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878380.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718169.html" target="element"> Werkzaamheden uitvoeren aan energienetten </a> </td>
																		<td> <a href="../elements/id-711278.html" target="element"> Werkzaamheden uitvoeren </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-42d8c43daf17480688f5fe86cb0046b9.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-42d8c43daf17480688f5fe86cb0046b9.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-711316.html" target="element"> Werkzaamhedenportfolio opstellen en onderhouden </a> </td>
																				<td> <a href="../elements/id-729618.html" target="element"> Werkportfolio </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-c42f3d944ed94c5c89493e48466c8056.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c42f3d944ed94c5c89493e48466c8056.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-711282.html" target="element"> Regievoeren over werkzaamheden </a> </td>
																				<td> <a href="../elements/id-729629.html" target="element"> Werkopdracht </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-45d2c8b11a424dfe9b967e98c2f2f7ef.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-45d2c8b11a424dfe9b967e98c2f2f7ef.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-711278.html" target="element"> Werkzaamheden uitvoeren </a> </td>
																				<td> <a href="../elements/id-729622.html" target="element"> Werkactiviteit </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-1188e9e2e0754d5c83f487da51c28db1.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-1188e9e2e0754d5c83f487da51c28db1.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-711280.html" target="element"> Werkzaamheden faciliteren </a> </td>
																				<td> <a href="../elements/id-729611.html" target="element"> Werkmiddel </a> </td>
																			</tr>

													
											
																	<tr>
																		<td> <a href="../elements/id-878512.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878512.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718171.html" target="element"> Klanten bedienen </a> </td>
																		<td> <a href="../elements/id-718342.html" target="element"> Inkomstenverlies beperken </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-878804.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878804.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718171.html" target="element"> Klanten bedienen </a> </td>
																		<td> <a href="../elements/id-711284.html" target="element"> Klanten bedienen en relaties onderhouden </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-4aa84cd953b14d5da886dfa4677e7136.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-4aa84cd953b14d5da886dfa4677e7136.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-718342.html" target="element"> Inkomstenverlies beperken </a> </td>
																				<td> <a href="../elements/id-729651.html" target="element"> Inkomstenverlies </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-6e61750f4f9249e0bbe93bcb7b69503f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-6e61750f4f9249e0bbe93bcb7b69503f.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-711284.html" target="element"> Klanten bedienen en relaties onderhouden </a> </td>
																				<td> <a href="../elements/id-729634.html" target="element"> Klant </a> </td>
																			</tr>

													
											
																	<tr>
																		<td> <a href="../elements/id-878306.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878306.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718173.html" target="element"> De energiemarkt faciliteren </a> </td>
																		<td> <a href="../elements/id-718345.html" target="element"> Marktdata beheren </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-e304578ba5794f558a2173ff359d21ee.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e304578ba5794f558a2173ff359d21ee.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-718345.html" target="element"> Marktdata beheren </a> </td>
																				<td> <a href="../elements/id-729684.html" target="element"> Aansluiting </a> </td>
																			</tr>

													
											
																	<tr>
																		<td> <a href="../elements/id-878371.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878371.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718167.html" target="element"> Ontwikkeling en instandhouding van energienetten besturen </a> </td>
																		<td> <a href="../elements/id-711342.html" target="element"> Energienetten in stand houden </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-878458.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878458.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718167.html" target="element"> Ontwikkeling en instandhouding van energienetten besturen </a> </td>
																		<td> <a href="../elements/id-711321.html" target="element"> Energienetten uitbreiden, vervangen en vernieuwen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-878753.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878753.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718167.html" target="element"> Ontwikkeling en instandhouding van energienetten besturen </a> </td>
																		<td> <a href="../elements/id-711339.html" target="element"> Energienetrichtlijnen en -patronen vaststellen </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-9c16357f67b64ee5acd3079b1fa07733.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-9c16357f67b64ee5acd3079b1fa07733.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-711321.html" target="element"> Energienetten uitbreiden, vervangen en vernieuwen </a> </td>
																				<td> <a href="../elements/id-729592.html" target="element"> Energienet </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-f1a3e9d4fc7943119aafcb4cfe095434.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-f1a3e9d4fc7943119aafcb4cfe095434.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-711342.html" target="element"> Energienetten in stand houden </a> </td>
																				<td> <a href="../elements/id-729585.html" target="element"> Netkwaliteit </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-8e630199f8f64d51b105e65da1cad48b.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-8e630199f8f64d51b105e65da1cad48b.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-711339.html" target="element"> Energienetrichtlijnen en -patronen vaststellen </a> </td>
																				<td> <a href="../elements/id-729580.html" target="element"> Netstrategie </a> </td>
																			</tr>

													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>